.tooltip {
	display: inline-flex;
	flex-direction: column;
	border-radius: $radius;
	backdrop-filter: blur(112px);
	background: #00040726;
	@include adaptiveValue("padding-block", 32, 17);
	@include adaptiveValue("padding-inline", 46, 22);
	overflow: hidden;

	// .team-person-info__title

	&__title {
		@include adaptiveValue("font-size", 77, 42);
		font-weight: 800;
		line-height: 100%;
	}

	// .team-person-info__description

	&__description {
		@include adaptiveValue("font-size", 36, 19);
		font-weight: 700;
		line-height: 130%;
	}
}
