.page__portfolio {
	.header {
		position: relative;
	}
}

.portfolio {
	background-color: $white;
	padding-top: 36px;

	&__type {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 55);
		}
	}

	&__body {
		display: flex;
		gap: 30px;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.card-circle {
		position: relative;
		z-index: 5;
		flex: 0 0;
	}
}
