.page__portfolio {
   .header {
      position: relative;
   }
}

.portfolio {
   padding-top: 36px;

   &__type {
   }

   &__body {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
   }

   .card-circle {
      position: relative;
      z-index: 5;
      flex: 0 0;
   }

   .services-cases__cta {
      display: grid;
      place-items: center;
   }
}
