<footer class="footer">
	<div class="footer__container">
		<div class="footer__body">
			<div>
				<div class="contacts-card">
					<div class="contacts-card__body">
						<div class="contacts-card__icon"><svg width="100%" height="100%" viewBox="0 0 60 36" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M56.928 35.0796H50.4623C48.0172 35.0796 47.2805 33.0991 42.8973 28.7131C39.0667 25.0213 37.4488 24.5623 36.4798 24.5623C35.1397 24.5623 34.7742 24.9306 34.7742 26.7751V32.5891C34.7742 34.1616 34.2642 35.0825 30.1558 35.0825C26.1702 34.8147 22.3051 33.6039 18.8791 31.5497C15.453 29.4956 12.564 26.6569 10.45 23.2675C5.43043 17.02 1.93784 9.68753 0.25 1.85313C0.25 0.884131 0.618334 0.00579741 2.46567 0.00579741H8.92567C10.586 0.00579741 11.1838 0.745298 11.8355 2.4538C14.972 11.6848 20.3242 19.7145 22.4973 19.7145C23.3303 19.7145 23.693 19.3461 23.693 17.2693V7.76063C23.4182 3.4228 21.1147 3.0573 21.1147 1.48763C21.1438 1.07351 21.3332 0.687068 21.6427 0.410378C21.9522 0.133688 22.3574 -0.0114485 22.7722 0.00579741H32.9268C34.3152 0.00579741 34.7742 0.69713 34.7742 2.35746V15.1925C34.7742 16.578 35.3692 17.037 35.7885 17.037C36.6215 17.037 37.2618 16.578 38.789 15.0536C42.0625 11.0614 44.7369 6.61361 46.728 1.8503C46.9318 1.2784 47.3171 0.788858 47.8251 0.456346C48.333 0.123833 48.9358 -0.0333996 49.5415 0.00863054H56.0043C57.9423 0.00863054 58.3532 0.977632 57.9423 2.3603C55.5917 7.62581 52.6832 12.6241 49.2667 17.2693C48.5697 18.3318 48.292 18.8843 49.2667 20.131C49.907 21.1 52.1737 22.9926 53.6952 24.7918C55.9108 27.0018 57.7497 29.5575 59.1408 32.3568C59.6962 34.1588 58.7725 35.0796 56.928 35.0796Z" fill="black" />
							</svg>
						</div>
						<div class="contacts-card__title">
							<div class="contacts-card__decor"></div>
							<p class='text-xs'>VK</p>
						</div>
					</div>
					<a href='https://vk.com/club225091936' target='_blank'></a>
				</div>
			</div>
			<div>
				<div class="contacts-card">
					<div class="contacts-card__body">
						<div class="contacts-card__icon"><svg width="100%" height="100%" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M18.2172 3.89359C17.2881 2.95504 16.1814 2.21089 14.9616 1.70455C13.7419 1.1982 12.4335 0.939795 11.1128 0.944396C5.57929 0.944396 1.06936 5.45433 1.06936 10.9879C1.06936 12.7614 1.53555 14.4843 2.40714 16.0045L0.988281 21.2137L6.30899 19.8152C7.77851 20.6158 9.43046 21.0415 11.1128 21.0415C16.6464 21.0415 21.1563 16.5315 21.1563 10.998C21.1563 8.3123 20.1124 5.78877 18.2172 3.89359ZM11.1128 19.3388C9.61289 19.3388 8.14336 18.9334 6.85626 18.1733L6.55222 17.9909L3.3902 18.822L4.23138 15.741L4.02868 15.4268C3.19536 14.0961 2.75287 12.558 2.75171 10.9879C2.75171 6.38672 6.50154 2.63689 11.1027 2.63689C13.3323 2.63689 15.4302 3.50847 17.0011 5.08948C17.7789 5.86373 18.3953 6.78467 18.8146 7.79891C19.2338 8.81315 19.4476 9.90052 19.4435 10.998C19.4638 15.5991 15.714 19.3388 11.1128 19.3388ZM15.6937 13.0959C15.4403 12.9743 14.2039 12.3662 13.9809 12.275C13.7478 12.1939 13.5857 12.1533 13.4134 12.3966C13.2411 12.6499 12.7648 13.2175 12.6229 13.3796C12.481 13.5519 12.329 13.5722 12.0756 13.4404C11.8222 13.3188 11.0115 13.0452 10.0588 12.1939C9.30885 11.525 8.81225 10.7041 8.66023 10.4507C8.51834 10.1974 8.63996 10.0656 8.77171 9.93385C8.88319 9.82237 9.02508 9.63995 9.14669 9.49806C9.26831 9.35618 9.31898 9.24469 9.40006 9.08254C9.48114 8.91025 9.4406 8.76837 9.37979 8.64675C9.31898 8.52513 8.81225 7.2887 8.60956 6.78197C8.40686 6.2955 8.19403 6.35631 8.04201 6.34618H7.55555C7.38326 6.34618 7.11976 6.40699 6.88666 6.66035C6.6637 6.91372 6.01508 7.5218 6.01508 8.75823C6.01508 9.99466 6.91707 11.1906 7.03868 11.3527C7.1603 11.525 8.81225 14.0587 11.3256 15.1431C11.9236 15.4066 12.3898 15.5586 12.7546 15.6701C13.3526 15.8626 13.8999 15.8322 14.3356 15.7714C14.8221 15.7005 15.8254 15.1633 16.0281 14.5755C16.241 13.9877 16.241 13.4911 16.17 13.3796C16.0991 13.2682 15.9471 13.2175 15.6937 13.0959Z" fill="#000407" />
							</svg>

						</div>
						<div class="contacts-card__title">
							<div class="contacts-card__decor"></div>
							<p class='text-xs'>WA</p>
						</div>
					</div>
					<a href='https://wa.me/79134629902?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%D0%9F%D0%B8%D1%88%D1%83%20%D1%81%20%D1%81%D0%B0%D0%B9%D1%82%D0%B0%20%D0%9F%D0%A0%D0%9E%D0%91%D0%A2%D0%9B' target='_blank'></a>
				</div>
			</div>
			<div class='text-xs align-center'>
				<div class="contacts-card contacts-card--w2" data-visible-on='min-width: 991.98px'>
					<div class="contacts-card__body">
						<div class="contacts-card__icon" style='align-self: center;'><svg width="100%" height="100%" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M26.6563 18.3359C21.9618 18.3359 18.1563 22.1415 18.1563 26.8359C18.1563 31.5304 21.9618 35.3359 26.6563 35.3359C31.3507 35.3359 35.1562 31.5304 35.1562 26.8359C35.1562 22.1415 31.3507 18.3359 26.6563 18.3359ZM15.1563 26.8359C15.1563 20.4847 20.305 15.3359 26.6563 15.3359C33.0075 15.3359 38.1562 20.4847 38.1562 26.8359C38.1562 33.1872 33.0075 38.3359 26.6563 38.3359C20.305 38.3359 15.1563 33.1872 15.1563 26.8359Z" fill="black" />
								<path fill-rule="evenodd" clip-rule="evenodd" d="M15.3337 2.87906C20.7413 0.323595 26.8543 -0.327436 32.6788 1.03182C38.5032 2.39108 43.6966 5.68069 47.4144 10.3657C51.1323 15.0508 53.1559 20.8558 53.1563 26.8367L53.1563 29.3368C53.1563 31.7238 52.2081 34.013 50.5202 35.7008C48.8324 37.3886 46.5432 38.3368 44.1563 38.3368C41.7693 38.3368 39.4801 37.3886 37.7923 35.7008C36.1045 34.013 35.1563 31.7238 35.1563 29.3368V16.8368C35.1563 16.0084 35.8279 15.3368 36.6563 15.3368C37.4847 15.3368 38.1563 16.0084 38.1563 16.8368V29.3368C38.1563 30.9281 38.7884 32.4543 39.9136 33.5795C41.0389 34.7047 42.565 35.3368 44.1563 35.3368C45.7476 35.3368 47.2737 34.7047 48.3989 33.5795C49.5241 32.4543 50.1563 30.9281 50.1563 29.3368V26.8369C50.1563 26.8369 50.1563 26.837 50.1563 26.8369C50.1559 21.5331 48.3614 16.3852 45.0645 12.2306C41.7675 8.0759 37.1621 5.1587 31.997 3.95332C26.8319 2.74794 21.4109 3.32527 16.6155 5.59144C11.8202 7.8576 7.93241 11.6793 5.58443 16.4352C3.23645 21.191 2.56635 26.6013 3.68307 31.7863C4.79979 36.9713 7.63767 41.626 11.7353 44.9937C15.8328 48.3613 20.9491 50.2437 26.2522 50.3349C31.5553 50.4261 36.7333 48.7207 40.9443 45.4959C41.602 44.9922 42.5435 45.1171 43.0472 45.7748C43.5509 46.4325 43.426 47.3741 42.7683 47.8777C38.0198 51.5142 32.1807 53.4373 26.2007 53.3345C20.2206 53.2317 14.4511 51.1089 9.83044 47.3113C5.20976 43.5138 2.0096 38.2648 0.75032 32.4179C-0.508965 26.571 0.246687 20.4701 2.89441 15.1071C5.54213 9.74412 9.92619 5.43452 15.3337 2.87906Z" fill="black" />
							</svg>
						</div>
						<address class='contacts-card__address'>
							<p class='text-xs text-bold'>info@probtl.ru</p>
						</address>
					</div>
					<a class='text-xs' href="mailto:info@probtl.ru"></a>
				</div>
				<div class="contacts-card">
					<div class="contacts-card__body">
						<div class="contacts-card__icon" style='align-self: center;'>
							<svg width="100%" height="100%" viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M15.5001 3.72593C14.9481 3.25125 14.2424 2.99347 13.5144 3.00063L13.4997 3.00071H6.7504C6.33415 3.00119 5.92254 3.0883 5.54177 3.25649C5.16079 3.42477 4.81902 3.67053 4.53823 3.97814C4.25744 4.28574 4.04377 4.64844 3.91083 5.04314C3.77903 5.43448 3.72945 5.84877 3.76514 6.26008C4.48035 12.9759 6.76647 19.4292 10.4386 25.0977L10.4457 25.1087C13.7821 30.3592 18.2336 34.8108 23.4842 38.1472L23.4959 38.1546C29.1382 41.8136 35.5595 44.0992 42.2446 44.8279C42.6566 44.8634 43.0715 44.8134 43.4633 44.6809C43.859 44.547 44.2225 44.332 44.5303 44.0496C44.8381 43.7672 45.0836 43.4236 45.2509 43.0408C45.4183 42.6581 45.5039 42.2445 45.5022 41.8268L45.5022 41.8207V35.0707C45.5022 35.0648 45.5022 35.0588 45.5023 35.0529C45.5024 35.0464 45.5025 35.04 45.5026 35.0335C45.5209 34.2979 45.2681 33.5812 44.7924 33.0197C44.318 32.4598 43.6549 32.0933 42.9286 31.9893C40.6589 31.6894 38.4303 31.134 36.2853 30.3336L36.2819 30.3323C35.745 30.1305 35.1615 30.0868 34.6006 30.2064C34.0408 30.3258 33.5269 30.6028 33.1195 31.0047C33.1186 31.0056 33.1178 31.0064 33.1169 31.0073L30.2653 33.8589C29.7879 34.3363 29.0502 34.4359 28.4632 34.1021C22.5955 30.7657 17.7372 25.9073 14.4007 20.0396C14.067 19.4527 14.1665 18.715 14.644 18.2375L17.4956 15.386C17.4965 15.3851 17.4974 15.3842 17.4983 15.3833C17.9001 14.9759 18.1771 14.462 18.2965 13.9023C18.4161 13.3414 18.3724 12.7579 18.1706 12.221L18.1693 12.2176C17.3689 10.0727 16.8135 7.84416 16.5136 5.57449C16.4105 4.85606 16.0505 4.19926 15.5001 3.72593ZM13.4928 0.000706541C14.9459 -0.0116825 16.3543 0.503733 17.4562 1.45138C18.5601 2.40074 19.2811 3.71912 19.4849 5.16078L19.4869 5.17456C19.757 7.22255 20.2578 9.23342 20.98 11.1688L19.5747 11.6932L20.9788 11.1654C21.3824 12.2392 21.4697 13.4062 21.2305 14.5281C20.9912 15.65 20.4353 16.6797 19.6287 17.4954L19.6228 17.5014L17.5874 19.5368C20.4303 24.1734 24.3294 28.0726 28.9661 30.9154L31.0074 28.8741C31.8231 28.0675 32.8529 27.5117 33.9748 27.2724C35.0959 27.0333 36.262 27.1204 37.3352 27.5233C39.2702 28.2452 41.2807 28.746 43.3283 29.0161L43.3417 29.0179C44.799 29.2234 46.1299 29.9575 47.0813 31.0804C48.0284 32.1982 48.5336 33.6237 48.5022 35.088V41.8176C48.5051 42.6521 48.334 43.478 47.9997 44.2427C47.665 45.0082 47.1741 45.6954 46.5584 46.2602C45.9427 46.825 45.2159 47.2551 44.4244 47.5227C43.6329 47.7904 42.7943 47.8898 41.9622 47.8146L41.9351 47.8119C34.7806 47.0345 27.908 44.5903 21.8693 40.6755C16.2515 37.1045 11.4882 32.3412 7.91723 26.7233C3.98864 20.6571 1.54375 13.751 0.780556 6.56411L0.778256 6.54071C0.703288 5.71111 0.801881 4.87499 1.06776 4.08558C1.33363 3.29617 1.76097 2.57077 2.32255 1.95557C2.88414 1.34037 3.56767 0.848836 4.32963 0.512273C5.09159 0.175711 5.91528 0.00149165 6.74826 0.000707137L13.4928 0.000706541Z" fill="black" />
							</svg>
						</div>
						<address class='contacts-card__address'>
							<p class='text-bold'>383 210-61-61</p>
							<p>Новосибирск</p>
						</address>
					</div>
					<a href="tel:+73832106161"></a>
				</div>
				<div class="contacts-card">
					<div class="contacts-card__body">
						<div class="contacts-card__icon" style='align-self: center;'><svg width="100%" height="100%" viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M15.5001 3.72593C14.9481 3.25125 14.2424 2.99347 13.5144 3.00063L13.4997 3.00071H6.7504C6.33415 3.00119 5.92254 3.0883 5.54177 3.25649C5.16079 3.42477 4.81902 3.67053 4.53823 3.97814C4.25744 4.28574 4.04377 4.64844 3.91083 5.04314C3.77903 5.43448 3.72945 5.84877 3.76514 6.26008C4.48035 12.9759 6.76647 19.4292 10.4386 25.0977L10.4457 25.1087C13.7821 30.3592 18.2336 34.8108 23.4842 38.1472L23.4959 38.1546C29.1382 41.8136 35.5595 44.0992 42.2446 44.8279C42.6566 44.8634 43.0715 44.8134 43.4633 44.6809C43.859 44.547 44.2225 44.332 44.5303 44.0496C44.8381 43.7672 45.0836 43.4236 45.2509 43.0408C45.4183 42.6581 45.5039 42.2445 45.5022 41.8268L45.5022 41.8207V35.0707C45.5022 35.0648 45.5022 35.0588 45.5023 35.0529C45.5024 35.0464 45.5025 35.04 45.5026 35.0335C45.5209 34.2979 45.2681 33.5812 44.7924 33.0197C44.318 32.4598 43.6549 32.0933 42.9286 31.9893C40.6589 31.6894 38.4303 31.134 36.2853 30.3336L36.2819 30.3323C35.745 30.1305 35.1615 30.0868 34.6006 30.2064C34.0408 30.3258 33.5269 30.6028 33.1195 31.0047C33.1186 31.0056 33.1178 31.0064 33.1169 31.0073L30.2653 33.8589C29.7879 34.3363 29.0502 34.4359 28.4632 34.1021C22.5955 30.7657 17.7372 25.9073 14.4007 20.0396C14.067 19.4527 14.1665 18.715 14.644 18.2375L17.4956 15.386C17.4965 15.3851 17.4974 15.3842 17.4983 15.3833C17.9001 14.9759 18.1771 14.462 18.2965 13.9023C18.4161 13.3414 18.3724 12.7579 18.1706 12.221L18.1693 12.2176C17.3689 10.0727 16.8135 7.84416 16.5136 5.57449C16.4105 4.85606 16.0505 4.19926 15.5001 3.72593ZM13.4928 0.000706541C14.9459 -0.0116825 16.3543 0.503733 17.4562 1.45138C18.5601 2.40074 19.2811 3.71912 19.4849 5.16078L19.4869 5.17456C19.757 7.22255 20.2578 9.23342 20.98 11.1688L19.5747 11.6932L20.9788 11.1654C21.3824 12.2392 21.4697 13.4062 21.2305 14.5281C20.9912 15.65 20.4353 16.6797 19.6287 17.4954L19.6228 17.5014L17.5874 19.5368C20.4303 24.1734 24.3294 28.0726 28.9661 30.9154L31.0074 28.8741C31.8231 28.0675 32.8529 27.5117 33.9748 27.2724C35.0959 27.0333 36.262 27.1204 37.3352 27.5233C39.2702 28.2452 41.2807 28.746 43.3283 29.0161L43.3417 29.0179C44.799 29.2234 46.1299 29.9575 47.0813 31.0804C48.0284 32.1982 48.5336 33.6237 48.5022 35.088V41.8176C48.5051 42.6521 48.334 43.478 47.9997 44.2427C47.665 45.0082 47.1741 45.6954 46.5584 46.2602C45.9427 46.825 45.2159 47.2551 44.4244 47.5227C43.6329 47.7904 42.7943 47.8898 41.9622 47.8146L41.9351 47.8119C34.7806 47.0345 27.908 44.5903 21.8693 40.6755C16.2515 37.1045 11.4882 32.3412 7.91723 26.7233C3.98864 20.6571 1.54375 13.751 0.780556 6.56411L0.778256 6.54071C0.703288 5.71111 0.801881 4.87499 1.06776 4.08558C1.33363 3.29617 1.76097 2.57077 2.32255 1.95557C2.88414 1.34037 3.56767 0.848836 4.32963 0.512273C5.09159 0.175711 5.91528 0.00149165 6.74826 0.000707137L13.4928 0.000706541Z" fill="black" />
							</svg>
						</div>
						<address class='contacts-card__address'>
							<p class='text-bold'>343 226-41-41</p>
							<p>Екатеринбург</p>
						</address>
					</div>
					<a href="tel:+73432264141"></a>
				</div>
			</div>
			<div>
				<div class="contacts-card">
					<div class="contacts-card__body">
						<div class="contacts-card__icon"><svg width="100%" height="100%" viewBox="0 0 57 47" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M56.4406 1.00162C56.861 1.34154 57.0659 1.88135 56.9771 2.41459L49.8937 44.9146C49.8095 45.4198 49.4733 45.8472 49.0021 46.0479C48.5309 46.2487 47.9898 46.1952 47.5671 45.9059L30.8878 34.4938L22.5627 42.8908C22.1347 43.3224 21.4885 43.4531 20.9264 43.2217C20.3643 42.9903 19.9975 42.4425 19.9975 41.8347V27.5523L1.45199 24.9029C0.778325 24.8067 0.253847 24.269 0.174388 23.5931C0.0949279 22.9173 0.480398 22.2726 1.11338 22.0228L54.9467 0.772754C55.4495 0.574266 56.0203 0.661702 56.4406 1.00162ZM22.9975 29.0951L28.3708 32.7716L22.9975 38.1912V29.0951ZM31.5717 31.3267C31.5564 31.3158 31.541 31.3053 31.5254 31.2951L24.1226 26.23L53.4258 5.47357L47.321 42.1026L31.5717 31.3267ZM44.4935 8.1243L7.48239 22.7339L21.118 24.6819L44.4935 8.1243Z" fill="black" />
							</svg>
						</div>
						<div class="contacts-card__title">
							<div class="contacts-card__decor"></div>
							<p class='text-xs'>TG</p>
						</div>
					</div>
					<a href='https://t.me/pro_btl' target='_blank'></a>
				</div>
			</div>
			<div data-visible-on='max-width: 991.98px'>
				<div class="contacts-card">
					<div class="contacts-card__body">
						<div class="contacts-card__icon"><svg width="100%" height="100%" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M26.6563 18.3359C21.9618 18.3359 18.1563 22.1415 18.1563 26.8359C18.1563 31.5304 21.9618 35.3359 26.6563 35.3359C31.3507 35.3359 35.1562 31.5304 35.1562 26.8359C35.1562 22.1415 31.3507 18.3359 26.6563 18.3359ZM15.1563 26.8359C15.1563 20.4847 20.305 15.3359 26.6563 15.3359C33.0075 15.3359 38.1562 20.4847 38.1562 26.8359C38.1562 33.1872 33.0075 38.3359 26.6563 38.3359C20.305 38.3359 15.1563 33.1872 15.1563 26.8359Z" fill="black" />
								<path fill-rule="evenodd" clip-rule="evenodd" d="M15.3337 2.87906C20.7413 0.323595 26.8543 -0.327436 32.6788 1.03182C38.5032 2.39108 43.6966 5.68069 47.4144 10.3657C51.1323 15.0508 53.1559 20.8558 53.1563 26.8367L53.1563 29.3368C53.1563 31.7238 52.2081 34.013 50.5202 35.7008C48.8324 37.3886 46.5432 38.3368 44.1563 38.3368C41.7693 38.3368 39.4801 37.3886 37.7923 35.7008C36.1045 34.013 35.1563 31.7238 35.1563 29.3368V16.8368C35.1563 16.0084 35.8279 15.3368 36.6563 15.3368C37.4847 15.3368 38.1563 16.0084 38.1563 16.8368V29.3368C38.1563 30.9281 38.7884 32.4543 39.9136 33.5795C41.0389 34.7047 42.565 35.3368 44.1563 35.3368C45.7476 35.3368 47.2737 34.7047 48.3989 33.5795C49.5241 32.4543 50.1563 30.9281 50.1563 29.3368V26.8369C50.1563 26.8369 50.1563 26.837 50.1563 26.8369C50.1559 21.5331 48.3614 16.3852 45.0645 12.2306C41.7675 8.0759 37.1621 5.1587 31.997 3.95332C26.8319 2.74794 21.4109 3.32527 16.6155 5.59144C11.8202 7.8576 7.93241 11.6793 5.58443 16.4352C3.23645 21.191 2.56635 26.6013 3.68307 31.7863C4.79979 36.9713 7.63767 41.626 11.7353 44.9937C15.8328 48.3613 20.9491 50.2437 26.2522 50.3349C31.5553 50.4261 36.7333 48.7207 40.9443 45.4959C41.602 44.9922 42.5435 45.1171 43.0472 45.7748C43.5509 46.4325 43.426 47.3741 42.7683 47.8777C38.0198 51.5142 32.1807 53.4373 26.2007 53.3345C20.2206 53.2317 14.4511 51.1089 9.83044 47.3113C5.20976 43.5138 2.0096 38.2648 0.75032 32.4179C-0.508965 26.571 0.246687 20.4701 2.89441 15.1071C5.54213 9.74412 9.92619 5.43452 15.3337 2.87906Z" fill="black" />
							</svg></div>
						<div class="contacts-card__title">
							<div class="contacts-card__decor"></div>
							<p class='text-xs text-bold'>info@probtl.ru</p>
						</div>
					</div>
					<a href='mailto:info@probtl.ru' target='_blank'></a>
				</div>
			</div>
			<div>
				<div class="contacts-card contacts-card--w2">
					<div class="contacts-card__body">
						<nav class='contacts-card__navigate'>
							<ul class="contacts-card__list">
								<li class="contacts-card__item"><a href="/about" class="link-header">О нас</a></li>
								<li class="contacts-card__item"><a href="/contacts" class="link-header">Контакты</a></li>
								<li class="contacts-card__item"><a href="/assets/presentation_BTL.pdf" class="link-header">Презентация</a></li>
								<li class="contacts-card__item"><a href="/vacancies" class="link-header">Вакансии</a></li>
								<li class="contacts-card__item"><a href="/portfolio" class="link-header">Портфолио</a></li>

							</ul>
						</nav>
						{{> shared/logo/logo}}
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
