<footer class="footer">
	<div class="footer__container">
		<div class="footer__body">
			<div class="contacts-card">
				<div class="contacts-card__body">
					<div class="contacts-card__icon"><a href='javascript:void(0)'></a><span class='icon-vk'></span></div>
					<div class="contacts-card__title">
						<div class="contacts-card__decor"></div>
						<p class='text-xs'>VK</p>
					</div>
				</div>
			</div>
			<div class="contacts-card">
				<div class="contacts-card__body">
					<div class="contacts-card__icon"><a href='javascript:void(0)'></a><span class='icon-whatsapp'></span></div>
					<div class="contacts-card__title">
						<div class="contacts-card__decor"></div>
						<p class='text-xs'>WA</p>
					</div>
				</div>
			</div>
			<div class="contacts-card">
				<div class="contacts-card__body">
					<address class='contacts-card__address'>
						<a href="mailto:info@probtl.ru">info@probtl.ru</a>
						<a href="tel:+79134629902">+7 913 462 99 02</a>
					</address>
				</div>
			</div>
			<div class="contacts-card">
				<div class="contacts-card__body">
					<div class="contacts-card__icon"><a href='javascript:void(0)'></a><span class='icon-telegram'></span></div>
					<div class="contacts-card__title">
						<div class="contacts-card__decor"></div>
						<p class='text-xs'>TG</p>
					</div>
				</div>
			</div>
			<div class="contacts-card contacts-card--w2">
				<div class="contacts-card__body">
					<nav class='contacts-card__navigate'>
						<ul class="contacts-card__list">
							<li class="contacts-card__item"><a href="/about" class="link-header">О нас</a></li>
							<li class="contacts-card__item"><a href="/contacts" class="link-header">Контакты</a></li>
							<li class="contacts-card__item"><a href="/services" class="link-header">Услуги</a></li>
							{{!-- <li class="contacts-card__item"><a href="/assets/presentation_BTL.pdf" class="link-header">Презентация</a></li> --}}
							<li class="contacts-card__item"><a href="/vacancies" class="link-header">Вакансии</a></li>
							<li class="contacts-card__item"><a href="/portfolio" class="link-header">Портфолио</a></li>

						</ul>
					</nav>
					{{> shared/logo/logo}}
				</div>
			</div>
		</div>
	</div>
</footer>
