.form {
	position: relative;
	z-index: 150;
	.form__loader {
		position: absolute;
		z-index: 151;
		inset: -10px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(255, 185, 185, 0.332);
		border-radius: $radius;
		backdrop-filter: blur(10px);
		pointer-events: none;
		opacity: 0;
		visibility: hidden;
		// transition: opacity $anim;

		img {
			width: 50px;
			aspect-ratio: 1;
		}

		&.visible {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
		}
	}

	// .form__row

	&__row {
		display: flex;
		justify-content: space-between;
		@media (max-width: $burger) {
			flex-direction: column;
			row-gap: 28px;
			.input-block {
				width: 80%;
				margin-inline: auto;
				@media (max-width: $tablet) {
					width: 100%;
				}

				textarea + label {
					text-align: center;
				}
			}
			&:has(.checkbox__label) {
				flex-direction: column-reverse;
				.input-block {
					width: unset;
					max-width: 80%;
				}
			}
			.button {
				margin-inline: auto;
			}
		}

		@media (max-width: $mobileSmall) {
			.input-block {
				textarea + label {
					text-align: left;
				}
			}
		}

		&:last-child {
			justify-content: center;
		}

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 48, 46);
			&:has([type="checkbox"]) {
				margin-bottom: rem(20);
			}
		}

		&:has([type="checkbox"]) {
			@include adaptiveValue("gap", 61, 10);
		}
	}
}
