.loader {
	position: absolute;
	z-index: 160;
	inset: 0;
	background-color: $accent1;
	clip-path: circle(100% at 50%);

	.subtitle {
		visibility: hidden;
		pointer-events: none;
	}

	.first-screen__cta {
		visibility: hidden;
	}
}
