<div class="loader">

	<section class="main__first-screen first-screen">
		<div class="first-screen__container">
			<div class="first-screen__body">
				<div class='first-screen__content'>
					<h1 class="text-white">БТЛ.<span>ЦЕНТР</span></h1>
					<p class='subtitle'>.</p>
				</div>
				<div class="first-screen__cta">

				</div>
			</div>
		</div>

	</section>
</div>
