<nav class="nav-prev-next">
	<div class="nav-prev-next__container">
		<div class="nav-prev-next__body">
			{{#if prev}}
				<div class="nav-prev-next__item"><a class='link-header' href="{{prev}}"><span class='icon-arrow'></span>Предыдущий проект</a></div>
			{{/if}}
			{{#if next}}
				<div class="nav-prev-next__item"><a class='link-header' href="{{next}}">Следующий проект<span class='icon-arrow'></span></a></div>
			{{/if}}
		</div>
	</div>
</nav>
