<!DOCTYPE html>
<html lang='ru'>

	<head>
		{{> app/head title='Корпоративные мероприятия'}}
	</head>

	<body>
		<div class='page corporate-events wrapper'>

			{{> app/loader/loader}}


			{{> widgets/header/header}}

			<main class='corporate-events'>

				<div class="corporate-events__first-screen section">
					<div class="corporate-events__content">
						<div class='corporate-events__container'>
							<h1 class="corporate-events__main-title h4 text-white">Создаем уникальные корпоративные мероприятия<span data-city-title style='color: unset; font-size: unset; margin-right: unset;'></span></h1>
						</div>
						<div class="corporate-events__first-screen-list">
							<ul>
								<li>корпоративный Новый год</li>
								<li>профессиональный праздник</li>
								<li>юбилей компании</li>
								<li>тимбилдинг</li>
								<li>спортивные события</li>
							</ul>
						</div>
						<div class='corporate-events__container'>
							<div class="corporate-events__cta">
								<div class="button button-color button-xl" data-popup-type='request-popup-form-3'>
									<button>Обсудить проект</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<section class="corporate-events__advantages section">
					<div class="corporate-events__head mb-140">
						<div class="big-decorate-title text-bordered"><span>.</span>Преимущества:</div>
						<div class='corporate-events__container'>
							<h2 class="corporate-events__title h2 text-with-dot"><span>.</span>Преимущества:</h2>
						</div>
					</div>
					<div class='corporate-events__container'>
						<div class="corporate-events__body">
							<div class="corporate-events__text-card-widget text-card-widget">
								<div class="corporate-events__text-card-row text-card-row">
									<div class="text-card-grid__text-card text-card">
										<div class="text-card__title text-p1 mb-30 text-gray">Готовим проект от 5 дней</div>
										<div class="text-card__text text-gray">Разработаем сценарий и реализуем даже в горящие сроки, а менеджер проекта всегда на связи, чтобы вы не беспокоились.</div>
									</div>
									<div class="text-card-grid__text-card text-card">
										<div class="text-card__title text-p1 mb-30 text-gray">С нами выгоднее</div>
										<div class="text-card__text text-gray">Благодаря собственному штату персонала, договоренностям с артистами и специальным условиям с ивент-площадками, а также наличию производственного цеха мы предлагаем вам цену ниже рынка, даже с учетом агентского вознаграждения.</div>
									</div>
								</div>
								<div class="corporate-events__text-card-row text-card-row">
									<div class="text-card-grid__text-card text-card">
										<div class="text-card__title text-p1 mb-30 text-gray">Честность и прозрачность</div>
										<div class="text-card__text text-gray">Предлагаем оптимальные варианты концепции мероприятия в соответствии с вашим бюджетом. Расскажем, без чего можно обойтись, а на чем экономить нельзя. У нас прозрачные цены, мы формируем фиксированную смету без скрытых платежей и «сюрпризов».</div>
									</div>
									<div class="text-card-grid__text-card text-card">
										<div class="text-card__title text-p1 mb-30 text-gray">Компании от 10 до 1000 человек</div>
										<div class="text-card__text text-gray">Работаем с бизнесом любого масштаба. Организовываем камерные мероприятия для небольших компаний и большие торжества для федеральных брендов.</div>
									</div>
								</div>
								<div class="corporate-events__text-card-row text-card-row">
									<div class="text-card-grid__text-card text-card">
										<div class="text-card__title text-p1 mb-30 text-gray">&gt;65% клиентов стали постоянными</div>
										<div class="text-card__text text-gray">Мы забираем всю головную боль клиента, работаем на качество и к нам обращаются снова. А еще нас любит бухгалтерия — без задержек и напоминаний отправляем все документы</div>
									</div>
									<div class="text-card-grid__text-card text-card">
										<div class="text-card__title text-p1 mb-30 text-gray">Удобно для федеральных клиентов</div>
										<div class="text-card__text text-gray text-list">
											<p>Проведем мероприятие в любом городе России. Имеем договоренности с большим числом подрядчиков и собственные офисы по всей стране.</p>
											<p>Готовы зафиксировать стоимость на отдельные позиции в смете в случае долгосрочных проектов.</p>
											<p>Участвуем в тендерах - имеем аккредитацию на тендерных площадках и полный пакет документов для СБ.</p>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</section>

				<section class="corporate-events__events events section">
					<div class="corporate-events__head mb-140">
						<div class="big-decorate-title text-bordered"><span>.</span>Корпоративные</div>
						<div class='corporate-events__container'>
							<h2 class="corporate-events__title h2 text-with-dot"><span>.</span>Корпоративные мероприятия</h2>
						</div>
					</div>
					<div class="events__container">
						<div class="events__body">
							<div class='accent-block-text text-s text-white'>
								<div class="accent-block-text__title text-bold">Хотите организовать незабываемый праздник для сотрудников?</div>
								<div class="accent-block-text__content">
									<p>Создадим небанальное мероприятие с интересным сценарием, которое точно запомнится.</p>
								</div>
							</div>
							<div class="events__grid">
								<div class='card-with-image-and-text'>
									<div class="card-with-image-and-text__image"><img src="/images/corporate-events/events/01.webp" alt=""></div>
									<div class="card-with-image-and-text__content">
										<div class="card-with-image-and-text__title mb-15 text-p1">Календарные праздники</div>
										<p class='text-gray text-xs'>Новый год, 8 Марта, 23 февраля, Хэллоуин и другие тематические вечеринки с атмосферными декорациями, конкурсами и шоу-программами.</p>
									</div>
								</div>
								<div class='card-with-image-and-text'>
									<div class="card-with-image-and-text__image"><img src="/images/corporate-events/events/02.webp" alt=""></div>
									<div class="card-with-image-and-text__content">
										<div class="card-with-image-and-text__title mb-15 text-p1">Профессиональные праздники</div>
										<p class='text-gray text-xs'>юбилей компании, отраслевые праздники, награждения и другие значимые события, подчеркивающие успехи и достижения вашей команды.</p>
									</div>
								</div>
								<div class='card-with-image-and-text'>
									<div class="card-with-image-and-text__image"><img src="/images/corporate-events/events/03.webp" alt=""></div>
									<div class="card-with-image-and-text__content">
										<div class="card-with-image-and-text__title mb-15 text-p1">Выездные корпоративы</div>
										<p class='text-gray text-xs'>мероприятия на природе и базах отдыха. Йога-тур, wellness-программа или может экстремальные гонки на квадроциклах, сплав по реке и скалолазание? Подберем идеальный вариант для неформального общения, отдыха и укрепления команды.</p>
									</div>
								</div>
								<div class='card-with-image-and-text'>
									<div class="card-with-image-and-text__image"><img src="/images/corporate-events/events/04.webp" alt=""></div>
									<div class="card-with-image-and-text__content">
										<div class="card-with-image-and-text__title mb-15 text-p1">Спортивные игры</div>
										<p class='text-gray text-xs'>дружеские соревнования, турниры, квесты и командные игры, требующие логики, взаимодействия и креативности. Не только весело провести время, но и укрепить дух здоровой конкуренции.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="corporate-events__teembuildings teembuildings section">
					<div class="corporate-events__head mb-140">
						<div class="big-decorate-title text-bordered"><span>.</span>Тимбилдинги</div>
						<div class='corporate-events__container'>
							<h2 class="corporate-events__title h2 text-with-dot"><span>.</span>Тимбилдинги</h2>
						</div>
					</div>
					<div class='teembuildings__body'>
						<div class='teembuildings__container'>
							<div class='accent-block-text text-s text-white'>
								<div class="accent-block-text__content">
									<p><span class='text-bold'>Хотите повысить командный дух, наладить взаимодействие между сотрудниками и создать атмосферу доверия?</span> Мы организуем тимбилдинги, которые не просто развлекают, а работают на результат – укрепляют командные связи, развивают коммуникацию и мотивируют коллектив.</p>
								</div>
							</div>
							<div class="teembuildings__grid">
								<div class='card-with-image-and-text'>
									<div class="card-with-image-and-text__image"><img src="/images/corporate-events/teembuildings/01.webp" alt=""></div>
									<div class="card-with-image-and-text__content">
										<div class="card-with-image-and-text__title mb-15 text-p1">Бизнес-игры —</div>
										<p class='text-gray text-xs'>моделирование реальных бизнес-ситуаций, которые помогают развивать стратегическое мышление, командное взаимодействие и навыки принятия решений в условиях ограниченного времени и ресурсов.</p>
									</div>
								</div>
								<div class='card-with-image-and-text'>
									<div class="card-with-image-and-text__image"><img src="/images/corporate-events/teembuildings/02.webp" alt=""></div>
									<div class="card-with-image-and-text__content">
										<div class="card-with-image-and-text__title mb-15 text-p1">Творческие мероприятия —</div>
										<p class='text-gray text-xs'>форматы, где участники могут раскрыть свои таланты, создать что-то уникальное вместе и получить заряд вдохновения. Это может быть караоке-батл, гончарный арт-вечер, кулинарное шоу, театральный мастер-класс и др.</p>
									</div>
								</div>
								<div class='card-with-image-and-text'>
									<div class="card-with-image-and-text__image"><img src="/images/corporate-events/teembuildings/03.webp" alt=""></div>
									<div class="card-with-image-and-text__content">
										<div class="card-with-image-and-text__title mb-15 text-p1">Выездные мероприятия —</div>
										<p class='text-gray text-xs'>корпоративные выезды на природу или в специально подготовленные локации, где сочетаются активный отдых, приключения и неформальное общение, способствующее укреплению команды.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="corporate-events__get-calculating section">
					<div class='corporate-events__container'>
						<div class="corporate-events__body">
							<div class='corporate-events__row'>
								<div class="corporate-events__content">
									<h3 class='mb-15'>Рассчитайте стоимость мероприятия за пару минут!</h3>
									<div class="corporate-events__text text-gray">
										<p>Мы вышлем вам на Whats`App вилку цен под&nbsp;ваш бюджет и&nbsp;предложим оптимальные варианты!</p>
										<p>Оставь заявку сейчас и закрепи за собой</p>
										<p class='text-accent text-bold'>скидку 5 000 ₽ на организацию мероприятия!</p>
									</div>
									<div class="corporate-events__cta">
										<div class="button button-color button-xl" data-popup-type='request-popup-form-3'>
											<button>Получить расчет</button>
										</div>
									</div>
								</div>
								<div class="corporate-events__image">
									<picture>
										<source srcset="/images/corporate-events/clock.webp" media="(min-width: 768px)" />
										<source srcset="/images/corporate-events/clock-without-shadow.webp" media="(max-width: 767px)" />
										<img src="/images/corporate-events/clock-without-shadow.webp" alt="" />
									</picture>

								</div>
							</div>
						</div>
					</div>
				</section>

				{{!-- <section class="corporate-events__thesis section">
					<div class="corporate-events__slider-thesis slider-thesis swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="corporate-events__thesis-item thesis-item">
									<div class="thesis-item__image">
										<img src="/images/corporate-events/thesis-01.webp" alt="">
									</div>
									<div class="thesis-item__content text-white">
										<div class="thesis-item__title">Надоели скучные мероприятия и однотипные корпоративы?</div>
										<div class="thesis-item__text">Создадим событие под вас с нуля. Организуем мероприятия с душой, отдачей и горящими глазами.</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="corporate-events__thesis-item thesis-item">
									<div class="thesis-item__image">
										<img src="/images/corporate-events/thesis-02.webp" alt="">
									</div>
									<div class="thesis-item__content text-white">
										<div class="thesis-item__title">Если мероприятие нужно уже «вчера»,</div>
										<div class="thesis-item__text">то для вас более 100+ готовых оригинальных концепций от наших креаторов. Оперативно обсудим, быстро согласуем и воплотим.</div>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-pagination"></div>

						<div class="swiper-button-prev">
							<svg width="100%" height="100%" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect x="-0.5" y="0.5" width="59" height="59" rx="29.5" transform="matrix(-1 0 0 1 59 0)" stroke="#000407" />
								<g clip-path="url(#clip0_4595_5258)">
									<path d="M42 30H18" stroke="#000407" stroke-linecap="round" stroke-linejoin="round" />
									<path d="M30 18L18 30L30 42" stroke="#000407" stroke-linecap="round" stroke-linejoin="round" />
								</g>
								<defs>
									<clipPath id="clip0_4595_5258">
										<rect width="24" height="24" fill="white" transform="matrix(-1 0 0 1 42 18)" />
									</clipPath>
								</defs>
							</svg>

						</div>
						<div class="swiper-button-next">
							<svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect x="-0.5" y="0.5" width="59" height="59" rx="29.5" transform="matrix(-1 0 0 1 59 0)" stroke="#000407" />
								<g clip-path="url(#clip0_4595_5258)">
									<path d="M42 30H18" stroke="#000407" stroke-linecap="round" stroke-linejoin="round" />
									<path d="M30 18L18 30L30 42" stroke="#000407" stroke-linecap="round" stroke-linejoin="round" />
								</g>
								<defs>
									<clipPath id="clip0_4595_5258">
										<rect width="24" height="24" fill="white" transform="matrix(-1 0 0 1 42 18)" />
									</clipPath>
								</defs>
							</svg>

						</div>
					</div>
				</section> --}}

				<section class="corporate-events__services section">
					<div class="corporate-events__head mb-140">
						<div class="big-decorate-title text-bordered"><span>.</span>Организовываем</div>
						<div class='corporate-events__container'>
							<h2 class="corporate-events__title h2 text-with-dot"><span>.</span>Организовываем все под ключ!</h2>
						</div>
					</div>
					<div class="corporate-events__body">
						<div class='corporate-events__container'>
							<div class="spoller-with-image-widget">
								<div class="spoller-with-image-widget__image">
									<img src="/images/corporate-events/corporate-services/05.webp" alt="" data-queueStack='5'>
									<img src="/images/corporate-events/corporate-services/03.webp" alt="" data-queueStack='3'>
									<img src="/images/corporate-events/corporate-services/04.webp" alt="" data-queueStack='4'>
								</div>


								<div class="spoller-with-image-widget__spoller-2 spoller-2">
									<ol data-spollers='' data-one-spoller='' class="spoller-2__list">
										<li class="spoller-2__item">
											<button class="spoller-2__summary" data-spoller='' data-spollerQueue='1'>Концепция</button>
											<div class="spoller-2__detail text-card__text text-gray">
												<p>Создадим концепцию мероприятия, чтобы гости полностью окунулись в атмосферу события. Идея, тематические интерактивы, красивые декорации и фотозоны — продумаем все до мелочей.</p>
											</div>
										</li>
										<li class="spoller-2__item">
											<button class="spoller-2__summary" data-spoller='' data-spollerQueue='2'>Оборудование</button>
											<div class="spoller-2__detail text-card__text text-gray">
												<p>Свет, звук, сцена, спецэффекты — очень важный аспект при организации мероприятия. Не хотим вас грузить техническими характеристиками оборудования, но при необходимости на площадке будет все, что нужно. Даже салют :)</p>
											</div>
										</li>
										<li class="spoller-2__item"><button class="spoller-2__summary" data-spoller='' data-spollerQueue='3'>Персонал</button>
											<div class="spoller-2__detail text-card__text text-gray">
												<p>Работаем только с проверенными ведущими, диджеями, музыкальными группами и артистами, ведь именно эти люди создают веселье на празднике.</p>
											</div>
										</li>
										<li class="spoller-2__item"><button class="spoller-2__summary" data-spoller='' data-spollerQueue='4'>Логистика</button>
											<div class="spoller-2__detail text-card__text text-gray">
												<p>Продумаем доставку не только сувенирной продукции и оборудования, но и организуем трансфер для гостей мероприятия при необходимости.</p>
											</div>
										</li>
										<li class="spoller-2__item"><button class="spoller-2__summary" data-spoller='' data-spollerQueue='5'>Меню</button>
											<div class="spoller-2__detail text-card__text text-gray">
												<p>Знаем, как правильно рассчитывать еду и напитки на человека, когда подавать гостям горячее на банкете или как организовать кейтеринг на выездном мероприятии. Можете доверить составление меню нам и забыть про этот процесс :)</p>
											</div>
										</li>
										<li class="spoller-2__item"><button class="spoller-2__summary" data-spoller='' data-spollerQueue='6'>Фото и видео</button>
											<div class="spoller-2__detail text-card__text text-gray">
												<p>Красивые фотокарточки и видео с мероприятия — это то, что создает имидж мероприятия для широкой аудитории, ведь именно ими гости делятся в соцсетях. Работаем только с профессионалами своего дела, которые отдают материалы в кратчайшие сроки.</p>
											</div>
										</li>
									</ol>
								</div>
							</div>
						</div>
					</div>
				</section>

				<div class="main__clients clients section">
					<div class="corporate-events__head mb-140">
						<div class="big-decorate-title text-bordered"><span>.</span>Нам доверяют:</div>
						<div class='corporate-events__container'>
							<h2 class="corporate-events__title h2 text-with-dot"><span>.</span>Нам доверяют:</h2>
						</div>
					</div>
					<div class="clients__content">
						<div class="clients__slider clients-slider swiper">
							<div class="clients-slider__wrapper swiper-wrapper">
								<div class="clients-slider__slide swiper-slide">
									<img src="/images/clients/clients-logo-mts.svg" alt="логотип компании клиента mts" class="clients-slider__image" style="height: 38px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="/images/clients/clients-logo-hh.svg" alt="логотип компании клиента hh" class="clients-slider__image" style="height: 42px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="/images/clients/clients-logo-gazprom.svg" alt="логотип компании клиента gazprom" class="clients-slider__image" style="height: 53px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="/images/clients/clients-logo-tele2.svg" alt="логотип компании клиента Burger tele2" class="clients-slider__image" style="height: 41px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="/images/clients/clients-logo-rostelecom.svg" alt="логотип компании клиента rostelecom" class="clients-slider__image" style="height: 41px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="/images/clients/clients-logo-alfa.svg" alt="логотип компании клиента alfa-bank" class="clients-slider__image" style="height: 44px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="/images/clients/clients-logo-rzhd.svg" alt="логотип компании клиента rzhd" class="clients-slider__image" style="height: 40px; width: 180px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="/images/clients/clients-logo-megafon.svg" alt="логотип компании клиента megafon" class="clients-slider__image" style="height: 29px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="/images/clients/clients-logo-ozone.svg" alt="логотип компании клиента ozone" class="clients-slider__image" style="height: 35px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="/images/clients/clients-logo-5.svg" alt="логотип компании клиента Piaterochka" class="clients-slider__image" style="height: 29px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="/images/clients/clients-logo-tnt.svg" alt="логотип компании клиента tnt" class="clients-slider__image" style="height: 48px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="/images/clients/clients-logo-burger-king.svg" alt="логотип компании клиента burger-king" class="clients-slider__image" style="height: 65px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="/images/clients/clients-logo-wildberries.svg" alt="логотип компании клиента wildberries.ru" class="clients-slider__image" style="height: 43px" />
								</div>
							</div>
						</div>
						<div dir="RTL" class="clients__slider clients-slider swiper">
							<div class="clients-slider__wrapper swiper-wrapper">
								<div class="clients-slider__slide swiper-slide">
									<img src="/images/clients/clients-logo-mts.svg" alt="логотип компании клиента mts" class="clients-slider__image" style="height: 38px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="/images/clients/clients-logo-hh.svg" alt="логотип компании клиента hh" class="clients-slider__image" style="height: 42px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="/images/clients/clients-logo-gazprom.svg" alt="логотип компании клиента gazprom" class="clients-slider__image" style="height: 53px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="/images/clients/clients-logo-tele2.svg" alt="логотип компании клиента Burger tele2" class="clients-slider__image" style="height: 41px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="/images/clients/clients-logo-rostelecom.svg" alt="логотип компании клиента rostelecom" class="clients-slider__image" style="height: 41px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="/images/clients/clients-logo-alfa.svg" alt="логотип компании клиента alfa-bank" class="clients-slider__image" style="height: 44px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="/images/clients/clients-logo-rzhd.svg" alt="логотип компании клиента rzhd" class="clients-slider__image" style="height: 40px; width: 180px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="/images/clients/clients-logo-megafon.svg" alt="логотип компании клиента megafon" class="clients-slider__image" style="height: 29px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="/images/clients/clients-logo-ozone.svg" alt="логотип компании клиента ozone" class="clients-slider__image" style="height: 35px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="/images/clients/clients-logo-5.svg" alt="логотип компании клиента Piaterochka" class="clients-slider__image" style="height: 29px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="/images/clients/clients-logo-tnt.svg" alt="логотип компании клиента tnt" class="clients-slider__image" style="height: 48px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="/images/clients/clients-logo-burger-king.svg" alt="логотип компании клиента burger-king" class="clients-slider__image" style="height: 65px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="/images/clients/clients-logo-wildberries.svg" alt="логотип компании клиента wildberries.ru" class="clients-slider__image" style="height: 43px" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<section class="portfolio section">
					<div class="corporate-events__head mb-140">
						<div class="big-decorate-title text-bordered"><span>.</span>Кейсы:</div>
						<div class='corporate-events__container'>
							<h2 class="corporate-events__title h2 text-with-dot"><span>.</span>Кейсы:</h2>
						</div>
					</div>
					<div class="services__cases services-cases">
						<div class="services-cases__body">
							<div class='card-circle__swiper swiper slider-cases'>
								<div class='swiper-wrapper'>
									<div class='card-circle card-circle--animated swiper-slide'>
										<div class="card-circle__decor">
											<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
												<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
												<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
												<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

											</svg>
										</div>
										<div class="card-circle__body">
											<div class="card-circle__bg">
												<div class="card-circle__image"><img src="/images/cases/01.webp" alt=""></div>
											</div>
											<div class="card-circle__content">
												<p class='card-circle__title text-white'>МТС</p>
												<p class='card-circle__description text-white text-xxs'>30 лет компании</p>
											</div>
										</div>
										<a class="card-circle__link" href="/cases/mts-blog-and-voice"></a>
									</div>
									<div class='card-circle card-circle--animated swiper-slide'>
										<div class="card-circle__decor">
											<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
												<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
												<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
												<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

											</svg>
										</div>
										<div class="card-circle__body">
											<div class="card-circle__bg">
												<div class="card-circle__image"><img src="/images/cases/11.webp" alt="человек в лучах вечеринки"></div>
											</div>
											<div class="card-circle__content">
												<p class='card-circle__title text-white'>Газпром</p>
												<p class='card-circle__description text-white text-xxs'>Музыкальное шоу Дискотека 90-х</p>
											</div>
										</div>
										<a class="card-circle__link" href="/cases/gazpromneft-innovacii/"></a>
									</div>
									<div class='card-circle card-circle--animated swiper-slide'>
										<div class="card-circle__decor">
											<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
												<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
												<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
												<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

											</svg>
										</div>
										<div class="card-circle__body">
											<div class="card-circle__bg">
												<div class="card-circle__image"><img src="/images/cases/26.webp" alt="человек в лучах вечеринки"></div>
											</div>
											<div class="card-circle__content">
												<p class='card-circle__title text-white'>TELE2</p>
												<p class='card-circle__description text-white text-xxs'>Новогодние корпоративы</p>
											</div>
										</div>
										<a class="card-circle__link" href="/cases/tele2/"></a>
									</div>
									<div class='card-circle card-circle--animated swiper-slide'>
										<div class="card-circle__decor">
											<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
												<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
												<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
												<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

											</svg>
										</div>
										<div class="card-circle__body">
											<div class="card-circle__bg">
												<div class="card-circle__image"><img src="/images/cases/14.webp" alt="фото участников"></div>
											</div>
											<div class="card-circle__content">
												<p class='card-circle__title text-white'>РЖД</p>
												<p class='card-circle__description text-white text-xxs'>Слёт молодежи</p>
											</div>
										</div>
										<a class="card-circle__link" href="/cases/rzhd/"></a>
									</div>
									<div class='card-circle card-circle--animated swiper-slide'>
										<div class="card-circle__decor">
											<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
												<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
												<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
												<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

											</svg>
										</div>
										<div class="card-circle__body">
											<div class="card-circle__bg">
												<div class="card-circle__image"><img src="/images/cases/28.webp" alt=""></div>
											</div>
											<div class="card-circle__content">
												<p class='card-circle__title text-white'>Глазка</p>
												<p class='card-circle__description text-white text-xxs'>15 лет — юбилей!</p>
											</div>
										</div>
										<a class="card-circle__link" href="/cases/glazka"></a>
									</div>
									<div class='card-circle card-circle--animated swiper-slide'>
										<div class="card-circle__decor">
											<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
												<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
												<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
												<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

											</svg>
										</div>
										<div class="card-circle__body">
											<div class="card-circle__bg">
												<div class="card-circle__image"><img src="/images/cases/29.webp" alt=""></div>
											</div>
											<div class="card-circle__content">
												<p class='card-circle__title text-white'>Тракресурс</p>
												<p class='card-circle__description text-white text-xxs'>День рождения филиала</p>
											</div>
										</div>
										<a class="card-circle__link" href="/cases/trakresurs"></a>
									</div>
									<div class='card-circle card-circle--animated swiper-slide'>
										<div class="card-circle__decor">
											<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
												<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
												<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
												<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

											</svg>
										</div>
										<div class="card-circle__body">
											<div class="card-circle__bg">
												<div class="card-circle__image"><img src="/images/cases/30.webp" alt=""></div>
											</div>
											<div class="card-circle__content">
												<p class='card-circle__title text-white'>Новые металлургические технологии</p>
												<p class='card-circle__description text-white text-xxs'>10-летие компании</p>
											</div>
										</div>
										<a class="card-circle__link" href="/cases/novie-metallurgicheskie-tehnologii"></a>
									</div>
								</div>
							</div>
							<div class="services-cases__cta">
								<div class="button button-secondary ">
									<a href='/portfolio'>Смотреть все кейсы</a>

								</div>
							</div>
						</div>
					</div>
				</section>

				<div class="corporate-events__form-2-widget form-2-widget section">
					{{!-- <div class="corporate-events__head mb-140">
						<div class="big-decorate-title text-bordered"><span>.</span>Организуем</div>
						<div class='corporate-events__container'>
							<h2 class="corporate-events__title h2"><span>.</span>Организуем ваш праздник!</h2>
						</div>
					</div> --}}
					<div class="form-2-widget__container">
						<div class="form-2-widget__body">
							<div class="form-2-widget__form-2 form-2 ">
								<div class="form-2__head">
									<div class="form-2__title">Оставьте заявку и мы свяжемся с вами для организации вашего торжества.</div>
								</div>
								<div>
									<form class="form-2__form text-gray form" action="" method='post'>
										<div class="form__loader">
											<img src="/images/SvgSpinnersBlocksScale.svg" alt="" />
										</div>
										<div class='form-2__row'><input class="input form-2__input form-2-input" id='form-2-name' type="text" name='name' placeholder=''><label for="form-2-name">Введите имя</label></div>
										<div class='form-2__row'><input class="input form-2__input form-2-input" id='form-2-company-name' type="text" name='brand' placeholder=''><label for="form-2-company-name">Введите название компании</label></div>
										<div class='form-2__row'><input class="input form-2__input form-2-input" id='form-2-budget' type="text" name='comment' placeholder=''><label for="form-2-budget">Бюджет на мероприятие</label></div>
										<div class='form-2__row'><input class="input form-2__input form-2-input" id='form-2-phone' type="tel" name='phone' placeholder=''><label for="form-2-phone">Введите телефон</label></div>
										<div class='form-2__row'>
											<div class='checkbox text-xxs text-gray checkbox-width-14 checkbox-accent-1' data-checkbox>
												<label class=''>
													<input type="checkbox" name='agreement'>
													<i></i>
													<span>я принимаю условия <a class='text-underline' href="/privacy" target="blank">Политики конфиденциальности</a>, и даю согласие на обработку персональных данных</span>
												</label>
											</div>
										</div>
										<div class='form-2__action'>
											<div class="button button-color button-xl">
												<button type="submit" class="" id="submit-btn">Оставить заявку</button>
											</div>
										</div>
										<input class='input fn' type="text" id='fn' name='fn'>
									</form>
								</div>
							</div>
							<div class="form-2-widget__image">
								<div class="circl-with-image">
									<div class="circl-with-image__image"><img src="/images/corporate-events/girl-with-camera.webp" alt="">
									</div>
									<div class="circl-with-image__content">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<section class="corporate-events__cities cities section">
					<div class="corporate-events__head mb-140">
						<div class="big-decorate-title text-bordered"><span>.</span>провести корпоратив</div>
						<div class='corporate-events__container'>
							<h2 class="corporate-events__title h2 text-with-dot"><span>.</span>Организовываем корпоративы по всей России:</h2>
						</div>
					</div>
					<div class="corporate-events__body">
						<div class="corporate-events__container">
							<ul class="cities__list text-gray text-s" data-links-list></ul>
						</div>
					</div>
				</section>
			</main>
			{{> widgets/footer/footer}}
			{{#> widgets/popup/popup type='request-popup'}}
				<div class="main__full-width-form full-width-form">
					<div class="full-width-form__container">
						<div class="full-width-form__head">
							<div class="full-width-form__title">
								<h5 class='h5 text-white'>Закажите услугу</h5>
							</div>
							<div class="full-width-form__sub-title">
								<p class="text-s text-white">Планируете организовать корпоратив, тимбилдинг, мероприятие для клиентов?</p>
							</div>
						</div>
						<div class="full-width-form__body">
							<form class="full-width-form__form form" method='post'>
								<div class="form__loader">
									<img src="/images/SvgSpinnersBlocksScale.svg" alt="" />
								</div>
								<div class="form__row">
									<div class='input-block text-white'>
										<input class="input" name="name" id="name" type="text" placeholder="" />
										<label for="name">Имя</label>
										<input class="input fn" name="fn" id="fn" type="text" required />
									</div>
									<div class='input-block'>
										{{!-- <input class="input" name="city" id="city" type="text" placeholder="" />
													<label for="city">Город</label> --}}
										<div class='search-with-dropdown' data-search-block>
											<div class="search-input dropdown-initializer text-white" data-search-input>
												<input class="input" id='city' type="text" autocomplete="off" autocomplete="new-password" name='city' placeholder=''>
												<label for="city">Укажите город</label>
												<input class='hide' type="text" name='city_id'>
											</div>
											<div class="search-results hide " data-search-results>
												<div class='dropdown-container' data-dropdown-list>
													<ul class="dropdown-list text-xxs">
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class='input-block text-white'>
										<input class="input" name="phone" id="phone" type="tel" placeholder="" required />
										<label for="phone">Телефон</label>
									</div>
								</div>
								<div class="form__row">
									<div class='input-block text-white'>
										<textarea class="input" name="comment" id="message" rows="1"></textarea>
										<label for="message">Опишите, что вам требуется организовать</label>
									</div>
								</div>
								<div class="form__row">
									<div class="button button-light button-xl">
										<button>Оставить заявку</button>
									</div>
									<div class='checkbox text-xxs text-white text-white' data-checkbox>
										<label class=''>
											<input type="checkbox" name='agreement'>
											<i></i>
											<span>я принимаю условия <a class='text-underline' href="/privacy" target="blank">Политики конфиденциальности</a>, и даю согласие на обработку персональных данных</span>
										</label>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			{{/widgets/popup/popup}}
			{{#> widgets/popup/popup type='request-popup-form-3'}}
				<div class="corporate-events__form-3-widget form-3-widget">
					<div class='corporate-events__container'>
						<div class="form-3-widget__head">
							<div class="form-3-widget__title">Рассчитайте стоимость мероприятия за пару минут!</div>
						</div>
						<div class="form-3-widget__body">
							<div class="form-3-widget__form-3 form-3 text-gray">
								<form class="form-2__form form" method='post'>
									<div class="form__loader">
										<img src="/images/SvgSpinnersBlocksScale.svg" alt="" />
									</div>
									<div class='form-2__row'><input class="input form-2__input form-2-input" id='form-2-name' type="text" name='name' placeholder=''><label for="form-2-name">Введите имя</label></div>
									<div class='form-2__row'><input class="input form-2__input form-2-input" id='form-2-phone' type="tel" name='phone' placeholder=''><label for="form-2-phone">Введите телефон</label></div>
									<div class='form-2__row'><input class="input form-2__input form-2-input" id='form-2-company-name' type="text" name='brand' placeholder=''><label for="form-2-company-name">Введите название компании</label></div>
									<div class='form-2__row'><textarea class="input form-2__input form-2-input" id='form-2-budget' type="text" name='comment' placeholder=''></textarea><label for="form-2-budget">Расскажите более подробно, что нужно организовать:</label></div>
									<div class='form-2__row'>
										<div class='form-2__row'>
											<div class='checkbox text-xxs text-gray checkbox-width-14 checkbox-accent-1' data-checkbox>
												<label class=''>
													<input type="checkbox" name='agreement'>
													<i></i>
													<span>я принимаю условия <a class='text-underline' href="/privacy" target="blank">Политики конфиденциальности</a>, и даю согласие на обработку персональных данных</span>
												</label>
											</div>
										</div>
									</div>
									<div class='form-2__action'>
										<div class="button button-color button-xl">
											<button type="submit" class="" id="submit-btn">Оставить заявку</button>
										</div>
									</div>
									<input class='input fn' type="text" id='fn' name='fn'>
								</form>
							</div>
							<div class="form-3-widget__image">
								<img src="/images/corporate-events/clock-with-hands.webp" alt="">
							</div>
						</div>
					</div>
				</div>
			{{/widgets/popup/popup}}

		</div>
	</body>

</html>
