.page__vacancies {
}

.vacancies-page {
   @include adaptiveValue('padding-top', 87, 24);

   // .vacancies-page__vacancies

   &__vacancies {
   }
}

.vacancies {
   // .vacancies__container

   &__container {
   }

   // .vacancies__head

   &__head {
      @include adaptiveValue('margin-bottom', 68, 40);
   }

   // .vacancies__title

   &__title {
   }

   // .vacancies__body

   &__body {
   }

   // .vacancies__spollers

   &__spollers {
   }
}

.vacancies .spollers {
   & > li {
      border-bottom: 1px solid currentColor;
   }
   [data-spoller] {
      justify-content: space-between;

      &:after {
         display: none;
      }

      &._spoller-active {
         color: $accent1;
         .title__decor {
            rotate: 90deg;
            .icon-star-4pins {
               color: inherit;
            }
         }
      }
   }

   .title__decor {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      flex-grow: 0;
      height: 100%;
      aspect-ratio: 1;
      pointer-events: none;
      transition: rotate $anim;

      .icon-star-4pins {
         @include adaptiveValue('font-size', 70, 55);
         color: $accent3;
         transition: color $anim;
      }

      .icon-arrow {
         position: absolute;
         // font-size: 0.9em;
         // font-size: 34px;
         @include adaptiveValue('font-size', 19, 13);
         color: $white;
         translate: 0.0533em 0.0533em;
         rotate: -45deg;
      }
   }
}

.vacancy {
   // .vacancy_esection-title

   &_esection-title {
   }

   // .vacancy__head

   &__head {
      @include adaptiveValue('margin-bottom', 72, 32);
   }

   // .vacancy__description

   &__description {
   }

   // .vacancy__body

   &__body {
   }

   // .vacancy__content

   &__content {
      @include adaptiveValue('margin-bottom', 92, 28);
   }

   // .vacancy__row

   &__row {
      display: flex;
      gap: 30px;

      &:not(:last-child) {
         @include adaptiveValue('margin-bottom', 72, 32);
      }

      @media (max-width: $mobile) {
         flex-wrap: wrap;
      }
   }

   // .vacancy__column

   &__column:nth-child(1) {
      flex: 1 1 45%;
   }
   &__column:nth-child(2) {
      flex: 1 1 55%;
   }

   // .vacancy__section-content

   &__section-content {
      .text:not(:last-child) {
         @include adaptiveValue('margin-bottom', 30, 20);
      }
   }

   // .vacancy__list

   &__list {
   }

   // .vacancy__item

   &__item {
      &:not(:last-child) {
         @include adaptiveValue('margin-bottom', 20, 12);
      }
      span {
         color: $accent2;
      }
   }

   // .vacancy__cta

   &__cta {
      display: flex;
      justify-content: center;
   }
}

.item-with-marker {
   // .item-with-marker__marker

   &__marker {
   }
}
