<nav aria-label="Breadcrumb" class="breadcrumb">
	<ul itemscope itemtype="https://schema.org/BreadcrumbList">
		<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
			<a class='link-header' itemprop="item" href="javascript:void(0)">
				<span itemprop="name">Главная</span>
			</a>
			<meta itemprop="position" content="1" />
		</li>
		<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
			<a class='link-header' itemprop="item" href="javascript:void(0)">
				<span itemprop="name">Портфолио</span>
			</a>
			<meta itemprop="position" content="2" />
		</li>
		<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
			<a class='link-header' itemprop="item" href="javascript:void(0)">
				<span itemprop="name">МТС</span>
			</a>
			<meta itemprop="position" content="3" />
		</li>
	</ul>
</nav>
