<!DOCTYPE html>
<html lang='ru'>

	<head>
	</head>

	<body>
		<div class='wrapper'>

			<main class='page page__components'>
				<div class='page__container'>
					<h1 class='h1'>Design System</h1>
					{{#> widgets/components/components title='Title H1 | 114px' label='.h1 | <h1>'}}
						<h1><span>.</span>Lorem ipsum dolor sit amet.</h1>
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Title H2 | 110px' label='.h2 | <h2>'}}
						<h2><span>.</span>Lorem ipsum dolor sit amet.</h2>
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Title H3 | 43px' label='.h3 | <h3>'}}
						<h3>Lorem ipsum dolor sit amet.</h3>
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Title H4 | 36px' label='.h4 | <h4>'}}
						<h4>Lorem ipsum dolor sit amet.</h4>
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Title H5 | 68px' label='.h5 | <h5>'}}
						<h5>Lorem ipsum dolor sit amet.</h5>
					{{/widgets/components/components}}
					{{#> widgets/components/components title='TAB Title | 36px' label='.h4 .tab-title | <h4 class="tab-title" | ._tab-active'}}
						<button class='tab-title h4'>Lorem, ipsum.</button>
						<button class='tab-title h4 _tab-active'>Lorem, ipsum.</button>
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Text paragraph | 32px' label='.text'}}
						<div class='text'>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto odit illo tempore deleniti sit animi ipsam quam, accusantium consequuntur libero laudantium, aliquam officia ut sequi. Et facere molestiae dignissimos quis!</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto odit illo tempore deleniti sit animi ipsam quam, accusantium consequuntur libero laudantium, aliquam officia ut sequi. Et facere molestiae dignissimos quis!</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto odit illo tempore deleniti sit animi ipsam quam, accusantium consequuntur libero laudantium, aliquam officia ut sequi. Et facere molestiae dignissimos quis!</p>
						</div>
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Text Bold | 32px' label='.text-bold'}}
						<p><b class='text-bold'>Lorem ipsum dolor</b>, sit amet consectetur adipisicing elit. Quibusdam consequuntur animi doloribus deleniti explicabo libero, quas a delectus minima velit, nisi accusantium itaque assumenda. Ipsum nobis sint atque quae ut.</p>
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Text Large | 36px' label='.text-l'}}
						<p class='text-l'><b class='text-bold'>Lorem ipsum dolor</b>, sit amet consectetur adipisicing elit. Quibusdam consequuntur animi doloribus deleniti explicabo libero, quas a delectus minima velit, nisi accusantium itaque assumenda. Ipsum nobis sint atque quae ut.</p>
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Text small | 26px' label='.text-s'}}
						<p class='text-s'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto odit illo tempore deleniti sit animi ipsam quam, accusantium consequuntur libero laudantium, aliquam officia ut sequi. Et facere molestiae dignissimos quis!</p>
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Text extra small | 22px' label='.text-xs'}}
						<p class='text-xs'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto odit illo tempore deleniti sit animi ipsam quam, accusantium consequuntur libero laudantium, aliquam officia ut sequi. Et facere molestiae dignissimos quis!</p>
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Text extra extra small | 18px' label='.text-xxs'}}
						<p class='text-xxs'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto odit illo tempore deleniti sit animi ipsam quam, accusantium consequuntur libero laudantium, aliquam officia ut sequi. Et facere molestiae dignissimos quis!</p>
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Accent color text' label='.text-accent'}}
						<p><span class='text-accent'>Lorem ipsum dolor sit amet consectetur</span> adipisicing elit. Architecto odit illo tempore deleniti sit animi ipsam quam, accusantium consequuntur libero laudantium, aliquam officia ut sequi. Et facere molestiae dignissimos quis!</p>
					{{/widgets/components/components}}
					{{#> widgets/components/components title='White text' label='.text-white' bg=true}}
						<p class='text-xs'><span class='text-white'>Lorem ipsum dolor sit amet consectetur</span> adipisicing elit. Architecto odit illo tempore deleniti sit animi ipsam quam, accusantium consequuntur libero laudantium, aliquam officia ut sequi. Et facere molestiae dignissimos quis!</p>
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Subtitle under h1 | 37px' label='.subtitle'}}
						<p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, eveniet.</p>
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Navigate link in header | 22px' label='.link-header'}}
						<a href="javascript:void(0)" class="link-header">Lorem ipsum dolor sit amet.</a>
						<a href="javascript:void(0)" class="link-header">Lorem ipsum dolor.</a>
						<a class='link-header' href='javascript:void(0)'>Lorem, ipsum dolor.</a>
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Navigate SUB link | 22px' label='.sub-link'}}
						<a href="javascript:void(0)" class="sub-link">Lorem ipsum dolor sit amet.</a>
						<a href="javascript:void(0)" class="sub-link">Lorem</a>
						<a class='sub-link' href='javascript:void(0)'>Lorem, ipsum.</a>
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Full width image' label='.image-full-width'}}
						<div class="image-full-width">
							<img src="../images/main-page/01.webp" alt="">
						</div>
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Parametrs in circl' label='.params-circl'}}
						<div class="params-circl">
							<div class='params-circl__content'>
								<p class='h4 text-white'>более</p>
								<p class='text-value text-white'>15 лет</p>
								<p class='h4 text-white'>опыта</p>
							</div>
							<div class="params-circl__decor">
								<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
									<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
									<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
									<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />
									<g filter="url(#filter0_d_543_3420)">
										<path d="M622.608 316.944C622.608 491.779 484.207 633.496 313.5 633.496C142.793 633.496 4.39177 491.779 4.39177 316.944C4.39177 142.108 142.793 0.391772 313.5 0.391772C484.207 0.391772 622.608 142.108 622.608 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" shape-rendering="crispEdges" />
									</g>
									<defs>
										<filter id="filter0_d_543_3420" x="0" y="0" width="627" height="641.887" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
											<feFlood flood-opacity="0" result="BackgroundImageFix" />
											<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
											<feOffset dy="4" />
											<feGaussianBlur stdDeviation="2" />
											<feComposite in2="hardAlpha" operator="out" />
											<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
											<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_543_3420" />
											<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_543_3420" result="shape" />
										</filter>
									</defs>
								</svg>
							</div>
						</div>
						<div class="params-circl params-circl--big">
							<div class='params-circl__content'>
								<p class='h4 text-white'>более</p>
								<p class='text-value text-white'>15 лет</p>
								<p class='h4 text-white'>опыта</p>
							</div>
							<div class="params-circl__decor">
								<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
									<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
									<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
									<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />
									<g filter="url(#filter0_d_543_3420)">
										<path d="M622.608 316.944C622.608 491.779 484.207 633.496 313.5 633.496C142.793 633.496 4.39177 491.779 4.39177 316.944C4.39177 142.108 142.793 0.391772 313.5 0.391772C484.207 0.391772 622.608 142.108 622.608 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" shape-rendering="crispEdges" />
									</g>
									<defs>
										<filter id="filter0_d_543_3420" x="0" y="0" width="627" height="641.887" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
											<feFlood flood-opacity="0" result="BackgroundImageFix" />
											<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
											<feOffset dy="4" />
											<feGaussianBlur stdDeviation="2" />
											<feComposite in2="hardAlpha" operator="out" />
											<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
											<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_543_3420" />
											<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_543_3420" result="shape" />
										</filter>
									</defs>
								</svg>
							</div>
						</div>
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Circles with image' label='.circl-with-image'}}
						<div class="circl-with-image">
							<div class="circl-with-image__image"><img src="../images/cases/1.webp" alt="фото вечеринки">
								<div></div>
							</div>
							<div class='circl-with-image__content'>
								<p class='circl-with-image__title text-white'>МТС</p>
								<p class='circl-with-image__description text-white text-xxs'>Музыкальное шоу «Blog&VOICE»</p>
							</div>
							<div class="circl-with-image__decor">
								<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
									<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
									<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
									<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />
									<g filter="url(#filter0_d_543_3420)">
										<path d="M622.608 316.944C622.608 491.779 484.207 633.496 313.5 633.496C142.793 633.496 4.39177 491.779 4.39177 316.944C4.39177 142.108 142.793 0.391772 313.5 0.391772C484.207 0.391772 622.608 142.108 622.608 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" shape-rendering="crispEdges" />
									</g>
									<defs>
										<filter id="filter0_d_543_3420" x="0" y="0" width="627" height="641.887" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
											<feFlood flood-opacity="0" result="BackgroundImageFix" />
											<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
											<feOffset dy="4" />
											<feGaussianBlur stdDeviation="2" />
											<feComposite in2="hardAlpha" operator="out" />
											<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
											<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_543_3420" />
											<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_543_3420" result="shape" />
										</filter>
									</defs>
								</svg>
							</div>
						</div>
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Circles with image' label='.circl-with-image'}}
						<div class="circl-with-image">
							<div class="circl-with-image__image"><img src="../images/cases/1.webp" alt="фото вечеринки">
								<div></div>
							</div>
							<div class='circl-with-image__content'>
								<p class='circl-with-image__title text-white'>МТС</p>
								<p class='circl-with-image__description text-white text-xxs'>Музыкальное шоу «Blog&VOICE»</p>
							</div>
							<div class="circl-with-image__decor">
								<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
									<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
									<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
									<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />
									<g filter="url(#filter0_d_543_3420)">
										<path d="M622.608 316.944C622.608 491.779 484.207 633.496 313.5 633.496C142.793 633.496 4.39177 491.779 4.39177 316.944C4.39177 142.108 142.793 0.391772 313.5 0.391772C484.207 0.391772 622.608 142.108 622.608 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" shape-rendering="crispEdges" />
									</g>
									<defs>
										<filter id="filter0_d_543_3420" x="0" y="0" width="627" height="641.887" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
											<feFlood flood-opacity="0" result="BackgroundImageFix" />
											<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
											<feOffset dy="4" />
											<feGaussianBlur stdDeviation="2" />
											<feComposite in2="hardAlpha" operator="out" />
											<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
											<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_543_3420" />
											<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_543_3420" result="shape" />
										</filter>
									</defs>
								</svg>
							</div>
						</div>
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Circles with image' label='.circl-with-image'}}
						<div class="circl-with-image">
							<div class="circl-with-image__image"><img src="../images/cases/1.webp" alt="фото вечеринки">
								<div></div>
							</div>
							<div class='circl-with-image__content'>
								<p class='circl-with-image__title text-white'>МТС</p>
								<p class='circl-with-image__description text-white text-xxs'>Музыкальное шоу «Blog&VOICE»</p>
							</div>
							<div class="circl-with-image__decor">
								<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
									<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
									<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
									<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />
									<g filter="url(#filter0_d_543_3420)">
										<path d="M622.608 316.944C622.608 491.779 484.207 633.496 313.5 633.496C142.793 633.496 4.39177 491.779 4.39177 316.944C4.39177 142.108 142.793 0.391772 313.5 0.391772C484.207 0.391772 622.608 142.108 622.608 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" shape-rendering="crispEdges" />
									</g>
									<defs>
										<filter id="filter0_d_543_3420" x="0" y="0" width="627" height="641.887" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
											<feFlood flood-opacity="0" result="BackgroundImageFix" />
											<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
											<feOffset dy="4" />
											<feGaussianBlur stdDeviation="2" />
											<feComposite in2="hardAlpha" operator="out" />
											<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
											<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_543_3420" />
											<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_543_3420" result="shape" />
										</filter>
									</defs>
								</svg>
							</div>
						</div>
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Rebuild upper circl. It\'s called Circle Card' label='.card-circle'}}
						<div class='card-circle'>
							<div class="card-circle__decor">
								<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
									<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
									<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
									<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />
									<g filter="url(#filter0_d_543_3420)">
										<path d="M622.608 316.944C622.608 491.779 484.207 633.496 313.5 633.496C142.793 633.496 4.39177 491.779 4.39177 316.944C4.39177 142.108 142.793 0.391772 313.5 0.391772C484.207 0.391772 622.608 142.108 622.608 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" shape-rendering="crispEdges" />
									</g>
									<defs>
										<filter id="filter0_d_543_3420" x="0" y="0" width="627" height="641.887" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
											<feFlood flood-opacity="0" result="BackgroundImageFix" />
											<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
											<feOffset dy="4" />
											<feGaussianBlur stdDeviation="2" />
											<feComposite in2="hardAlpha" operator="out" />
											<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
											<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_543_3420" />
											<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_543_3420" result="shape" />
										</filter>
									</defs>
								</svg>
							</div>
							<div class="card-circle__body">
								<div class="card-circle__bg">
									<div class="card-circle__image"><img src="../images/cases/4.webp" alt=""></div>
								</div>
								<div class="card-circle__content">
									<p class='card-circle__title text-white'>МТС</p>
									<p class='card-circle__description text-white text-xxs'>Музыкальное шоу «Blog&VOICE»</p>
								</div>
							</div>
						</div>
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Flex container of circles.' label='...'}}
						<div class='card-circle__swiper swiper'>
							<div class='swiper-wrapper'>
								<div class='card-circle swiper-slide'>
									<div class="card-circle__decor">
										<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
											<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
											<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
											<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />
											<g filter="url(#filter0_d_543_3420)">
												<path d="M622.608 316.944C622.608 491.779 484.207 633.496 313.5 633.496C142.793 633.496 4.39177 491.779 4.39177 316.944C4.39177 142.108 142.793 0.391772 313.5 0.391772C484.207 0.391772 622.608 142.108 622.608 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" shape-rendering="crispEdges" />
											</g>
											<defs>
												<filter id="filter0_d_543_3420" x="0" y="0" width="627" height="641.887" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
													<feFlood flood-opacity="0" result="BackgroundImageFix" />
													<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
													<feOffset dy="4" />
													<feGaussianBlur stdDeviation="2" />
													<feComposite in2="hardAlpha" operator="out" />
													<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
													<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_543_3420" />
													<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_543_3420" result="shape" />
												</filter>
											</defs>
										</svg>
									</div>
									<div class="card-circle__body">
										<div class="card-circle__bg">
											<div class="card-circle__image"><img src="../images/cases/4.webp" alt=""></div>
										</div>
										<div class="card-circle__content">
											<p class='card-circle__title text-white'>МТС</p>
											<p class='card-circle__description text-white text-xxs'>Музыкальное шоу «Blog&VOICE»</p>
										</div>
									</div>
								</div>
							</div>
						</div>

					{{/widgets/components/components}}
					{{#> widgets/components/components title='Large button' label='.button-xl'}}
						{{> shared/buttonXl/buttonXl}}
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Color button' label='.button-color'}}
						{{> shared/buttonColor/buttonColor}}
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Company Logo' label='.logo'}}
						{{> shared/logo/logo}}
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Sub List' label='.sub-list'}}
						{{> widgets/subList/subList}}
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Header' label='.header'}}
						{{> widgets/header/header}}
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Header Menu' label='.header-menu'}}
						{{> widgets/headerMenu/headerMenu}}
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Item with marker' label='.item-with-marker'}}
						<li class="item-with-marker">
							<span class='item-with-marker__marker icon-close'></span>
							Lorem, ipsum.
						</li>
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Input type text' label='.input' bg=true}}
						<div class='input-block'>
							<input class="input" name="name" id="name" type="text" placeholder="" />
							<label for="name">Имя</label>
						</div>
						<div class='input-block '>
							<input class="input just-validate-error-field" name="name" id="name" type="text" placeholder="" />
							<label for="name">Имя</label>
							<div class="just-validate-error-label">Поле содержит недопустимые символы</div>
						</div>
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Cards with contacts' label='.contacts-card'}}
						{{> widgets/contactsCard/contactsCard}}
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Breadcrumb' label='.breadcrumb'}}
						{{> widgets/breadcrumb/breadcrumb}}
					{{/widgets/components/components}}
					{{#> widgets/components/components title='Color plate with text' label='.plate-with-text'}}
						{{#> widgets/plateWithText/PlateWithText}}
							<h3>Lorem, ipsum dolor.</h3>
						{{/widgets/plateWithText/PlateWithText}}
					{{/widgets/components/components}}
				</div>
		</div>
		</main>
		</div>
	</body>

</html>
