<!DOCTYPE html>
<html lang='ru'>

	<head>
		{{> app/head title='Мегафон | Кейс ProBTL'}}
	</head>

	<body>
		<div class='page page-cases wrapper'>

			{{> app/loader/loader}}


			{{> widgets/header/header}}

			<div class="megafon__breadcrumb">
				<div class="megafon__container">
					<nav class="breadcrumb">
						<ul itemscope itemtype="https://schema.org/BreadcrumbList" aria-label="Breadcrumb">
							<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
								<a class='link-header' itemprop="item" href="/">
									<span itemprop="name">Главная</span>
								</a>
								<meta itemprop="position" content="1" />
							</li>
							<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
								<a class='link-header' itemprop="item" href="/portfolio">
									<span itemprop="name">Портфолио</span>
								</a>
								<meta itemprop="position" content="2" />
							</li>
							<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
								<a class='link-header' itemprop="item" href="javascript:void(0)">
									<span itemprop="name">Мегафон</span>
								</a>
								<meta itemprop="position" content="3" />
							</li>
						</ul>
						<div class="breadcrumb__next"><a class='link-header' href="/cases/red-bull">Следующий проект<span class='icon-arrow'></span></a></div>
					</nav>
				</div>
			</div>

			<main class='pb-200 megafon'>

				<section class="megafon__two-rows-fw-image two-rows-fw-image">
					<div class="two-rows-fw-image__block">
						<div class="two-rows-fw-image__column">
							<div class="two-rows-fw-image__container">
								<div class="two-rows-fw-image__content">
									<div class="two-rows-fw-image__head">
										<h2 class='h2 text-with-dot'><span>.</span>Мегафон</h2>
										<p class='subtitle'>Оператор связи</p>
									</div>
									<div class="two-rows-fw-image__body">
										<div class='two-rows-fw-image__text'>
											<h6 class='text-l text-bold'>Реализация:</h6>
											<ul class="two-rows-fw-image__list">
												<li class="two-rows-fw-image__item item-with-marker">
													<span class='item-with-marker__marker icon-star-4pins'></span>
													<p>Бронирование и приобретение авиа- и ж.-д. билетов.</p>
												</li>
												<li class="two-rows-fw-image__item item-with-marker">
													<span class='item-with-marker__marker icon-star-4pins'></span>
													<p>Бронирование и оплата проживания в городе проведения.</p>
												</li>
												<li class="two-rows-fw-image__item item-with-marker">
													<span class='item-with-marker__marker icon-star-4pins'></span>
													<p>Трансфер участников пресс-тура на протяжении всего мероприятия.</p>
												</li>
												<li class="two-rows-fw-image__item item-with-marker">
													<span class='item-with-marker__marker icon-star-4pins'></span>
													<p>Организация питания для участников на протяжении всего пребывания в городе проведения.</p>
												</li>
												<li class="two-rows-fw-image__item item-with-marker">
													<span class='item-with-marker__marker icon-star-4pins'></span>
													<p>Организация досуга для СМИ - участников пресс-тура.</p>
												</li>
												<li class="two-rows-fw-image__item item-with-marker">
													<span class='item-with-marker__marker icon-star-4pins'></span>
													<p>Разработка key-visual, изготовление и предоставление пресс-пакетов с символикой проекта.</p>
												</li>
												<li class="two-rows-fw-image__item item-with-marker">
													<span class='item-with-marker__marker icon-star-4pins'></span>
													<p>Имиджевая застройка индустриального объекта (фальшпол, нестандартные подиумные конструкции, купольные конструкции, ковролин и т. д.).</p>
												</li>
												<li class="two-rows-fw-image__item item-with-marker">
													<span class='item-with-marker__marker icon-star-4pins'></span>
													<p>Обеспечение кейтеринга для СМИ и VIP-сектора.</p>
												</li>
												<li class="two-rows-fw-image__item item-with-marker">
													<span class='item-with-marker__marker icon-star-4pins'></span>
													<p>Техническое обеспечение светозвукового сопровождения презентации.</p>
												</li>
												<li class="two-rows-fw-image__item item-with-marker">
													<span class='item-with-marker__marker icon-star-4pins'></span>
													<p>Обеспечение телемоста между зоной презентации и бортом научно-исследовательского судна.</p>
												</li>
												<li class="two-rows-fw-image__item item-with-marker">
													<span class='item-with-marker__marker icon-star-4pins'></span>
													<p>Монтаж светодиодного экрана нестандартного размера.</p>
												</li>
												<li class="two-rows-fw-image__item item-with-marker">
													<span class='item-with-marker__marker icon-star-4pins'></span>
													<p>Продакшн.</p>
												</li>
												<li class="two-rows-fw-image__item item-with-marker">
													<span class='item-with-marker__marker icon-star-4pins'></span>
													<p>Индивидуальные экскурсии на борт научно-исследовательского судна.</p>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class='two-rows-fw-image__column'>
							<figure class="two-rows-fw-image__images">
								<div class='color-block'></div>
								<div class='two-rows-fw-image__image'>
									<div class='swiper-wrapper'>
										<div class='image-full-width swiper-slide'>
											<img src="/images/cases/megafon/01.webp" alt="фото корабля">
										</div>
									</div>
								</div>
								<figcaption class="text-with-bg text-white text-xxs">
									<div class="two-rows-fw-image__text text">
										<p class='text-bold'>Мероприятия для B2B-сектора.</p>
										<p>Организация презентации и пресс-конференции, приуроченной к запуску проекта, направленного на обеспечение оптоволоконного сообщения между Европой и Азией.</p>
										<p><b class='text-bold'>Период проведения:</b> июль 2020 года.</p>
										<p><b class='text-bold'>География:</b> г. Санкт-Петербург.</p>
										<p><b class='text-bold'>Продолжительность исследовательской экспедиции:</b> 105 дней.</p>

										<p><b class='text-bold'>Предмет экспедиции:</b> эхолокационное исследование морского дна.</p>
										<p><b class='text-bold'>Общая площадь застройки под презентацию:</b> свыше 2000 кв м</p>
										<p><b class='text-bold'>Нестандартная локация:</b> судоремонтная верфь в пограничной зоне.</p>
									</div>
								</figcaption>
							</figure>
						</div>

					</div>
					{{> widgets/navPrevNext/navPrevNext prev='/cases/komandor' next='/cases/red-bull'}}

				</section>

				<div class='card-circle'>
					<div class="card-circle__decor">

						<svg width="100%" height="100%" viewBox="0 0 1293 1293" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="646" cy="646" r="147.5" stroke="#F1F8FF" stroke-opacity="0.15" />
							<circle cx="646" cy="646" r="227" stroke="#F1F8FF" stroke-opacity="0.15" />
							<circle cx="646" cy="646" r="308" stroke="#F1F8FF" stroke-opacity="0.17" />
							<circle cx="646" cy="646" r="525.5" stroke="#F1F8FF" stroke-opacity="0.17" />
							<circle cx="646" cy="646" r="404" stroke="#F1F8FF" stroke-opacity="0.5" />
							<circle cx="646" cy="646" r="646" stroke="#F1F8FF" stroke-opacity="0.5" />
							<circle cx="646" cy="646" r="197.5" stroke="#F1F8FF" stroke-opacity="0.15" stroke-width="4" />
							<circle cx="646" cy="646" r="455" stroke="#F1F8FF" stroke-opacity="0.15" stroke-width="4" />
						</svg>
					</div>
					<div class="card-circle__body">
						<div class="card-circle__bg">
							<div class="card-circle__image"><img src="/images/cases/21.webp" alt=""></div>
						</div>
					</div>
				</div>
			</main>
			{{> widgets/footer/footer}}
			{{#> widgets/popup/popup type='request-popup'}}
				<div class="main__full-width-form full-width-form">
					<div class="full-width-form__container">
						<div class="full-width-form__head">
							<div class="full-width-form__title">
								<h5 class='h5 text-white'>Закажите услугу</h5>
							</div>
							<div class="full-width-form__sub-title">
								<p class="text-s text-white">Планируете организовать корпоратив, тимбилдинг, мероприятие для клиентов?</p>
							</div>
						</div>
						<div class="full-width-form__body">
							<form class="full-width-form__form form" method='post'>
								<div class="form__loader">
									<img src="/images/SvgSpinnersBlocksScale.svg" alt="" />
								</div>
								<div class="form__row">
									<div class='input-block text-white'>
										<input class="input" name="name" id="name" type="text" placeholder="" />
										<label for="name">Имя</label>
										<input class="input fn" name="fn" id="fn" type="text" required />
									</div>
									<div class='input-block text-white'>
										<input class="input" name="city" id="city" type="text" placeholder="" />
										<label for="city">Город</label>
									</div>
									<div class='input-block text-white'>
										<input class="input" name="phone" id="phone" type="tel" placeholder="" required />
										<label for="phone">Телефон</label>
									</div>
								</div>
								<div class="form__row">
									<div class='input-block text-white'>
										<textarea class="input" name="comment" id="message" rows="1"></textarea>
										<label for="message">Опишите, что вам требуется организовать</label>
									</div>
								</div>
								<div class="form__row">
									<div class="button button-light button-xl">
										<button type="submit" class="" id="submit-btn">Оставить заявку</button>
									</div>
									<div class='input-block checkbox text-white'>
										<input class='checkbox__input' type="checkbox" id="checkbox-input" name="agreement" required />
										<label class='checkbox__label text-xxs text-white' for="agreement">
											<p>я принимаю условия <a href="/privacy" target="blank">Политики конфиденциальности</a>, и даю согласие на обработку персональных данных</p>
										</label>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			{{/widgets/popup/popup}}

		</div>
	</body>

</html>
