<html lang='ru'>

	<head>
		{{> app/head title='MTS Blog&Voice | Webpack-template'}}
	</head>

	<body>
		<div class='page page__cases wrapper'>

			{{> app/loader/loader}}


			{{> widgets/header/header}}

			<div class="mts-blog-and-voice__breadcrumb">
				<div class="mts-blog-and-voice__container">
					<nav class="breadcrumb">
						<ul itemscope itemtype="https://schema.org/BreadcrumbList" aria-label="Breadcrumb">
							<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
								<a class='link-header' itemprop="item" href="/">
									<span itemprop="name">Главная</span>
								</a>
								<meta itemprop="position" content="1" />
							</li>
							<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
								<a class='link-header' itemprop="item" href="javascript:void(0)">
									<span itemprop="name">Портфолио</span>
								</a>
								<meta itemprop="position" content="2" />
							</li>
							<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
								<a class='link-header' itemprop="item" href="javascript:void(0)">
									<span itemprop="name">МТС</span>
								</a>
								<meta itemprop="position" content="3" />
							</li>
						</ul>
						<div class="breadcrumb__back"><a class='link-header' href="javascript:void(0)">Следующий проект<span class='icon-arrow'></span></a></div>
					</nav>
				</div>
			</div>

			<main class='mts-blog-and-voice'>

				<section class="mts-blog-and-voice__two-rows-fw-image two-rows-fw-image">
					<div class="two-rows-fw-image__block">
						<div class="two-rows-fw-image__column">
							<div class="two-rows-fw-image__container">
								<div class="two-rows-fw-image__content">
									<div class="two-rows-fw-image__head">
										<h2><span>.</span>MTC</h2>
										<p class='subtitle'>ОПЕРАТОР СВЯЗИ</p>
									</div>
									<div class="two-rows-fw-image__body">
										<h6 class='text-l text-bold'>Реализация:</h6>
										<ul class="two-rows-fw-image__list">
											<li class="two-rows-fw-image__item item-with-marker">
												<span class='item-with-marker__marker icon-star-4pins'></span>
												<p>Подбор, согласование площадки, заключение договора аренды.</p>
											</li>
											<li class="two-rows-fw-image__item item-with-marker">
												<span class='item-with-marker__marker icon-star-4pins'></span>
												<p><b class='text-bold'>Согласование</b> массового мероприятия администрацией.</p>
											</li>
											<li class="two-rows-fw-image__item item-with-marker">
												<span class='item-with-marker__marker icon-star-4pins'></span>
												<p>Подача заявок РАО ВОИС.</p>
											</li>
											<li class="two-rows-fw-image__item item-with-marker">
												<span class='item-with-marker__marker icon-star-4pins'></span>
												<p><b class='text-bold'>Обеспечение бытового райдера</b> команды продюсерского центра «Эколь».</p>
											</li>
											<li class="two-rows-fw-image__item item-with-marker">
												<span class='item-with-marker__marker icon-star-4pins'></span>
												<p>Технический персонал  концерте, обеспечение формой.</p>

											</li>
											<li class="two-rows-fw-image__item item-with-marker">
												<span class='item-with-marker__marker icon-star-4pins'></span>
												<p>Подготовка проведение фан-встречи.</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class='two-rows-fw-image__column'>
							<figure class="two-rows-fw-image__images">
								<div class='color-block'></div>
								<div class='two-rows-fw-image__image'>
									<div class='swiper-wrapper'>
										<div class='image-full-width swiper-slide'>
											<img src="/images/cases/01.webp" alt="фото веселой вечеринки">
										</div>
									</div>
								</div>
								<figcaption class="text-with-bg text-white text-xxs">
									<div class="two-rows-fw-image__text text">
										<p class='text-s text-bold'>Музыкальное шоу «Blog&VOICE»</p>
										<p><b class='text-bold'>Период проведения:</b> 2021–2022 (апрель, сентябрь).</p>
										<p><b class='text-bold'>География:</b> Калининград, Нижний Новгород, Тюмень, Уфа, Якутск.</p>
										<p>Яркое концертное светомузыкальное мероприятие для творческих подростков.</p>
										<p>Не менее 1500 зрителей в каждом городе.</p>
									</div>
								</figcaption>
							</figure>
						</div>

					</div>
				</section>

			</main>
			{{> widgets/footer/footer}}
			{{!-- <a href="components"><img width='100px' height='100px' src="./images/favicon.png" alt=""></a> --}}
		</div>
	</body>

</html>
