<html lang='ru'>

	<head>
		{{> app/head title='MTS Blog&Voice | Webpack-template'}}
	</head>

	<body>
		<div class='page page__cases wrapper'>

			{{> app/loader/loader}}


			{{> widgets/header/header}}

			<div class="mts-blog-and-voice__breadcrumb">
				<div class="mts-blog-and-voice__container">
					<nav class="breadcrumb">
						<ul itemscope itemtype="https://schema.org/BreadcrumbList" aria-label="Breadcrumb">
							<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
								<a class='link-header' itemprop="item" href="/">
									<span itemprop="name">Главная</span>
								</a>
								<meta itemprop="position" content="1" />
							</li>
							<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
								<a class='link-header' itemprop="item" href="javascript:void(0)">
									<span itemprop="name">Портфолио</span>
								</a>
								<meta itemprop="position" content="2" />
							</li>
							<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
								<a class='link-header' itemprop="item" href="javascript:void(0)">
									<span itemprop="name">МТС</span>
								</a>
								<meta itemprop="position" content="3" />
							</li>
						</ul>
						<div class="breadcrumb__back"><a class='link-header' href="javascript:void(0)">Следующий проект<span class='icon-arrow'></span></a></div>
					</nav>
				</div>
			</div>

			<main class='mts-blog-and-voice'>

				<section class="mts-blog-and-voice__two-rows-fw-image two-rows-fw-image">
					<div class="two-rows-fw-image__block">
						<div class="two-rows-fw-image__column">
							<div class="two-rows-fw-image__container">
								<div class="two-rows-fw-image__content">
									<div class="two-rows-fw-image__head">
										<h2><span>.</span>MTC</h2>
										<p class='subtitle'>ОПЕРАТОР СВЯЗИ</p>
									</div>
									<div class="two-rows-fw-image__body">
										<h6 class='text-l text-bold'>Реализация:</h6>
										<ul class="two-rows-fw-image__list">
											<li class="two-rows-fw-image__item item-with-marker">
												<span class='item-with-marker__marker icon-star-4pins'></span>
												<p>Подбор, согласование площадки, заключение договора аренды.</p>
											</li>
											<li class="two-rows-fw-image__item item-with-marker">
												<span class='item-with-marker__marker icon-star-4pins'></span>
												<p><b class='text-bold'>Согласование</b> массового мероприятия администрацией.</p>
											</li>
											<li class="two-rows-fw-image__item item-with-marker">
												<span class='item-with-marker__marker icon-star-4pins'></span>
												<p>Подача заявок РАО ВОИС.</p>
											</li>
											<li class="two-rows-fw-image__item item-with-marker">
												<span class='item-with-marker__marker icon-star-4pins'></span>
												<p><b class='text-bold'>Обеспечение бытового райдера</b> команды продюсерского центра «Эколь».</p>
											</li>
											<li class="two-rows-fw-image__item item-with-marker">
												<span class='item-with-marker__marker icon-star-4pins'></span>
												<p>Технический персонал  концерте, обеспечение формой.</p>

											</li>
											<li class="two-rows-fw-image__item item-with-marker">
												<span class='item-with-marker__marker icon-star-4pins'></span>
												<p>Подготовка проведение фан-встречи.</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class='two-rows-fw-image__column'>
							<figure class="two-rows-fw-image__images">
								<div class='color-block'></div>
								<div class='two-rows-fw-image__image'>
									<div class='swiper-wrapper'>
										<div class='image-full-width swiper-slide'>
											<img src="/images/cases/01.webp" alt="фото веселой вечеринки">


											<div class='two-rows-fw-image__decor'>
												<div class='card-circle'>
													<div class="card-circle__decor">
														<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
															<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
															<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
															<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
															<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />
															<g filter="url(#filter0_d_543_3420)">
																<path d="M622.608 316.944C622.608 491.779 484.207 633.496 313.5 633.496C142.793 633.496 4.39177 491.779 4.39177 316.944C4.39177 142.108 142.793 0.391772 313.5 0.391772C484.207 0.391772 622.608 142.108 622.608 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" shape-rendering="crispEdges" />
															</g>
															<defs>
																<filter id="filter0_d_543_3420" x="0" y="0" width="627" height="641.887" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
																	<feFlood flood-opacity="0" result="BackgroundImageFix" />
																	<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
																	<feOffset dy="4" />
																	<feGaussianBlur stdDeviation="2" />
																	<feComposite in2="hardAlpha" operator="out" />
																	<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
																	<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_543_3420" />
																	<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_543_3420" result="shape" />
																</filter>
															</defs>
														</svg>
													</div>
													<div class="card-circle__body">
														<div class="card-circle__bg">
															<div class="card-circle__image"><img src="../images/cases/4.webp" alt=""></div>
														</div>
													</div>
												</div>
											</div>


										</div>
									</div>
								</div>
								<figcaption class="text-with-bg text-white text-xxs">
									<div class="two-rows-fw-image__text text">
										<p class='text-s text-bold'>Музыкальное шоу «Blog&VOICE»</p>
										<p><b class='text-bold'>Период проведения:</b> 2021–2022 (апрель, сентябрь).</p>
										<p><b class='text-bold'>География:</b> Калининград, Нижний Новгород, Тюмень, Уфа, Якутск.</p>
										<p>Яркое концертное светомузыкальное мероприятие для творческих подростков.</p>
										<p>Не менее 1500 зрителей в каждом городе.</p>
									</div>
								</figcaption>
							</figure>
						</div>

					</div>
				</section>

			</main>
			{{> widgets/footer/footer}}
			{{!-- <a href="components"><img width='100px' height='100px' src="./images/favicon.png" alt=""></a> --}}
		</div>
	</body>

</html>
