.sub-list {
   position: relative;
   padding: 30px 7px 17px;
   min-width: 233px;

   // &:before {
   // 	content: "";
   // 	position: absolute;
   // 	inset: 0;
   // 	backdrop-filter: blur(17px);
   // }

   & > div {
      display: inline-flex;
      flex-direction: column;
      gap: 10px;
      background-color: $bg;
      border-radius: $radius;
      overflow: hidden;
      padding-block: 10px;
   }

   // .sub-list__item

   &__item {
      height: 100%;

      @include adaptiveValue('font-size', 22, 17);
   }
}
.sub-link {
}
