.sub-list {
	position: relative;
	display: inline-flex;
	flex-direction: column;
	gap: 14px;
	padding: 17px 7px;
	min-width: 233px;
	border-radius: $radius;
	overflow: hidden;

	&:before {
		content: "";
		position: absolute;
		inset: 0;
		background-color: $bg;
		backdrop-filter: blur(17px);
	}

	// .sub-list__item

	&__item {
		height: 100%;

		@include adaptiveValue("font-size", 22, 17);
	}
}
.sub-link {
}
