<ul class="sub-list">
	<li class="sub-list__item"><a class="sub-link" href="/event">Event</a></li>
	<li class="sub-list__item"><a class="sub-link" href="/corporate-events/ekaterinburg">Корпоративы в Екатеринбурге</a></li>
	<li class="sub-list__item"><a class="sub-link" href="/corporate-events/novosibirsk">Корпоративы в Новосибирске</a></li>
	<li class="sub-list__item"><a class="sub-link" href="/corporate-events/krasnoyarsk">Корпоративы в Красноярске</a></li>
	<li class="sub-list__item"><a class="sub-link" href="/corporate-events/omsk">Корпоративы в Омске</a></li>
	<li class="sub-list__item"><a class="sub-link" href="/corporate-events/tomsk">Корпоративы в Томске</a></li>
</ul>
