<ul class="sub-list">
	<li class="sub-list__item"><a class="sub-link" href="/about">О нас</a></li>
	<li class="sub-list__item"><a class="sub-link" href="/services">Услуги</a></li>
	<li class="sub-list__item"><a class="sub-link" href="javascript:void(0)">Вакансии</a></li>
</ul>
