<ul class="sub-list">
	<li class="sub-list__item"><a class='sub-link' href='/portfolio'>Портфолио</a></li>
	<li class="sub-list__item"><a class='sub-link' href='/assets/presentation_BTL.pdf' target='_blank'>Презентация</a></li>
	<li class="sub-list__item"><a class="sub-link" href="/about">О нас</a></li>
	<li class="sub-list__item"><a class='sub-link' href='/contacts'>Контакты</a></li>
	<li class="sub-list__item"><a class="sub-link" href="/vacancies">Вакансии</a></li>
</ul>
