.popup {
   position: fixed;
   top: 0;
   z-index: 200;
   height: 100vh;
   padding-block: 10vh;
   background-color: $accent1-l;
   &:has([class*='form-3']) {
      background-color: #ffffff61;
   }
   backdrop-filter: blur(17px);
   display: none;
   visibility: hidden;
   pointer-events: none;
   overflow-y: auto;

   //scroll-bar
   scrollbar-width: none;
   &::-webkit-scrollbar {
      display: none;
      width: 0;
      display: none;
   }

   &__wrapper {
      background-color: $accent1;
   }

   &__block {
   }

   &__close {
      display: flex;
      cursor: pointer;
      span {
         margin-left: auto;
         @include adaptiveValue('font-size', 36, 26);
         color: $white;
         text-align: right;
         padding: 30px 30px 10px 10px;

         // for form-3-widget
         .popup:has([class*='form-3']) & {
            @media (width < $mobile) {
               color: white !important;
            }
         }
      }
   }
}
