.tab-title {
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 5px;

	&::before {
		content: "";
		position: absolute;
		z-index: 100;
		width: calc(100% - 10px);
		height: 2px;
		background-color: $accent1;
		left: 50%;
		bottom: 3px;
		translate: -170% 0%;
		transition: translate $anim;
	}
	&:hover,
	&._tab-active {
		&:before {
			translate: -50% 0%;
		}
	}
}

.tab-title._tab-active {
	font-weight: 700;
}
