.params-circl {
	position: relative;
	display: flex;
	flex-direction: column;
	aspect-ratio: 1;
	max-width: 303px;
	background-color: $accent1;
	border-radius: 100%;
	@include adaptiveValue("padding", 15, 11);
	box-sizing: content-box;

	&__content {
		flex: 1;
		border-radius: 100%;
		border: 1px solid white;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		p {
			text-align: center;
			text-transform: lowercase;
		}
		.h4 {
			@include adaptiveValue("font-size", 27, 23);
		}
	}

	&__decor {
		content: "";
		position: absolute;
		z-index: -1;
		width: 169%;
		aspect-ratio: 1;
		left: 50%;
		top: 50%;
		translate: -50% -49.5%;
		opacity: 0;
		scale: 0.4;
	}

	// @media (any-hover: hover) and (pointer: fine) {
	&__decor {
		transition:
			opacity $anim,
			scale $anim 0.1s;

		svg path {
			stroke: $accent1;
		}
	}

	&:hover {
		.params-circl__decor {
			opacity: 1;
			scale: 1.1;
		}
	}
	// }
}

.params-circl--big {
	max-width: 366px;

	.params-circl__decor {
		opacity: 1;
		scale: 1;
	}
}

.swiper-slide-active {
	.params-circl__decor {
		transition:
			opacity $anim,
			scale $anim 0.1s;
		opacity: 1;
		scale: 1;
	}
}
