.circl-with-image {
	position: relative;
	max-width: 330px;
	aspect-ratio: 1;
	border-radius: 100%;
	display: flex;
	flex-direction: column;
	border: 3.19px solid $white;
	box-shadow: 0px 4.26px 18.42px 0px rgba(58, 69, 89, 0.34);

	// .circl-with-image__content

	&__content {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		@include adaptiveValue("padding-bottom", 30, 25);
		overflow: hidden;
		p {
			text-align: center;
		}
	}

	// .circl-with-image__title

	&__title {
		// text-transform: uppercase;
		font-weight: 500;
		margin-bottom: rem(8);
	}

	// .circl-with-image__description

	&__description {
		font-weight: 500;
	}

	// .circl-with-image__image

	&__image,
	&__image > div {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		border-radius: 100%;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		> div {
			height: 100%;
			background: linear-gradient(0deg, #0055b0 3.03%, #0055b000 50%);
		}
	}

	// .circl-with-image__decor

	&__decor {
		content: "";
		position: absolute;
		z-index: -1;
		width: 169%;
		aspect-ratio: 1;
		left: 50%;
		top: 50%;
		translate: -50% -49.5%;
		opacity: 0;
		scale: 0.4;
		svg path {
			stroke: red;
		}
	}

	@media (any-hover: hover) and (pointer: fine) {
		&__decor {
			transition:
				opacity $anim,
				scale $anim 0.1s;
		}

		&:hover {
			.circl-with-image__decor {
				opacity: 1;
				scale: 1;
			}
		}
	}
}

.swiper-slide-active {
	.circl-with-image__decor {
		transition:
			opacity $anim,
			scale $anim 0.1s;
		opacity: 1;
		scale: 0.9;
	}
}
