<footer class="footer">
	<div class="footer__container">
		<div class="footer__body">
			<div>
				<div class="contacts-card">
					<div class="contacts-card__body">
						<div class="contacts-card__icon"><svg width="100%" height="100%" viewBox="0 0 60 36" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M56.928 35.0796H50.4623C48.0172 35.0796 47.2805 33.0991 42.8973 28.7131C39.0667 25.0213 37.4488 24.5623 36.4798 24.5623C35.1397 24.5623 34.7742 24.9306 34.7742 26.7751V32.5891C34.7742 34.1616 34.2642 35.0825 30.1558 35.0825C26.1702 34.8147 22.3051 33.6039 18.8791 31.5497C15.453 29.4956 12.564 26.6569 10.45 23.2675C5.43043 17.02 1.93784 9.68753 0.25 1.85313C0.25 0.884131 0.618334 0.00579741 2.46567 0.00579741H8.92567C10.586 0.00579741 11.1838 0.745298 11.8355 2.4538C14.972 11.6848 20.3242 19.7145 22.4973 19.7145C23.3303 19.7145 23.693 19.3461 23.693 17.2693V7.76063C23.4182 3.4228 21.1147 3.0573 21.1147 1.48763C21.1438 1.07351 21.3332 0.687068 21.6427 0.410378C21.9522 0.133688 22.3574 -0.0114485 22.7722 0.00579741H32.9268C34.3152 0.00579741 34.7742 0.69713 34.7742 2.35746V15.1925C34.7742 16.578 35.3692 17.037 35.7885 17.037C36.6215 17.037 37.2618 16.578 38.789 15.0536C42.0625 11.0614 44.7369 6.61361 46.728 1.8503C46.9318 1.2784 47.3171 0.788858 47.8251 0.456346C48.333 0.123833 48.9358 -0.0333996 49.5415 0.00863054H56.0043C57.9423 0.00863054 58.3532 0.977632 57.9423 2.3603C55.5917 7.62581 52.6832 12.6241 49.2667 17.2693C48.5697 18.3318 48.292 18.8843 49.2667 20.131C49.907 21.1 52.1737 22.9926 53.6952 24.7918C55.9108 27.0018 57.7497 29.5575 59.1408 32.3568C59.6962 34.1588 58.7725 35.0796 56.928 35.0796Z" fill="black" />
							</svg></div>
						<div class="contacts-card__title">
							<div class="contacts-card__decor"></div>
							<p class='text-xs'>VK</p>
						</div>
					</div>
					<a href='https://vk.com/club225091936' target='_blank'></a>
				</div>
			</div>
			<div>
				<div class="contacts-card">
					<div class="contacts-card__body">
						<div class="contacts-card__icon"><svg width="100%" height="100%" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M18.2172 3.89359C17.2881 2.95504 16.1814 2.21089 14.9616 1.70455C13.7419 1.1982 12.4335 0.939795 11.1128 0.944396C5.57929 0.944396 1.06936 5.45433 1.06936 10.9879C1.06936 12.7614 1.53555 14.4843 2.40714 16.0045L0.988281 21.2137L6.30899 19.8152C7.77851 20.6158 9.43046 21.0415 11.1128 21.0415C16.6464 21.0415 21.1563 16.5315 21.1563 10.998C21.1563 8.3123 20.1124 5.78877 18.2172 3.89359ZM11.1128 19.3388C9.61289 19.3388 8.14336 18.9334 6.85626 18.1733L6.55222 17.9909L3.3902 18.822L4.23138 15.741L4.02868 15.4268C3.19536 14.0961 2.75287 12.558 2.75171 10.9879C2.75171 6.38672 6.50154 2.63689 11.1027 2.63689C13.3323 2.63689 15.4302 3.50847 17.0011 5.08948C17.7789 5.86373 18.3953 6.78467 18.8146 7.79891C19.2338 8.81315 19.4476 9.90052 19.4435 10.998C19.4638 15.5991 15.714 19.3388 11.1128 19.3388ZM15.6937 13.0959C15.4403 12.9743 14.2039 12.3662 13.9809 12.275C13.7478 12.1939 13.5857 12.1533 13.4134 12.3966C13.2411 12.6499 12.7648 13.2175 12.6229 13.3796C12.481 13.5519 12.329 13.5722 12.0756 13.4404C11.8222 13.3188 11.0115 13.0452 10.0588 12.1939C9.30885 11.525 8.81225 10.7041 8.66023 10.4507C8.51834 10.1974 8.63996 10.0656 8.77171 9.93385C8.88319 9.82237 9.02508 9.63995 9.14669 9.49806C9.26831 9.35618 9.31898 9.24469 9.40006 9.08254C9.48114 8.91025 9.4406 8.76837 9.37979 8.64675C9.31898 8.52513 8.81225 7.2887 8.60956 6.78197C8.40686 6.2955 8.19403 6.35631 8.04201 6.34618H7.55555C7.38326 6.34618 7.11976 6.40699 6.88666 6.66035C6.6637 6.91372 6.01508 7.5218 6.01508 8.75823C6.01508 9.99466 6.91707 11.1906 7.03868 11.3527C7.1603 11.525 8.81225 14.0587 11.3256 15.1431C11.9236 15.4066 12.3898 15.5586 12.7546 15.6701C13.3526 15.8626 13.8999 15.8322 14.3356 15.7714C14.8221 15.7005 15.8254 15.1633 16.0281 14.5755C16.241 13.9877 16.241 13.4911 16.17 13.3796C16.0991 13.2682 15.9471 13.2175 15.6937 13.0959Z" fill="#000407" />
							</svg></div>
						<div class="contacts-card__title">
							<div class="contacts-card__decor"></div>
							<p class='text-xs'>WA</p>
						</div>
					</div>
					<a href='https://wa.me/79134629902?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%D0%9F%D0%B8%D1%88%D1%83%20%D1%81%20%D1%81%D0%B0%D0%B9%D1%82%D0%B0%20%D0%9F%D0%A0%D0%9E%D0%91%D0%A2%D0%9B' target='_blank'></a>
				</div>
			</div>
			<div>
				<div class="contacts-card">
					<div class="contacts-card__body">
						<address class='contacts-card__address'>
							<a href="mailto:info@probtl.ru">info@probtl.ru</a>
							{{#if phone}}<a href="tel:+7{{phone}}">{{phone}}</a>
							{{else}}<a href="tel:+73832106161">3832106161</a>{{/if}}
						</address>
					</div>
				</div>
			</div>
			<div>
				<div class="contacts-card">
					<div class="contacts-card__body">
						<div class="contacts-card__icon"><svg width="100%" height="100%" viewBox="0 0 57 47" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M56.4406 1.00162C56.861 1.34154 57.0659 1.88135 56.9771 2.41459L49.8937 44.9146C49.8095 45.4198 49.4733 45.8472 49.0021 46.0479C48.5309 46.2487 47.9898 46.1952 47.5671 45.9059L30.8878 34.4938L22.5627 42.8908C22.1347 43.3224 21.4885 43.4531 20.9264 43.2217C20.3643 42.9903 19.9975 42.4425 19.9975 41.8347V27.5523L1.45199 24.9029C0.778325 24.8067 0.253847 24.269 0.174388 23.5931C0.0949279 22.9173 0.480398 22.2726 1.11338 22.0228L54.9467 0.772754C55.4495 0.574266 56.0203 0.661702 56.4406 1.00162ZM22.9975 29.0951L28.3708 32.7716L22.9975 38.1912V29.0951ZM31.5717 31.3267C31.5564 31.3158 31.541 31.3053 31.5254 31.2951L24.1226 26.23L53.4258 5.47357L47.321 42.1026L31.5717 31.3267ZM44.4935 8.1243L7.48239 22.7339L21.118 24.6819L44.4935 8.1243Z" fill="black" />
							</svg></div>
						<div class="contacts-card__title">
							<div class="contacts-card__decor"></div>
							<p class='text-xs'>TG</p>
						</div>
					</div>
					<a href='https://t.me/pro_btl' target='_blank'></a>
				</div>
			</div>
			<div>
				<div class="contacts-card contacts-card--w2">
					<div class="contacts-card__body">
						<nav class='contacts-card__navigate'>
							<ul class="contacts-card__list">
								<li class="contacts-card__item"><a href="/about" class="link-header">О нас</a></li>
								<li class="contacts-card__item"><a href="/contacts" class="link-header">Контакты</a></li>
								<li class="contacts-card__item"><a href="/services" class="link-header">Услуги</a></li>
								<li class="contacts-card__item"><a href="/assets/presentation_BTL.pdf" class="link-header">Презентация</a></li>
								<li class="contacts-card__item"><a href="/vacancies" class="link-header">Вакансии</a></li>
								<li class="contacts-card__item"><a href="/portfolio" class="link-header">Портфолио</a></li>

							</ul>
						</nav>
						{{> shared/logo/logo}}
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
