.find-promoter {
   .form-2-widget__image img {
      object-position: center 0px;
   }

   .input-radio {
      padding-inline-start: 10px;

      div:has(input + label) {
         &:not(:last-child) {
            margin-bottom: 10px;
         }
      }
   }
}
