<!DOCTYPE html>
<html lang='ru'>

	<head>
		{{> app/head title='Российские железные дороги | Кейс ProBTL'}}
	</head>

	<body>
		<div class='page page-cases wrapper'>

			{{> app/loader/loader}}


			{{> widgets/header/header}}

			<div class="rzhd__breadcrumb">
				<div class="rzhd__container">
					<nav class="breadcrumb">
						<ul itemscope itemtype="https://schema.org/BreadcrumbList" aria-label="Breadcrumb">
							<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
								<a class='link-header' itemprop="item" href="/">
									<span itemprop="name">Главная</span>
								</a>
								<meta itemprop="position" content="1" />
							</li>
							<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
								<a class='link-header' itemprop="item" href="/portfolio">
									<span itemprop="name">Портфолио</span>
								</a>
								<meta itemprop="position" content="2" />
							</li>
							<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
								<a class='link-header' itemprop="item" href="javascript:void(0)">
									<span itemprop="name">РЖД</span>
								</a>
								<meta itemprop="position" content="3" />
							</li>
						</ul>
						<div class="breadcrumb__next"><a class='link-header' href="/cases/alfabank">Следующий проект<span class='icon-arrow'></span></a></div>
					</nav>
				</div>
			</div>

			<main class='rzhd'>

				<section class="rzhd__two-rows-fw-image two-rows-fw-image">
					<div class="two-rows-fw-image__block">
						<div class="two-rows-fw-image__column">
							<div class="two-rows-fw-image__container">
								<div class="two-rows-fw-image__content">
									<div class="two-rows-fw-image__head">
										<h2><span>.</span>РЖД</h2>
										<p class='subtitle'>Российские железные дороги</p>
									</div>
									<div class="two-rows-fw-image__body">
										<div class="two-rows-fw-image__text text">
											<p><b class='text-bold'>Период проведения: </b>ноябрь 2023 года.</p>
											<p><b class='text-bold'>География: </b>г. Новосибирск.</p>
											<p>Организация подготовки традиционного слета молодежи Западно-Сибирского филиала Федеральной пассажирской компании.</p>
											<p>22 молодых сотрудника АО ФПК прибыли из разных городов Сибирского федерального округа в Новосибирск прокачать свои скилы, а также активно отдохнуть и пообщаться с коллегами.</p>
											<p>На мероприятии сотрудники пообщались в неформальной обстановке, перезагрузились, получили массу эмоций и порцию вдохновения. Молодой локомотив компании с новыми силами готов двигаться дальше.</p>
										</div>
										<h6 class='text-l text-bold'>Реализация:</h6>
										<ul class="two-rows-fw-image__list">
											<li class="two-rows-fw-image__item item-with-marker">
												<span class='item-with-marker__marker icon-star-4pins'></span>
												<p>организован интенсив «Ораторское искусство как залог хорошей презентации»;</p>
											</li>
											<li class="two-rows-fw-image__item item-with-marker">
												<span class='item-with-marker__marker icon-star-4pins'></span>
												<p>проведен кулинарный мастер-класс поварского искусства;</p>
											</li>
											<li class="two-rows-fw-image__item item-with-marker">
												<span class='item-with-marker__marker icon-star-4pins'></span>
												<p>трансфер.</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class='two-rows-fw-image__column'>
							<div class="two-rows-fw-image__images">

								<div class='two-rows-fw-image__image'>
									<div class='swiper-wrapper'>
										<div class='image-full-width swiper-slide'>
											<img src="/images/cases/rzhd/01.webp" alt="фото процесса готовки блюда">
										</div>
										<div class='image-full-width swiper-slide'>
											<img src="/images/cases/rzhd/02.webp" alt="фото участников">
										</div>
										<div class='image-full-width swiper-slide'>
											<img src="/images/cases/rzhd/03.webp" alt="фото ингредиентов и кухонного оборудования">
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
					{{> widgets/navPrevNext/navPrevNext prev='/cases/kari/' next='/cases/alfabank'}}

				</section>

				<div class='card-circle'>
					<div class="card-circle__decor">

						<svg width="100%" height="100%" viewBox="0 0 1293 1293" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="646" cy="646" r="147.5" stroke="#F1F8FF" stroke-opacity="0.15" />
							<circle cx="646" cy="646" r="227" stroke="#F1F8FF" stroke-opacity="0.15" />
							<circle cx="646" cy="646" r="308" stroke="#F1F8FF" stroke-opacity="0.17" />
							<circle cx="646" cy="646" r="525.5" stroke="#F1F8FF" stroke-opacity="0.17" />
							<circle cx="646" cy="646" r="404" stroke="#F1F8FF" stroke-opacity="0.5" />
							<circle cx="646" cy="646" r="646" stroke="#F1F8FF" stroke-opacity="0.5" />
							<circle cx="646" cy="646" r="197.5" stroke="#F1F8FF" stroke-opacity="0.15" stroke-width="4" />
							<circle cx="646" cy="646" r="455" stroke="#F1F8FF" stroke-opacity="0.15" stroke-width="4" />
						</svg>
					</div>
					<div class="card-circle__body">
						<div class="card-circle__bg">
							<div class="card-circle__image"><img src="/images/cases/14.webp" alt="фото участников"></div>
						</div>
					</div>
				</div>

			</main>
			{{> widgets/footer/footer}}
			{{#> widgets/popup/popup type='request-popup'}}
				<div class="main__full-width-form full-width-form">
					<div class="full-width-form__container">
						<div class="full-width-form__head">
							<div class="full-width-form__title">
								<h5 class=' text-white'>Закажите услугу</h5>
							</div>
							<div class="full-width-form__sub-title">
								<p class="text-s text-white">Планируете организовать корпоратив, тимбилдинг, мероприятие для клиентов?</p>
							</div>
						</div>
						<div class="full-width-form__body">
							<form class="full-width-form__form form" method='post'>
								<div class="form__loader">
									<img src="/images/SvgSpinnersBlocksScale.svg" alt="" />
								</div>
								<div class="form__row">
									<div class='input-block text-white'>
										<input class="input" name="name" id="name" type="text" placeholder="" />
										<label for="name">Имя</label>
										<input class="input fn" name="fn" id="fn" type="text" required />
									</div>
									<div class='input-block text-white'>
										<input class="input" name="city" id="city" type="text" placeholder="" />
										<label for="city">Город</label>
									</div>
									<div class='input-block text-white'>
										<input class="input" name="phone" id="phone" type="tel" placeholder="" required />
										<label for="phone">Телефон</label>
									</div>
								</div>
								<div class="form__row">
									<div class='input-block text-white'>
										<textarea class="input" name="comment" id="message" rows="1"></textarea>
										<label for="message">Опишите, что вам требуется организовать</label>
									</div>
								</div>
								<div class="form__row">
									<div class="button button-light button-xl">
										<button type="submit" class="" id="submit-btn">Оставить заявку</button>
									</div>
									<div class='input-block checkbox text-white'>
										<input class='checkbox__input' type="checkbox" id="checkbox-input" name="agreement" checked required />
										<label class='checkbox__label text-xs text-white' for="agreement">Согласен на обработку персональных данных</label>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			{{/widgets/popup/popup}}
			<div class='success' style='visibility: hidden; display: none;'>
				<h3 class='text-white'>Заявка отправлена!</h3>
			</div>
			{{!-- <a href="components"><img width='100px' height='100px' src="/images/favicon.png" alt=""></a> --}}
		</div>
	</body>

</html>
