<html lang='ru'>

	<head>
		{{> app/head title='Webpack-template'}}
	</head>

	<body>
		<div class='wrapper'>
			{{> app/loader/loader}}

			<main class='page page__main main'>
				{{> widgets/header/header}}

				<section class="main__first-screen first-screen">
					<div class="first-screen__container">
						<div class="first-screen__body">
							<div class='first-screen__content'>
								<h1 class="text-white">БТЛ.<span>ЦЕНТР</span>
									<svg width="1293" height="1293" viewBox="0 0 1293 1293" fill="none" xmlns="http://www.w3.org/2000/svg">
										<circle cx="702" cy="646" r="147.5" stroke="#F1F8FF" stroke-opacity="0.15" />
										<circle cx="701.5" cy="646.5" r="227" stroke="#F1F8FF" stroke-opacity="0.15" />
										<circle cx="701.5" cy="646.5" r="308" stroke="#F1F8FF" stroke-opacity="0.17" />
										<circle cx="730" cy="649" r="525.5" stroke="#F1F8FF" stroke-opacity="0.17" />
										<circle cx="701.5" cy="646.5" r="404" stroke="#F1F8FF" stroke-opacity="0.5" />
										<circle cx="646.5" cy="646.5" r="646" stroke="#F1F8FF" stroke-opacity="0.5" />
										<circle cx="701.5" cy="646.5" r="197.5" stroke="#F1F8FF" stroke-opacity="0.15" stroke-width="4" />
										<circle cx="702" cy="646" r="455" stroke="#F1F8FF" stroke-opacity="0.15" stroke-width="4" />
									</svg>
								</h1>
								<p class='subtitle text-white'>агентство событий</p>
							</div>
							<div class="first-screen__cta">
								<div class="button button-color bordered">
									<a href='javascript:void(0)' class=''>Обсудить проект</a>
									<span class='icon-arrow'></span>
								</div>
							</div>
						</div>
					</div>
					<div class="first-screen__bg">
						<img src="./images/main-page/1.jpeg" alt="люди выступают на сцене">
						<div></div>

					</div>
				</section>

				<section class="main__about about">
					<div class="about__container">
						<div class="about__body">
							<div class="about__row">
								<div class="about__content">
									<div class="about__title">
										<h3 class='text-accent'>Организация Event, PR и&nbsp;BTL событий</h3>
									</div>
									<div class="about__text">
										<p>Мы предлагаем полный комплекс услуг в области BTL, EVENT, PR. Организовываем мероприятия, конференции, корпоративы, масштабные события, проводим промоакции, разрабатываем коммуникационные стратегии. </p>
									</div>
								</div>
								<div class="about__params">
									<div class="params-circl params-circl--big">
										<div class='params-circl__content'>
											<p class='h4 text-white'>более</p>
											<p class='text-value text-white'>15 лет</p>
											<p class='h4 text-white'>опыта</p>
										</div>
										<div class="params-circl__decor">
											<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
												<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
												<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
												<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />
												<g filter="url(#filter0_d_543_3420)">
													<path d="M622.608 316.944C622.608 491.779 484.207 633.496 313.5 633.496C142.793 633.496 4.39177 491.779 4.39177 316.944C4.39177 142.108 142.793 0.391772 313.5 0.391772C484.207 0.391772 622.608 142.108 622.608 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" shape-rendering="crispEdges" />
												</g>
												<defs>
													<filter id="filter0_d_543_3420" x="0" y="0" width="627" height="641.887" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
														<feFlood flood-opacity="0" result="BackgroundImageFix" />
														<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
														<feOffset dy="4" />
														<feGaussianBlur stdDeviation="2" />
														<feComposite in2="hardAlpha" operator="out" />
														<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
														<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_543_3420" />
														<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_543_3420" result="shape" />
													</filter>
												</defs>
											</svg>
										</div>
									</div>
								</div>
							</div>
							<div class="about-swiper swiper slider-params">
								<div class='about__wrapper swiper-wrapper'>
									<div class="about__params swiper-slide">
										<div class="params-circl">
											<div class='params-circl__content'>
												<p class='text-value text-white'>5</p>
												<p class='h4 text-white'>Стран</p>
											</div>
											<div class="params-circl__decor">
												<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
													<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
													<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
													<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />
													<g filter="url(#filter0_d_543_3420)">
														<path d="M622.608 316.944C622.608 491.779 484.207 633.496 313.5 633.496C142.793 633.496 4.39177 491.779 4.39177 316.944C4.39177 142.108 142.793 0.391772 313.5 0.391772C484.207 0.391772 622.608 142.108 622.608 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" shape-rendering="crispEdges" />
													</g>
													<defs>
														<filter id="filter0_d_543_3420" x="0" y="0" width="627" height="641.887" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
															<feFlood flood-opacity="0" result="BackgroundImageFix" />
															<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
															<feOffset dy="4" />
															<feGaussianBlur stdDeviation="2" />
															<feComposite in2="hardAlpha" operator="out" />
															<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
															<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_543_3420" />
															<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_543_3420" result="shape" />
														</filter>
													</defs>
												</svg>
											</div>
										</div>
										<p>5 стран ближнего зарубежья, где реализованы мероприятия</p>
									</div>
									<div class="about__params swiper-slide">
										<div class="params-circl">
											<div class='params-circl__content'>
												<p class='text-value text-white'>16</p>
												<p class='h4 text-white'>Милли&shy;онников</p>
											</div>
											<div class="params-circl__decor">
												<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
													<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
													<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
													<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />
													<g filter="url(#filter0_d_543_3420)">
														<path d="M622.608 316.944C622.608 491.779 484.207 633.496 313.5 633.496C142.793 633.496 4.39177 491.779 4.39177 316.944C4.39177 142.108 142.793 0.391772 313.5 0.391772C484.207 0.391772 622.608 142.108 622.608 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" shape-rendering="crispEdges" />
													</g>
													<defs>
														<filter id="filter0_d_543_3420" x="0" y="0" width="627" height="641.887" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
															<feFlood flood-opacity="0" result="BackgroundImageFix" />
															<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
															<feOffset dy="4" />
															<feGaussianBlur stdDeviation="2" />
															<feComposite in2="hardAlpha" operator="out" />
															<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
															<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_543_3420" />
															<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_543_3420" result="shape" />
														</filter>
													</defs>
												</svg>
											</div>
										</div>
										<p>16 городов-миллионников, в которых реализуются проекты</p>
									</div>
									<div class="about__params swiper-slide">
										<div class="params-circl">
											<div class='params-circl__content'>
												<p class='text-value text-white'>50</p>
												<p class='h4 text-white'>Тендеров</p>
											</div>
											<div class="params-circl__decor">
												<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
													<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
													<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
													<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />
													<g filter="url(#filter0_d_543_3420)">
														<path d="M622.608 316.944C622.608 491.779 484.207 633.496 313.5 633.496C142.793 633.496 4.39177 491.779 4.39177 316.944C4.39177 142.108 142.793 0.391772 313.5 0.391772C484.207 0.391772 622.608 142.108 622.608 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" shape-rendering="crispEdges" />
													</g>
													<defs>
														<filter id="filter0_d_543_3420" x="0" y="0" width="627" height="641.887" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
															<feFlood flood-opacity="0" result="BackgroundImageFix" />
															<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
															<feOffset dy="4" />
															<feGaussianBlur stdDeviation="2" />
															<feComposite in2="hardAlpha" operator="out" />
															<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
															<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_543_3420" />
															<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_543_3420" result="shape" />
														</filter>
													</defs>
												</svg>
											</div>
										</div>
										<p>50 выигранных крупных тендеров</p>
									</div>
									<div class="about__params swiper-slide">
										<div class="params-circl">
											<div class='params-circl__content'>
												<p class='text-value text-white'>18 000</p>
												<p class='h4 text-white'>Проектов</p>
											</div>
											<div class="params-circl__decor">
												<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
													<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
													<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
													<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />
													<g filter="url(#filter0_d_543_3420)">
														<path d="M622.608 316.944C622.608 491.779 484.207 633.496 313.5 633.496C142.793 633.496 4.39177 491.779 4.39177 316.944C4.39177 142.108 142.793 0.391772 313.5 0.391772C484.207 0.391772 622.608 142.108 622.608 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" shape-rendering="crispEdges" />
													</g>
													<defs>
														<filter id="filter0_d_543_3420" x="0" y="0" width="627" height="641.887" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
															<feFlood flood-opacity="0" result="BackgroundImageFix" />
															<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
															<feOffset dy="4" />
															<feGaussianBlur stdDeviation="2" />
															<feComposite in2="hardAlpha" operator="out" />
															<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
															<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_543_3420" />
															<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_543_3420" result="shape" />
														</filter>
													</defs>
												</svg>
											</div>
										</div>
										<p>18000 реализованных проектов</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<div class="main__clients clients">
					<div class="clients__content">
						<div class="clients__slider clients-slider swiper">
							<div class="clients-slider__wrapper swiper-wrapper">
								<div class="clients-slider__slide swiper-slide">
									<img src="./images/clients/clients-logo-s7.svg" alt="логотип компании клиента S7" class="clients-slider__image" style="height: 38px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="./images/clients/clients-logo-ozone.svg" alt="логотип компании клиента Ozone" class="clients-slider__image" style="height: 19px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="./images/clients/clients-logo-megafon.svg" alt="логотип компании клиента Megafon" class="clients-slider__image" style="height: 29px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="./images/clients/clients-logo-burger-king.svg" alt="логотип компании клиента Burger King" class="clients-slider__image" style="height: 38px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="./images/clients/clients-logo-tele2.svg" alt="логотип компании клиента Tele2" class="clients-slider__image" style="height: 29px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="./images/clients/clients-logo-gazprom.svg" alt="логотип компании клиента Gazprom" class="clients-slider__image" style="height: 38px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="./images/clients/clients-logo-rostelecom.svg" alt="логотип компании клиента Rostelecom" class="clients-slider__image" style="height: 38px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="./images/clients/clients-logo-mts.svg" alt="логотип компании клиента Mts" class="clients-slider__image" style="height: 19px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="./images/clients/clients-logo-2gis.svg" alt="логотип компании клиента 2gis" class="clients-slider__image" style="height: 29px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="./images/clients/clients-logo-5.svg" alt="логотип компании клиента Piaterochka" class="clients-slider__image" style="height: 29px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="./images/clients/clients-logo-zarplata.svg" alt="логотип компании клиента Zarplata" class="clients-slider__image" style="height: 19px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="./images/clients/clients-logo-wildberries.svg" alt="логотип компании клиента Wildberries" class="clients-slider__image" style="height: 29px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="./images/clients/clients-logo-hh.svg" alt="логотип компании клиента hh.ru" class="clients-slider__image" style="height: 38px" />
								</div>
							</div>
						</div>
						<div dir="RTL" class="clients__slider clients-slider swiper">
							<div class="clients-slider__wrapper swiper-wrapper">
								<div class="clients-slider__slide swiper-slide">
									<img src="./images/clients/clients-logo-s7.svg" alt="логотип компании клиента S7" class="clients-slider__image" style="height: 38px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="./images/clients/clients-logo-ozone.svg" alt="логотип компании клиента Ozone" class="clients-slider__image" style="height: 19px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="./images/clients/clients-logo-megafon.svg" alt="логотип компании клиента Megafon" class="clients-slider__image" style="height: 29px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="./images/clients/clients-logo-burger-king.svg" alt="логотип компании клиента Burger King" class="clients-slider__image" style="height: 38px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="./images/clients/clients-logo-tele2.svg" alt="логотип компании клиента Tele2" class="clients-slider__image" style="height: 29px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="./images/clients/clients-logo-gazprom.svg" alt="логотип компании клиента Gazprom" class="clients-slider__image" style="height: 38px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="./images/clients/clients-logo-rostelecom.svg" alt="логотип компании клиента Rostelecom" class="clients-slider__image" style="height: 38px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="./images/clients/clients-logo-mts.svg" alt="логотип компании клиента Mts" class="clients-slider__image" style="height: 19px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="./images/clients/clients-logo-2gis.svg" alt="логотип компании клиента 2gis" class="clients-slider__image" style="height: 29px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="./images/clients/clients-logo-5.svg" alt="логотип компании клиента Piaterochka" class="clients-slider__image" style="height: 29px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="./images/clients/clients-logo-zarplata.svg" alt="логотип компании клиента Zarplata" class="clients-slider__image" style="height: 19px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="./images/clients/clients-logo-wildberries.svg" alt="логотип компании клиента Wildberries" class="clients-slider__image" style="height: 29px" />
								</div>
								<div class="clients-slider__slide swiper-slide">
									<img src="./images/clients/clients-logo-hh.svg" alt="логотип компании клиента hh.ru" class="clients-slider__image" style="height: 38px" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<section class="main__services services">

					<div class="services__tabs services-tabs">
						<div data-tabs data-tabs-hash data-tabs-animate class="services-tabs">
							<nav data-tabs-titles class="services-tabs__navigation">
								<button type="button" class="services-tabs__title tab-title h4  _tab-active">EVENT-МАРКЕТИНГ</button>
								<button type="button" class="services-tabs__title tab-title h4 ">PR-СОБЫТИЯ</button>
								<button type="button" class="services-tabs__title tab-title h4 ">BTL</button>
							</nav>
							<div data-tabs-body class="services-tabs__items">
								<div>
									<article class="services-tabs__item services-tabs-item ">
										<div class="services-tabs-item__content">
											<div class="services-tabs-item__container">
												<div class="services-tabs-item__body">
													<h1><span>.</span>EVENT</h1>
													<div class="services-tabs-item__text text">
														<p>-то, на чем держится эмоциональная связь с брендом.</p>
														<p>Профессионально организовываем мероприятия, которые покоряют сердца, вызывают улыбки и оставляют приятные впечатления!</p>
													</div>
													<div class="services-tabs-item__cta">
														<div class="button button-color">
															<a href='javascript:void(0)' class=''>Портфолио</a>
															<span class='icon-arrow'></span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="services-tabs-item__image">
											<img src="./images/main-page/2.jpeg" alt="">
										</div>
									</article>
								</div>
								<div>
									<article class="services-tabs__item services-tabs-item ">
										<div class="services-tabs-item__content">
											<div class="services-tabs-item__container">
												<div class="services-tabs-item__body">
													<h1><span>.</span>PR</h1>
													<div class="services-tabs-item__text text">
														<p>-то, на чем держится эмоциональная связь с брендом.</p>
														<p>Профессионально организовываем мероприятия, которые покоряют сердца, вызывают улыбки и оставляют приятные впечатления!</p>
													</div>
													<div class="services-tabs-item__cta">
														<div class=" button button-color">
															<a href='javascript:void(0)' class=''>Портфолио</a>
															<span class='icon-arrow'></span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="services-tabs-item__image">
											<img src="./images/main-page/2.jpeg" alt="">
										</div>
									</article>
								</div>
								<div>
									<article class="services-tabs__item services-tabs-item ">
										<div class="services-tabs-item__content">
											<div class="services-tabs-item__container">
												<div class="services-tabs-item__body">
													<h1><span>.</span>BTL</h1>
													<div class="services-tabs-item__text text">
														<p>-то, на чем держится эмоциональная связь с брендом.</p>
														<p>Профессионально организовываем мероприятия, которые покоряют сердца, вызывают улыбки и оставляют приятные впечатления!</p>
													</div>
													<div class="services-tabs-item__cta">
														<div class="button button-color">
															<a href='javascript:void(0)' class=''>Портфолио</a>
															<span class='icon-arrow'></span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="services-tabs-item__image">
											<img src="./images/main-page/2.jpeg" alt="">
										</div>
									</article>
								</div>
							</div>
						</div>
					</div>
					<div class="services__container">
						<div class="services__list services-list">
							<div class="services-list__head">
								<h3>Услуги</h3>
							</div>
							<div class="services-list__body">
								<ul class="services-list__items">
									<li class="services-list__item item-with-marker text-s">
										<span class='item-with-marker__marker icon-star-4pins'></span>
										Деловые мероприятия
									</li>
									<li class="services-list__item item-with-marker text-s">
										<span class='item-with-marker__marker icon-star-4pins'></span>
										Корпоративный выезд
									</li>
									<li class="services-list__item item-with-marker text-s">
										<span class='item-with-marker__marker icon-star-4pins'></span>
										23 Февраля
									</li>
									<li class="services-list__item item-with-marker text-s">
										<span class='item-with-marker__marker icon-star-4pins'></span>
										Кейтеринг
									</li>
									<li class="services-list__item item-with-marker text-s">
										<span class='item-with-marker__marker icon-star-4pins'></span>
										Корпоративы
									</li>
									<li class="services-list__item item-with-marker text-s">
										<span class='item-with-marker__marker icon-star-4pins'></span>
										Выездной квест
									</li>
									<li class="services-list__item item-with-marker text-s">
										<span class='item-with-marker__marker icon-star-4pins'></span>
										Тимбилдинг
									</li>
									<li class="services-list__item item-with-marker text-s">
										<span class='item-with-marker__marker icon-star-4pins'></span>
										Кейтеринг
									</li>
									<li class="services-list__item item-with-marker text-s">
										<span class='item-with-marker__marker icon-star-4pins'></span>
										Юбилеи
									</li>
									<li class="services-list__item item-with-marker text-s">
										<span class='item-with-marker__marker icon-star-4pins'></span>
										Юбилей компании
									</li>
									<li class="services-list__item item-with-marker text-s">
										<span class='item-with-marker__marker icon-star-4pins'></span>
										Кейтеринг
									</li>
									<li class="services-list__item item-with-marker text-s">
										<span class='item-with-marker__marker icon-star-4pins'></span>
										Кейтеринг
									</li>
								</ul>
							</div>
						</div>
						<div class="services__cases services-cases">
							<div class="services-cases__body">
								<div class="about-swiper swiper slider-cases">
									<div class='about__wrapper swiper-wrapper'>
										<div class="about__params swiper-slide">
											<div class="circl-with-image">
												<div class="circl-with-image__image"><img src="./images/cases/1.webp" alt="фото вечеринки">
													<div></div>
												</div>
												<div class='circl-with-image__content'>
													<p class='circl-with-image__title text-white'>МТС</p>
													<p class='circl-with-image__description text-white text-xxs'>Музыкальное шоу «Blog&VOICE»</p>
												</div>
												<div class="circl-with-image__decor">
													<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
														<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
														<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
														<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />
														<g filter="url(#filter0_d_543_3420)">
															<path d="M622.608 316.944C622.608 491.779 484.207 633.496 313.5 633.496C142.793 633.496 4.39177 491.779 4.39177 316.944C4.39177 142.108 142.793 0.391772 313.5 0.391772C484.207 0.391772 622.608 142.108 622.608 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" shape-rendering="crispEdges" />
														</g>
														<defs>
															<filter id="filter0_d_543_3420" x="0" y="0" width="627" height="641.887" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
																<feFlood flood-opacity="0" result="BackgroundImageFix" />
																<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
																<feOffset dy="4" />
																<feGaussianBlur stdDeviation="2" />
																<feComposite in2="hardAlpha" operator="out" />
																<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
																<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_543_3420" />
																<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_543_3420" result="shape" />
															</filter>
														</defs>
													</svg>
												</div>
											</div>
										</div>
										<div class="about__params swiper-slide">
											<div class="circl-with-image">
												<div class="circl-with-image__image"><img src="./images/cases/2.webp" alt="фото вечеринки с Киркововым">
													<div></div>
												</div>
												<div class='circl-with-image__content'>
													<p class='circl-with-image__title text-white'>МТС</p>
													<p class='circl-with-image__description text-white text-xxs'>Музыкальное шоу «Blog&VOICE»</p>
												</div>
												<div class="circl-with-image__decor">
													<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
														<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
														<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
														<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />
														<g filter="url(#filter0_d_543_3420)">
															<path d="M622.608 316.944C622.608 491.779 484.207 633.496 313.5 633.496C142.793 633.496 4.39177 491.779 4.39177 316.944C4.39177 142.108 142.793 0.391772 313.5 0.391772C484.207 0.391772 622.608 142.108 622.608 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" shape-rendering="crispEdges" />
														</g>
														<defs>
															<filter id="filter0_d_543_3420" x="0" y="0" width="627" height="641.887" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
																<feFlood flood-opacity="0" result="BackgroundImageFix" />
																<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
																<feOffset dy="4" />
																<feGaussianBlur stdDeviation="2" />
																<feComposite in2="hardAlpha" operator="out" />
																<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
																<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_543_3420" />
																<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_543_3420" result="shape" />
															</filter>
														</defs>
													</svg>
												</div>
											</div>
										</div>
										<div class="about__params swiper-slide">
											<div class="circl-with-image">
												<div class="circl-with-image__image"><img src="./images/cases/3.webp" alt="фото вечеринки">
													<div></div>
												</div>
												<div class='circl-with-image__content'>
													<p class='circl-with-image__title text-white'>МТС</p>
													<p class='circl-with-image__description text-white text-xxs'>Музыкальное шоу «Blog&VOICE»</p>
												</div>
												<div class="circl-with-image__decor">
													<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
														<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
														<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
														<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />
														<g filter="url(#filter0_d_543_3420)">
															<path d="M622.608 316.944C622.608 491.779 484.207 633.496 313.5 633.496C142.793 633.496 4.39177 491.779 4.39177 316.944C4.39177 142.108 142.793 0.391772 313.5 0.391772C484.207 0.391772 622.608 142.108 622.608 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" shape-rendering="crispEdges" />
														</g>
														<defs>
															<filter id="filter0_d_543_3420" x="0" y="0" width="627" height="641.887" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
																<feFlood flood-opacity="0" result="BackgroundImageFix" />
																<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
																<feOffset dy="4" />
																<feGaussianBlur stdDeviation="2" />
																<feComposite in2="hardAlpha" operator="out" />
																<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
																<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_543_3420" />
																<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_543_3420" result="shape" />
															</filter>
														</defs>
													</svg>
												</div>
											</div>
										</div>
										<div class="about__params swiper-slide">
											<div class="circl-with-image">
												<div class="circl-with-image__image"><img src="./images/cases/4.webp" alt="фото вечеринки с красивой девушкой в карнавальном костюме">
													<div></div>
												</div>
												<div class='circl-with-image__content'>
													<p class='circl-with-image__title text-white'>МТС</p>
													<p class='circl-with-image__description text-white text-xxs'>Музыкальное шоу «Blog&VOICE»</p>
												</div>
												<div class="circl-with-image__decor">
													<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
														<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
														<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
														<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />
														<g filter="url(#filter0_d_543_3420)">
															<path d="M622.608 316.944C622.608 491.779 484.207 633.496 313.5 633.496C142.793 633.496 4.39177 491.779 4.39177 316.944C4.39177 142.108 142.793 0.391772 313.5 0.391772C484.207 0.391772 622.608 142.108 622.608 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" shape-rendering="crispEdges" />
														</g>
														<defs>
															<filter id="filter0_d_543_3420" x="0" y="0" width="627" height="641.887" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
																<feFlood flood-opacity="0" result="BackgroundImageFix" />
																<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
																<feOffset dy="4" />
																<feGaussianBlur stdDeviation="2" />
																<feComposite in2="hardAlpha" operator="out" />
																<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
																<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_543_3420" />
																<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_543_3420" result="shape" />
															</filter>
														</defs>
													</svg>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="services-cases__cta">
								<div class="button button-light button-light--bordered ">
									<a href='javascript:void(0)' class=''>Больше проектов</a>
									<span class='icon-arrow'></span>
								</div>
							</div>
						</div>
					</div>
				</section>
				<div class="main__full-width-form full-width-form">
					<div class="full-width-form__container">
						<div class="full-width-form__head">
							<div class="full-width-form__title">
								<h5 class=' text-white'>Закажите услугу</h5>
							</div>
							<div class="full-width-form__sub-title">
								<p class="text-s text-white">Планируете организовать корпоратив, тимбилдинг для сотрудников, мероприятие для клиентов?</p>
							</div>
						</div>
						<div class="full-width-form__body">
							<form class="full-width-form__form form" action="">
								<div class="form__row">
									<div class='input-block'>
										<input class="input" name="name" id="name" type="text" placeholder="" />
										<label for="name">Имя</label>
									</div>
									<div class='input-block'>
										<input class="input" name="city" id="city" type="text" placeholder="" />
										<label for="city">Город</label>
									</div>
									<div class='input-block'>
										<input class="input" name="phone" id="phone" type="tel" placeholder="" />
										<label for="phone">Телефон</label>
									</div>
								</div>
								<div class="form__row">
									<div class='input-block'>
										<textarea class="input" name="message" id="message" rows="1"></textarea>

										<label for="message">Опишите, что вам требуется организовать</label>
									</div>
								</div>
								<div class="form__row">
									<div class="button button-light button-xl">
										<button type="submit" class="" id="submit-btn">Оставить заявку</button>
									</div>
									<div class='input-block checkbox'>
										<input class='checkbox__input' type="checkbox" id="checkbox-input" name="agreement" checked />
										<label class='checkbox__label text-xs text-white' for="agreement">Согласен на обработку персональных данных</label>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				{{> widgets/footer/footer}}
			</main>
			{{!-- <a href="components"><img width='100px' height='100px' src="./images/favicon.png" alt=""></a> --}}
		</div>
	</body>

</html>
