<header class="header">
	<div class='header__container'>
		<div class="header__row">
			<div class="header__logo">{{> shared/logo/logo}}</div>
			{{> widgets/headerMenu/headerMenu}}
			<div class="header__burger burger"><span></span></div>
		</div>
	</div class='header__container'>
</header>
