.page__services {
	.header {
		// position: absolute;
		// width: 100%;
		position: relative;
		z-index: 100;
	}

	.services {
		padding-top: 0;
	}

	.services-tabs {
		margin-bottom: -1px;

		.button {
			width: 100%;
			max-width: 414px;
		}
	}

	.services-tabs-item__list {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		@include adaptiveValue("margin-bottom", 60, 24);
		.item-with-marker__marker {
			color: $accent2;
		}
	}

	.footer {
		border-radius: 0 0 87px 87px;
	}
}
