<!DOCTYPE html>
<html lang='ru'>

	<head>
		{{> app/head canonical='https://probtl.ru/vacancies' title='Вакансии в агентстве событий "ПРОБТЛ"' description='Любите организовывать мероприятия? Тогда мы ждем вас в нашу команду! Следите за нашими вакансиями и отправляйте резюме. Мы занимаемся организацией мероприятий для известных федеральных брендов и региональных компаний' ogImage='https://probtl.ru/images/main-page/01.webp'}}
	</head>

	<body>
		<div class='page page__vacancies wrapper'>

			{{> app/loader/loader}}

			{{> widgets/header/header}}

			<main class='vacancies-page'>

				<div class="vacancies-page__vacancies vacancies">
					<div class="vacancies__container">
						<div class="vacancies__head">
							<div class="vacancies__title">
								<h5><span>5</span> открытых вакансий</h5>
							</div>
						</div>
						<div class="vacancies__body">

							<div data-tabs='20000' data-tabs-animate='1000' class="vacancies__spollers spollers">
								<ul data-tabs-titles class="spollers__navigation">
									<li type="button" class="spollers__title h3">
										Менеджер по продажам
										<div class='title__decor'>
											<span class='icon-star-4pins'></span>
											<span class='icon-arrow'></span>
										</div>
									</li>
									<li type="button" class="spollers__title h3">Event-менеджер
										<div class='title__decor'>
											<span class='icon-star-4pins'></span>
											<span class='icon-arrow'></span>
										</div>
									</li>
									<li type="button" class="spollers__title h3">Специалист по креативным разработкам
										<div class='title__decor'>
											<span class='icon-star-4pins'></span>
											<span class='icon-arrow'></span>
										</div>
									</li>
									<li type="button" class="spollers__title h3">BTL-менеджер
										<div class='title__decor'>
											<span class='icon-star-4pins'></span>
											<span class='icon-arrow'></span>
										</div>
									</li>
									<li type="button" class="spollers__title h3">Менеджер по подбору промо-персонала
										<div class='title__decor'>
											<span class='icon-star-4pins'></span>
											<span class='icon-arrow'></span>
										</div>
									</li>
								</ul>

								<section data-tabs-body class="spollers__content">
									<article class="spollers__body vacancy">
										<div class="vacancy__head">
											<div class="vacancy__description">Мы предлагаем тебе стать частью нашей команды и вместе с нами создавать яркие и запоминающиеся мероприятия, которые будут радовать и удивлять твоих клиентов.</div>
										</div>
										<div class="vacancy__body">
											<div class="vacancy__content">
												<div class="vacancy__name" style='display: none;'>Менеджер по подбору промо-персонала</div>
												<div class="vacancy__row">
													<div class="vacancy__column">
														<div class="vacancy_esection-title text-l text-bold">Что ты будешь делать:</div>
													</div>
													<div class="vacancy__column">
														<div class="vacancy__section-content">
															<ul class="vacancy__list">
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	Управление процессом продаж;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	Взаимодействие с отделом реализации проектов
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>Поиск компаний желающих реализовать проекты и акции вместе с нами
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>Взаимодействовать с клиентами в других городах, ведь мы специализируемся и на региональных проектах.
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>Участие в тендерах
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="vacancy__row">
													<div class="vacancy__column">
														<div class="vacancy_esection-title text-l text-bold">Что мы ждем от тебя:</div>
													</div>
													<div class="vacancy__column">
														<div class="vacancy__section-content">
															<ul class="vacancy__list">
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	Активность и стремление выполнять задачи на 100%;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	Трудолюбие, ответственность, пунктуальность;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>Опыт работы в event-индустрии или продажах будет преимуществом.
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="vacancy__row">
													<div class="vacancy__column">
														<div class="vacancy_esection-title text-l text-bold">Мы предлагаем:</div>
													</div>
													<div class="vacancy__column">
														<div class="vacancy__section-content">
															<ul class="vacancy__list">
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	Работа в стабильной компании;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	Удобный график работы с 10 до 19.00;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	ОКЛАД+ % от продаж с первого дня работы;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	Обучение за счет компании под руководством профессионалов, посещение тренингов
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	Трудоустройство по ТК РФ;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	Бонусы от компании — скидки до 50% на развлечения, салоны красоты, кафе и рестораны.
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="vacancy__cta">
												<div type="button" class="button button-color" data-popup-type='popup-vacancy'>
													<button>Откликнуться</button>
												</div>
											</div>
										</div>
									</article>

									<article class="spollers__body vacancy">
										<div class="vacancy__head">
											<div class="vacancy__description">— это творец и организатор незабываемых событий. Если ты коммуникабельный, креативный, умеешь работать в&nbsp;режиме многозадачности и&nbsp;стремишься к&nbsp;постоянному развитию, то&nbsp;эта вакансия именно для&nbsp;тебя!</div>
										</div>
										<div class="vacancy__body">
											<div class="vacancy__content">
												<div class="vacancy__name" style='display: none;'>Event-менеджер</div>
												<div class="vacancy__row">
													<div class="vacancy__column">
														<div class="vacancy_esection-title text-l text-bold">Что ты будешь делать:</div>
													</div>
													<div class="vacancy__column">
														<div class="vacancy__section-content">
															<div class="text text-s">
																<p>
																	Реализовывать проекты любого уровня сложности. Проводить праздничные открытия сетевых торговых точек. Организовывать корпоративные мероприятия и конференции, выставочную деятельность. А также воплощать в жизнь множество нестандартных и интересных мероприятий.
																</p>
															</div>
															<ul class="vacancy__list">
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	Проведение встреч, переговоров и презентаций с клиентами.
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	Участие в тендерах и креативных «штурмах».
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>Составление смет проектов.
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>Написание концептов, таймингов.
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>Организация и ведение мероприятий разного уровня.
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>Планирование и контроль всех этапов мероприятия.
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>Взаимодействие с партнерами, подрядчиками и потенциальными клиентами.
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>Работа с крупными компаниями.
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="vacancy__row">
													<div class="vacancy__column">
														<div class="vacancy_esection-title text-l text-bold">Что мы ждем от тебя:</div>
													</div>
													<div class="vacancy__column">
														<div class="vacancy__section-content">
															<ul class="vacancy__list">
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	опыт в данной сфере;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	поиск подрядчиков для проведения промоакций и еvent-мероприятий на территории РФ;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	умение вести переговоры;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	знание пакета программ Microsoft Office, Microsoft PowerPoint;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	ведение документооборота в рамках зоны своей ответственности;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	грамотная устная и письменная речь, умение четко излагать свои мысли;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	умение работать в режиме многозадачности, с большим потоком информации, в т. ч. в рамках организации нескольких событий одновременно!
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	Инициативность. Мы рады новым идеям и всегда поддерживаем сотрудников в этом.
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="vacancy__row">
													<div class="vacancy__column">
														<div class="vacancy_esection-title text-l text-bold">Мы предлагаем:</div>
													</div>
													<div class="vacancy__column">
														<div class="vacancy__section-content">
															<ul class="vacancy__list">
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	удобный график работы 5/2 (пн — пт) с 10:00 до 19:00;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	трудоустройство согласно ТК РФ;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	заработная плата — оклад;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	комфортабельный современный офис в 10 минутах от площади Карла Маркса;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	молодой дружный коллектив;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	яркую корпоративную жизнь!
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="vacancy__cta">
												<div type="button" class="button button-color" data-popup-type='popup-vacancy'>
													<button>Откликнуться</button>
												</div>
											</div>
										</div>
									</article>

									<article class="spollers__body vacancy">
										<div class="vacancy__head">
											<div class="vacancy__description">
												<div class='text'>
													<p>Мы предлагаем тебе стать частью нашей команды и вместе с нами создавать яркие и запоминающиеся мероприятия, которые будут радовать и удивлять твоих клиентов.</p>
													<p>Если ты творческий человек, умеющий создавать концепты мероприятий, знающий, как удивить и найти нестандартный подход к мероприятию; если твои идеи реально воплотить в жизнь согласно продуманным презентациям, то ты тот, кто нам нужен.</p>
												</div>
											</div>
										</div>
										<div class="vacancy__body">
											<div class="vacancy__content">
												<div class="vacancy__name" style='display: none;'>Специалист по креативным разработкам</div>
												<div class="vacancy__row">
													<div class="vacancy__column">
														<div class="vacancy_esection-title text-l text-bold">Что ты будешь делать:</div>
													</div>
													<div class="vacancy__column">
														<div class="vacancy__section-content">
															<ul class="vacancy__list">
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	разрабатывать креативные идеи и концепции, сценарии, слоганы и механики;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	готовить материалы для презентации;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	следить за новостями и трендами в сфере креатива и рекламы в event-индустрии;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	писать и редактировать тексты для рекламных кампаний;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	участвовать в брейнштормах с командой;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	разрабатывать идеи кей-вижуалов (креативные изображения для мероприятий и рекламных кампаний);
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	готовить дизайн-концепции мероприятий, макеты застройки промозон, фотозон и мерча (возможно, в паре с дизайнером агентства);
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	«упаковывать» готовый итоговый продукт.
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="vacancy__row">
													<div class="vacancy__column">
														<div class="vacancy_esection-title text-l text-bold">Мы предлагаем:</div>
													</div>
													<div class="vacancy__column">
														<div class="vacancy__section-content">
															<ul class="vacancy__list">
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	удобный график работы 5/2 (пн — пт) с 10:00 до 19:00;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	трудоустройство согласно ТК РФ;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	заработная плата — оклад;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	комфортабельный современный офис в 10 минутах от площади Карла Маркса;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	молодой дружный коллектив;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	яркую корпоративную жизнь!
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="vacancy__cta">
												<div type="button" class="button button-color" data-popup-type='popup-vacancy'>
													<button>Откликнуться</button>
												</div>
											</div>
										</div>
									</article>

									<article class="spollers__body vacancy">
										<div class="vacancy__head">
											<div class="vacancy__description">BTL-проекты — лифлетинг, дегустации, консультации, праздничные открытия салонов, торговых точек, офисов на территории РФ, Белоруссии, Казахстана. А также воплощение в жизнь множества нестандартных и интересных запросов и задач.</div>
										</div>
										<div class="vacancy__body">
											<div class="vacancy__content">
												<div class="vacancy__name" style='display: none;'>BTL-менеджер</div>
												<div class="vacancy__row">
													<div class="vacancy__column">
														<div class="vacancy_esection-title text-l text-bold">Что ты будешь делать:</div>
													</div>
													<div class="vacancy__column">
														<div class="vacancy__section-content">
															<ul class="vacancy__list">
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	организовывать мероприятия под ключ;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	управлять командой персонала;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>взаимодействовать с организациями по изготовлению рекламного оборудования
																	и оформлению мероприятий;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>составлять сметы и отчеты по проектам;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>участвовать в тендерах и креативных «штурмах»;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>писать концепты, тайминги;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>получать согласования и взаимодействовать с торговыми сетями (букирование);
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>вести отчетность, документооборот;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>и еще много важной и интересной работы.
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="vacancy__row">
													<div class="vacancy__column">
														<div class="vacancy_esection-title text-l text-bold">Что мы ждем от тебя:</div>
													</div>
													<div class="vacancy__column">
														<div class="vacancy__section-content">
															<ul class="vacancy__list">
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	опыт работы: не менее года в BTL-направлении на позиции менеджера (координатора);
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	высокие организаторские способности;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	многозадачность;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	нацеленность на результат;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	коммуникабельность;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	стрессоустойчивость.
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="vacancy__row">
													<div class="vacancy__column">
														<div class="vacancy_esection-title text-l text-bold">Мы предлагаем:</div>
													</div>
													<div class="vacancy__column">
														<div class="vacancy__section-content">
															<ul class="vacancy__list">
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	удобный график работы 5/2 (пн — пт) с 10:00 до 19:00;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	трудоустройство по ТК РФ;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	работу в комфортабельном офисе в 10 минутах от станции метро «Площадь Маркса»;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	бонусы от компании — скидки до 50% на развлечения, салоны красоты, кафе и рестораны.
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="text">Ждем тебя с новыми идеями и желанием влиться в наш дружный творческий коллектив, жми «ОТКЛИКНУТЬСЯ»!</div>
											</div>
											<div class="vacancy__cta">
												<div type="button" class="button button-color" data-popup-type='popup-vacancy'>
													<button>Откликнуться</button>
												</div>
											</div>
										</div>
									</article>

									<article class="spollers__body vacancy">
										<div class="vacancy__head">
											<div class="vacancy__description">В связи с расширением штата ищем в команду менеджера по набору промоперсонала (с возможностью удаленной работы).</div>
										</div>
										<div class="vacancy__body">
											<div class="vacancy__content">
												<div class="vacancy__name" style='display: none;'>Менеджер по подбору промоперсонала</div>
												<div class="vacancy__row">
													<div class="vacancy__column">
														<div class="vacancy_esection-title text-l text-bold">Что ты будешь делать:</div>
													</div>
													<div class="vacancy__column">
														<div class="vacancy__section-content">
															<ul class="vacancy__list">
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	искать персонал в г. Новосибирске и на территории РФ (промоутеры, супервайзеры, координаторы);
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	проводить тренинги и кастинги;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>выводить персонал в «поля» и контролировать качество работы персонала;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>составлять отчеты, фотоотчеты.
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="vacancy__row">
													<div class="vacancy__column">
														<div class="vacancy_esection-title text-l text-bold">Что мы ждем от тебя:</div>
													</div>
													<div class="vacancy__column">
														<div class="vacancy__section-content">
															<ul class="vacancy__list">
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	аналогичный опыт работы;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	умение работать в Excel, Power Point;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>понимание специфики работы;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>высокий уровень стрессоустойчивости;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>ответственность и внимательность;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>умение быстро принимать правильные решения в затруднительных ситуациях.
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="vacancy__row">
													<div class="vacancy__column">
														<div class="vacancy_esection-title text-l text-bold">Мы предлагаем:</div>
													</div>
													<div class="vacancy__column">
														<div class="vacancy__section-content">
															<ul class="vacancy__list">
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	заработную плату по результатам собеседования;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	график работы — «скользящий», обсуждается индивидуально;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	работу в комфортабельном офисе или удаленно из дома.
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="text">Если вы готовы принять вызов и стать частью нашей команды, отправьте свой отклик, и мы свяжемся с вами в ближайшее время.</div>
											</div>
											<div class="vacancy__cta">
												<div type="button" class="button button-color" data-popup-type='popup-vacancy'>
													<button>Откликнуться</button>
												</div>
											</div>
										</div>
									</article>

								</section>
							</div>
						</div>
					</div>
				</div>

			</main>
			{{> widgets/footer/footer}}
			{{#> widgets/popup/popup type='request-popup'}}
				<div class="main__full-width-form full-width-form">
					<div class="full-width-form__container">
						<div class="full-width-form__head">
							<div class="full-width-form__title">
								<h5 class=' text-white'>Закажите услугу</h5>
							</div>
							<div class="full-width-form__sub-title">
								<p class="text-s text-white">Планируете организовать корпоратив, тимбилдинг, мероприятие для клиентов?</p>
							</div>
						</div>
						<div class="full-width-form__body">
							<form class="full-width-form__form form" method='post'>
								<div class="form__loader">
									<img src="/images/SvgSpinnersBlocksScale.svg" alt="" />
								</div>
								<div class="form__row">
									<div class='input-block text-white'>
										<input class="input" name="name" id="name" type="text" placeholder="" />
										<label for="name">Имя</label>
										<input class="input fn" name="fn" id="fn" type="text" required />
									</div>
									<div class='input-block text-white'>
										<input class="input" name="city" id="city" type="text" placeholder="" />
										<label for="city">Город</label>
									</div>
									<div class='input-block text-white'>
										<input class="input" name="phone" id="phone" type="tel" placeholder="" required />
										<label for="phone">Телефон</label>
									</div>
								</div>
								<div class="form__row">
									<div class='input-block text-white'>
										<textarea class="input" name="comment" id="message" rows="1"></textarea>
										<label for="message">Опишите, что вам требуется организовать</label>
									</div>
								</div>
								<div class="form__row">
									<div class="button button-light button-xl">
										<button type="submit" class="" id="submit-btn">Оставить заявку</button>
									</div>
									<div class='input-block checkbox text-white'>
										<input class='checkbox__input' type="checkbox" id="checkbox-input" name="agreement" checked required />
										<label class='checkbox__label text-xs text-white' for="agreement">Согласен на обработку персональных данных</label>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			{{/widgets/popup/popup}}
			<div class='success' style='visibility: hidden; display: none;'>
				<h3 class='text-white'>Заявка отправлена!</h3>
			</div>
			{{#> widgets/popup/popup type='popup-vacancy'}}
				<div class="main__full-width-form full-width-form">
					<div class="full-width-form__container">
						<div class="full-width-form__head">
							<div class="full-width-form__title">
								<h5 class=' text-white'>Отклик на вакансию</h5>
							</div>
							<div class="full-width-form__sub-title">
								<p class="text-s text-white">Вы откликаетесь на вакансию</p>
								<p class="text-s text-white full-width-form__vacancy-title"></p>
							</div>
						</div>
						<div class="full-width-form__body full-width-form__body--s">
							<form class="full-width-form__form form" method='post'>
								<div class="form__loader">
									<img src="/images/SvgSpinnersBlocksScale.svg" alt="" />
								</div>
								<div class="form__row">
									<div class='input-block text-white'>
										<input class="input" name="name" id="name" type="text" placeholder="" />
										<label for="name">Имя</label>
										<input class="input fn" name="fn" id="fn" type="text" required />
									</div>
									<div class='input-block text-white'>
										<input class="input" name="phone" id="phone" type="tel" placeholder="" required />
										<label for="phone">Телефон</label>
									</div>
								</div>
								<div class="form__row">
									<div class='input-block text-white'>
										<textarea class="input" name="comment" id="message" rows="1"></textarea>
										<label for="message">Комментарий</label>
									</div>
								</div>
								<div class="form__row">
									<div class="button button-light button-xl">
										<button type="submit" class="" id="submit-btn">Откликнуться</button>
									</div>
									<div class='input-block checkbox text-white'>
										<input class='checkbox__input' type="checkbox" id="checkbox-input" name="agreement" checked required />
										<label class='checkbox__label text-xs text-white' for="agreement">Согласен на обработку персональных данных</label>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			{{/widgets/popup/popup}}
			<div class='success' style='visibility: hidden; display: none;'>
				<h3 class='text-white'>Заявка отправлена!</h3>
			</div>
			{{!-- <a href="components"><img width='100px' height='100px' src="/images/favicon.png" alt=""></a> --}}
		</div>
	</body>

</html>
