<!DOCTYPE html>
<html lang='ru'>

	<head>
		{{> app/head title='Contacts | Webpack-template'}}
	</head>

	<body>
		<div class='page page__vacancies wrapper'>

			{{> app/loader/loader}}

			{{> widgets/header/header}}

			<main class='vacancies-page'>

				<div class="vacancies-page__vacancies vacancies">
					<div class="vacancies__container">
						<div class="vacancies__head">
							<div class="vacancies__title">
								<h5><span>20</span> открытых вакансий</h5>
							</div>
						</div>
						<div class="vacancies__body">

							<div data-tabs='20000' data-tabs-animate='1000' class="vacancies__spollers spollers">
								<ul data-tabs-titles class="spollers__navigation">
									<li type="button" class="spollers__title h3">
										Менеджер по продажам
										<div class='title__decor'>
											<span class='icon-star-4pins'></span>
											<span class='icon-arrow'></span>
										</div>
									</li>
									<li type="button" class="spollers__title h3">Event-менеджер
										<div class='title__decor'>
											<span class='icon-star-4pins'></span>
											<span class='icon-arrow'></span>
										</div>
									</li>
									<li type="button" class="spollers__title h3">Специалист по креативным разработкам
										<div class='title__decor'>
											<span class='icon-star-4pins'></span>
											<span class='icon-arrow'></span>
										</div>
									</li>
									<li type="button" class="spollers__title h3">BTL-менеджер
										<div class='title__decor'>
											<span class='icon-star-4pins'></span>
											<span class='icon-arrow'></span>
										</div>
									</li>
									<li type="button" class="spollers__title h3">Менеджер по подбору промо-персонала
										<div class='title__decor'>
											<span class='icon-star-4pins'></span>
											<span class='icon-arrow'></span>
										</div>
									</li>
								</ul>

								<section data-tabs-body class="spollers__content">
									<article class="spollers__body vacancy">
										<div class="vacancy__head">
											<div class="vacancy__description">Мы предлагаем тебе стать частью нашей команды и вместе с нами создавать яркие и запоминающиеся мероприятия, которые будут радовать и удивлять твоих клиентов.</div>
										</div>
										<div class="vacancy__body">
											<div class="vacancy__content">
												<div class="vacancy__row">
													<div class="vacancy__column">
														<div class="vacancy_esection-title text-l text-bold">Что ты будешь делать:</div>
													</div>
													<div class="vacancy__column">
														<div class="vacancy__section-content">
															<ul class="vacancy__list">
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	Управление процессом продаж;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	Взаимодействие с отделом реализации проектов
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>Поиск компаний желающих реализовать проекты и акции вместе с нами
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>Взаимодействовать с клиентами в других городах, ведь мы специализируемся и на региональных проектах.
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>Участие в тендерах
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="vacancy__row">
													<div class="vacancy__column">
														<div class="vacancy_esection-title text-l text-bold">Что мы ждем от тебя:</div>
													</div>
													<div class="vacancy__column">
														<div class="vacancy__section-content">
															<ul class="vacancy__list">
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	Активность и стремление выполнять задачи на 100%;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	Трудолюбие, ответственность, пунктуальность;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>Опыт работы в event-индустрии или продажах будет преимуществом.
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="vacancy__row">
													<div class="vacancy__column">
														<div class="vacancy_esection-title text-l text-bold">Мы предлагаем:</div>
													</div>
													<div class="vacancy__column">
														<div class="vacancy__section-content">
															<ul class="vacancy__list">
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	Работа в стабильной компании;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	Удобный график работы с 10 до 19.00;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	ОКЛАД+ % от продаж с первого дня работы;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	Обучение за счет компании под руководством профессионалов, посещение тренингов
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	Трудоустройство по ТК РФ;
																</li>
																<li class="vacancy__item item-with-marker text-s">
																	<span class='item-with-marker__marker icon-star-4pins'></span>
																	Бонусы от компании — скидки до 50% на развлечения, салоны красоты, кафе и рестораны.
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="vacancy__cta">
												<div type="button" class="button button-color">
													<button href='javascript:void(0)' class=''>Откликнуться</button>
												</div>
											</div>
										</div>
									</article>
									<div class="spollers__body">
										Содержимое второго таба
									</div>
									<div class="spollers__body">
										Содержимое третьего таба
									</div>
									<div class="spollers__body">
										Содержимое 4 таба
									</div>
									<div class="spollers__body">
										Содержимое 5 таба
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>

			</main>
			{{> widgets/footer/footer}}
			{{!-- <a href="components"><img width='100px' height='100px' src="./images/favicon.png" alt=""></a> --}}
		</div>
	</body>

</html>
