.page__cases {
	background-color: $white;
	.header {
		position: relative;
	}
}

.mts-blog-and-voice {
	.mts-blog-and-voice {
		// .mts-blog-and-voice__two-rows-fw-image

		&__two-rows-fw-image {
		}
	}
	.two-rows-fw-image {
		// .two-rows-fw-image__block

		&__block {
			display: flex;
			background-color: $accent2;
			@media (max-width: $tablet) {
				display: block;
			}
		}

		// .two-rows-fw-image__column

		&__column {
			flex: 0 0 100%;
			background-color: $white;
			border-radius: 0 0 0 87px;
		}

		// .two-rows-fw-image__container

		&__container {
		}

		// .two-rows-fw-image__content

		&__content {
			@include adaptiveValue("padding-top", 20, 0);
			@include adaptiveValue("padding-bottom", 50, 40);
			max-width: 43%;
			@media (max-width: $tablet) {
				max-width: unset;
			}
		}

		// .two-rows-fw-image__head

		&__head {
			@include adaptiveValue("margin-bottom", 52, 39);
			h2 {
				line-height: 1;
			}
		}

		// .two-rows-fw-image__body

		&__body {
			h6 {
				@include adaptiveValue("margin-bottom", 28, 20);
			}
		}

		// .two-rows-fw-image__text

		&__text {
			:first-child {
				@include adaptiveValue("margin-bottom", 22, 10);
			}

			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 25, 32);
			}
		}

		// .two-rows-fw-image__list

		&__list {
		}

		// .two-rows-fw-image__item

		&__item {
			&:not(:last-child) {
				margin-bottom: rem(10);
			}
		}

		// .two-rows-fw-image__image

		&__image {
			@media (min-width: $tablet) {
				flex: 0 0 calc(((100vw - 60px) * 0.5) + 20px);
				translate: -100% 0;
				display: flex;
				flex-direction: column;
			}
			position: relative;
			z-index: 50; //FIX
			background-color: $accent2;

			> :first-child {
				border-radius: 0 87px 0 0;
				overflow: hidden;
			}

			> div {
			}

			.color-block {
				background-color: #1d0209;
				flex: 1 0 38%;
				@media (max-width: $tablet) {
					display: none;
				}
			}

			> div:has(img) {
				background: linear-gradient(#1d0209 5%, #1d020900 45%);
				overflow: hidden;

				@media (max-width: $tablet) {
					aspect-ratio: 1.53;
					background: none;
				}

				:last-child {
					border-radius: 0 0 87px 87px;
					overflow: hidden;
					@media (max-width: $tablet) {
						border-radius: 87px 0 0 0;
					}
				}
			}

			img {
				width: 100%;
				height: 100%;
				position: relative;
				z-index: -1;
				object-fit: cover;
				object-position: center;
			}

			figcaption {
				position: absolute;
				inset: 0;
				@include adaptiveValue("padding-block", 128, 80);
				@include adaptiveValue("padding-left", 198, 60);
				padding-right: 30px;
			}
		}
	}

	.item-with-marker {
		// .item-with-marker__marker

		&__marker {
			color: $accent2;
			// align-self: flex-start;
		}
	}
	.icon-star-4pins {
	}
}
// flex: 0 0 calc(((100vw - 60px) * 0.5) + 20px);
// flex: 0 0 43%;
