<html lang='ru'>

	<head>
		{{> app/head title='Gloria-jeans | Webpack-template'}}
	</head>

	<body>
		<div class='page page__cases wrapper'>

			{{> app/loader/loader}}


			{{> widgets/header/header}}

			<main class='gloria-jeans'>

				<h1>gloria-jeans</h1>

			</main>
			{{> widgets/footer/footer}}
			{{!-- <a href="components"><img width='100px' height='100px' src="./images/favicon.png" alt=""></a> --}}
		</div>
	</body>

</html>
