.page__main {
	.footer {
		border-radius: 87px 0 87px 87px;
	}
}

.main {
	// .main__first-screen

	&__first-screen {
	}
}
.first-screen {
	@include adaptiveValue("padding-bottom", 55, 23);
	@include adaptiveValue("padding-top", 103, 58);
	position: relative;
	height: 100vh;
	overflow: hidden;

	// .first-screen__container

	&__container {
		height: 100%;
	}

	// .first-screen__body

	&__body {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: $mobile) {
			flex-direction: column;

			align-items: start;
		}
	}

	// .first-screen__content

	&__content {
		margin-block: auto;
		h1 {
			position: relative;
			span {
				color: inherit;
				font-weight: 200;
			}

			svg {
				position: absolute;
				// z-index: 5;

				width: 1293px;
				@include adaptiveValue("width", 1293, 575);
				@include adaptiveValue("height", 1293, 575);
				transform-origin: center;
				top: -314%;
				left: -64%;
			}
		}
		.subtitle {
			text-align: center;
		}
	}

	// .first-screen__cta

	&__cta {
		align-self: flex-end;

		.button {
			@include adaptiveValue("padding-inline", 28, 13, 1440, 1100, 1);
		}
	}

	// .first-screen__bg

	&__bg {
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: $accent1;

		img {
			position: relative;
			z-index: -2;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center 20%;
		}

		// svg {
		// 	position: absolute;
		// 	// z-index: 5;
		// 	width: 100%;
		// 	height: 157.7%;
		// 	top: -13%;
		// 	left: -26%;
		// }

		div {
			position: absolute;
			inset: 0;
			background: linear-gradient(89deg, #0055b0 6.64%, rgba(0, 85, 176, 0.46) 97.58%);
			// height: 100%;
		}
	}
}

///====================clients======================
.main {
	// .main__clients

	&__clients {
		@include adaptiveValue("padding-block", 41, 30);
		background-color: $white;
		margin-top: -1px;
		// @include adaptiveValue("margin-bottom", 100, 50);
	}
}
.clients {
	// .clients__content

	&__content {
	}

	// .clients__slider

	&__slider {
	}
}

//====================about======================

.main {
	// .main__about

	&__about {
		@include adaptiveValue("padding-block", 100, 55);
		margin-top: -1px;
		border-radius: 87px 0 0 0;
	}
}
.about {
	background-color: $white;
	position: relative;
	z-index: 1;
	// .about__container

	&__container {
	}

	// .about__body

	&__body {
	}

	// .about__row

	&__row {
		display: flex;
		@include adaptiveValue("gap", 92, 30, 1440, 1100, 1);
		margin-bottom: rem(92);
		@media (max-width: $mobile) {
			flex-direction: column;
			gap: 95px;
		}

		.about__params {
			flex-grow: 0;
			flex-shrink: 0;
			@include adaptiveValue("flex-basis", 366, 240);

			@media (max-width: $mobile) {
				margin-inline: auto;
				// width: 366px;
				@include adaptiveValue("width", 366, 199, 767.98, 360, 1);
			}
		}
	}

	// .about__content

	&__content {
	}

	// .about__title

	&__title {
		@include adaptiveValue("margin-bottom", 20, 40);
	}

	// .about__text

	&__text {
		max-width: 680px;
		&:has(:nth-child(2)) {
			@media (max-width: $mobile) {
				max-width: unset;
				background-color: $accent1;
				margin-inline: -18px;
				margin-bottom: -1px;
				> * {
					background: $white;
					padding-inline: 18px;
				}
				:first-child {
					border-radius: 0 0 87px 0;
					overflow: hidden;
					margin-bottom: -1px;
				}

				:nth-child(2) {
					border-radius: 0 87px 0 0;
					overflow: hidden;
				}
			}
		}
	}

	// .about__params

	&__params {
		.about-swiper:has(&) & {
			@media (min-width: 1281px) {
				flex-grow: 0;
				flex-shrink: 0;
				@include adaptiveValue("flex-basis", 303, 231);
			}
			@include adaptiveValue("max-width", 303, 231);

			.params-circl {
				margin-inline: auto;
				margin-bottom: rem(50);
			}

			p {
				text-align: center;
			}
		}
	}

	// .about__wrapper

	&__wrapper {
		justify-content: space-between;
		@media (min-width: 1281px) {
			gap: 20px;
		}
	}
}

//====================servicies======================

.main {
	// .main__services

	&__services {
		@include adaptiveValue("padding-top", 100, 55);
		margin-top: -1px;
	}
}
.services {
	position: relative;
	z-index: 0;
	background-color: $white;
	@media (max-width: $mobile) {
		border-radius: 0 0 0 87px;
	}
	// .services__tabs

	&__tabs {
		margin-bottom: 5.75rem;
	}

	.services {
		// .services__list

		&__list {
			margin-bottom: rem(62);
		}
	}
	.services-list {
		// .services-list__head

		&__head {
			@include adaptiveValue("margin-bottom", 50, 28);
		}

		// .services-list__body

		&__body {
		}

		// .services-list__items

		&__items {
			display: grid;
			// align-items: center;
			justify-content: space-evenly;
			grid-template-columns: repeat(auto-fit, minmax(auto, 320px));
			@include adaptiveValue("column-gap", 60, 25);
			@include adaptiveValue("row-gap", 36, 20);

			@media (max-width: $mobile) {
				justify-content: start;
			}
		}

		// .services-list__item

		&__item {
			// flex: 1 1 30%;
			// min-width: max-content;
			@media (max-width: $mobile) {
				min-width: unset;
			}
			.icon-star-4pins {
				color: $accent2;
				font-size: 0.8em;
			}
		}
	}
}

.services-tabs {
	// .services-tabs__navigation

	&__navigation {
		max-width: $containerWidth;
		padding-inline: calc(#{$containerPadding}px / 2);
		margin-inline: auto;
		@include adaptiveValue("padding-top", 34, 22.5);
		@include adaptiveValue("padding-bottom", 41, 22.5);
		display: flex;
		@include adaptiveValue("column-gap", 60, 10);
		align-items: center;
		justify-content: center;

		@media (max-width: $mobile) {
			flex-wrap: wrap;
			column-gap: 30px;
			row-gap: 10px;
			justify-content: start;
			background-color: #deefff;
		}

		// ._tab-active

		._tab-active {
		}
	}

	// .services-tabs__title

	&__title {
	}

	// .services-tabs__items

	&__items {
	}

	// .services-tabs__item

	&__item {
	}
}

.services-tabs-item {
	@media (min-width: $mobile) {
		display: flex;
	}
	@media (max-width: $mobile) {
		background-color: $accent1;
	}

	// .services-tabs-item__content

	&__content {
		flex: 0 0 100%;
		display: flex;
		@include adaptiveValue("padding-top", 42, 50);
		@include adaptiveValue("padding-bottom", 40, 50);

		@media (max-width: $mobile) {
			border-radius: 0 0 87px 0;
			background-color: $white;
		}
	}

	// .services-tabs-item__container

	&__container {
		display: flex;
		// flex: 0 0 100%;
		// align-items: center;
	}

	// .services-tabs-item__body

	&__body {
		@media (min-width: $mobile) {
			flex: 0 0 45%;
			// width: 45%; // правки для формы с картинкой
		}

		h1 {
			line-height: 130%;
			@include adaptiveValue("margin-bottom", 40, 16);
		}
	}

	// .services-tabs-item__text

	&__text {
		@include adaptiveValue("margin-bottom", 40, 20);
	}

	// .services-tabs-item__cta

	&__cta {
	}

	// .services-tabs-item__image

	&__image {
		@media (min-width: $mobile) {
			position: relative;
			flex: 0 0 calc(((100vw - 60px) * 0.472) + 30px);
			translate: -100% 0px;
		}

		img {
			width: 100%;
			aspect-ratio: 1.53;
			object-fit: cover;
			filter: grayscale(1);
			@media (min-width: $mobile) {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
			@media (max-width: $mobile) {
				border-radius: 0 87px 0 0;
			}
		}
	}

	&__image-title {
		position: absolute;
		inset: 0;
		bottom: 0;
		z-index: 2;
		display: flex;
		align-items: flex-end;
		@include adaptiveValue("padding-inline", 60, 20);
		padding-bottom: 11px;
		background: linear-gradient(180deg, rgba(0, 85, 176, 0) 15.542%, rgb(0, 85, 176) 100%);
	}
}

.services {
	// .services__cases

	&__cases {
		@include adaptiveValue("padding-bottom", 133, 50);
	}
}
.services-cases {
	// .services-cases__body

	&__body {
		@include adaptiveValue("padding-bottom", 52, 80);
	}

	// .services-cases__cta

	&__cta {
		display: flex;
		justify-content: center;
	}
}

.slider-cases {
}

//====================full-width-form======================
.main {
	// .main__full-width-form

	&__full-width-form {
		padding-block: 50px;
	}
}
.full-width-form {
	// .full-width-form__container

	&__container {
	}

	// .full-width-form__head

	&__head {
		text-align: center;
		@include adaptiveValue("margin-bottom", 24, 30);
	}

	// .full-width-form__title

	&__title {
		margin-bottom: 20px;
	}

	// .full-width-form__sub-title

	&__sub-title {
		max-width: 748px;
		margin-inline: auto;
	}

	// .full-width-form__body

	&__body {
	}

	// .full-width-form__form

	&__form {
	}
}

//====================team======================
.main {
	// .main__team

	&__team {
		@include adaptiveValue("padding-top", 100, 55);
		margin-bottom: -1px;
	}
}
.team {
	background-color: $white;
	overflow: hidden;
	@media (max-width: $mobile) {
		border-radius: 0 87px 0 0;
	}

	// .team__container

	&__container {
		position: relative;
	}

	.decor-center {
		position: absolute;
		width: 67.6%;
		// height: 100%;
		left: -5%;
		top: 19%;

		@media (max-width: $mobile) {
			width: 974px;
			left: -120%;
		}
	}

	.decor-top {
		position: absolute;
		width: 67.6%;
		right: 0;
		top: 0;
		translate: 55% -50%;
		path {
			stroke: $accent2;
		}
		@media (max-width: $mobile) {
			display: none;
		}
	}

	// .team__head

	&__head {
	}

	// .team__title

	&__title {
	}

	// .team__description

	&__description {
	}

	// .team__body

	&__body {
		position: relative;
		z-index: 50;

		svg {
			position: absolute;
			left: 0;
			bottom: 0;

			// same like img
			@media (max-width: $mobileSmall) {
				width: 150%;
				translate: -12.5% 0;
			}
		}
	}

	// .team__person-wrapper

	&__person-wrapper {
		&:not(:first-child) {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
		}
	}

	// .team__person

	&__person {
	}

	// .team__image

	&__image {
		position: relative;

		img {
			width: 100%;
			filter: grayscale(1);
			pointer-events: none;

			//same like svg
			@media (max-width: $mobileSmall) {
				width: 150%;
				translate: -12.5% 0;
			}
		}
	}

	// .team__person-info

	&__tooltip {
		position: absolute;
		z-index: 100;
		left: 50%;
		top: 70%;
		translate: -50%;
		// opacity: 0;
		pointer-events: none;

		@media (max-width: $tablet) {
			top: unset;
			bottom: 20px;
		}
	}
}

//====================form-with-image======================
.main {
	// .main__form-with-image

	&__form-with-image {
		@include adaptiveValue("padding-top", 100, 55);
		background-color: $white;
		margin-bottom: -2px;
		overflow: hidden;
	}
}

.form-with-image {
}
