.page__about {
	.header {
		position: relative;
	}
}

.about-page {
	&__about {
		@include adaptiveValue("padding-top", 27, 21);
		margin-bottom: -1px;
	}

	.about__text {
	}

	.about__params {
		@include adaptiveValue("flex-basis", 467, 240);
	}

	.params-circl--big {
		max-width: 467px;
		margin-left: auto;
	}

	.about__body {
		&:not(:last-child) {
			@include adaptiveValue("padding-bottom", 100, 70);
		}
	}

	.main__about {
		padding-block: unset;
	}
}
