.page-about {
   &__our-capabilities {
      .row-50__column {
         &:has(img) {
            position: relative;
            @include adaptiveValue('flex-basis', 450, 307, 1100, 375, 1, false);

            &:before {
               content: '';
               position: absolute;
               width: 100%;
               height: 60%;
               left: 0;
               bottom: 0;
               background-color: $accent1;
               @extend .radius-20;
            }

            img {
               position: absolute;
               width: 100%;
               height: 100%;
               object-fit: contain;
            }
         }
      }
   }

   &__faq {
      [data-spoller] {
         &:hover,
         &._spoller-active {
            background-color: $accent1;
            color: white;
         }
      }
   }
}
