<!DOCTYPE html>
<html lang='ru'>

	<head>
		{{> app/head canonical='https://probtl.ru/about' title='ПРОБТЛ — агентство событий, полный спектр услуг в сфере performance-маркетинга.' description='Социальные сети. Посевы. Медийная реклама. Контекстная реклама. Таргетированная реклама. Изготовление сайтов. Разработка стратегии продвижения. SERM и ORM. Оставить заявку: +7 (383) 298-98-98.' ogImage='https://probtl.ru/images/main-page/01.webp'}}
	</head>

	<body>
		<div class='page page__about wrapper'>

			{{> app/loader/loader}}


			{{> widgets/header/header}}

			<main class='about-page event-page'>

				<section class="main__services services">
					<div class="services__container">
						<div class="services__row">
							<div class='services__column'>
								<h2 class='h2 text-with-dot'><span>.</span>Немного о&nbsp;нас</h2>
								<div class="services__text text">
									<p class='text-bold'>Добро пожаловать на сайт агентства событий «ПРОБТЛ»!</p>
									<p>Мы команда профессионалов, которые занимаются организацией и проведением мероприятий любого масштаба и сложности. Наша миссия — сделать каждое событие ярким, запоминающимся и неповторимым, чтобы оно стало настоящим праздником для каждого участника.</p>
									<p>Агентство событий «ПРОБТЛ» предлагает широкий спектр услуг в области организации мероприятий: корпоративные события, презентации, конференции, выставки, семинары, фестивали, промоакции и многое другое. Мы стремимся к тому, чтобы каждое мероприятие было продумано до мелочей, начиная от идеи и концепции и заканчивая реализацией и анализом результатов.</p>
								</div>
								<h3 class='h3'>Наши преимущества:</h3>
								<ul class="services__list">
									<li class="services__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Опыт: многолетний опыт работы в сфере организации мероприятий позволяет нам успешно реализовывать проекты любой сложности.</li>
									<li class="services__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Собственные ресурсы: штат, своя база промоутеров по всей стране, типография и производственный цех позволяют запускать мероприятия по выгодным ценам.</li>
									<li class="services__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Профессионализм: наши сотрудники — это высококвалифицированные специалисты, знающие все тонкости и нюансы своей работы.</li>
									<li class="services__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Индивидуальный подход: мы учитываем все пожелания и требования наших клиентов, чтобы создать уникальное и запоминающееся мероприятие.</li>
									<li class="services__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Креативность: мы постоянно следим за новыми тенденциями и предлагаем нашим клиентам самые актуальные и интересные идеи для их мероприятий.</li>
								</ul>
								<p class='text text-bold'>Про события, про впечатления, про имидж — ПРОБТЛ.</p>
							</div>
							<div class='services__column'>
								<div class="services__image">
									<img src="/images/team/Polina.webp" alt="фото сотрудника">
								</div>
								{{#> widgets/plateWithText/PlateWithText}}
									<p class='plate-with-text__title text-bold text-s'>С уважением, директор компании «ПРОБТЛ»</p>
									<p class='text-s'>Полина Кочеткова</p>
								{{/widgets/plateWithText/PlateWithText}}
							</div>
						</div>
					</div>

				</section>

				<section class="about-page__about about">
					<div class="about__container">
						<div class="about__body">
							<div class="about__title">
								<h5 class='h5'><span>.</span>Организация Event, PR и&nbsp;BTL событий</h5>
							</div>
							<div class="about__row">
								<div class="about__content">

									<div class="about__text text">
										<p>Мы предлагаем полный комплекс услуг в области BTL, EVENT, PR. Организовываем мероприятия, конференции, корпоративы, масштабные события, проводим промоакции, разрабатываем коммуникационные стратегии. </p>
										<p>Лучшие технологии, база проверенного промоперсонала, договоренности с партнерами и штат квалифицированных сотрудников помогают агентству реализовывать проекты любой сложности.</p>
									</div>
								</div>
								<div class="about__params">
									<div class="params-circl params-circl--big">
										<div class='params-circl__content'>
											<p class='h4 text-white'>более</p>
											<p class='text-value text-white'>15 лет</p>
											<p class='h4 text-white'>опыта</p>
										</div>
										<div class="params-circl__decor">
											<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
												<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
												<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
												<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />
											</svg>
										</div>
									</div>
								</div>
							</div>
							<div class="about-swiper swiper slider-params">
								<div class='about__wrapper swiper-wrapper'>
									<div class="about__params swiper-slide">
										<div class="params-circl">
											<div class='params-circl__content'>
												<p class='text-value text-white'>5</p>
												<p class='h4 text-white'>Стран</p>
											</div>
											<div class="params-circl__decor">
												<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
													<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
													<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
													<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

												</svg>
											</div>
										</div>
										<p>5 стран ближнего зарубежья, где&nbsp;реализованы мероприятия</p>
									</div>

									<div class="about__params swiper-slide">
										<div class="params-circl">
											<div class='params-circl__content'>
												<p class='text-value text-white'>50</p>
												<p class='h4 text-white'>Тендеров</p>
											</div>
											<div class="params-circl__decor">
												<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
													<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
													<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
													<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

												</svg>
											</div>
										</div>
										<p>50 выигранных крупных тендеров</p>
									</div>
									<div class="about__params swiper-slide">
										<div class="params-circl">
											<div class='params-circl__content'>
												<p class='text-value text-white'>1000+</p>
												<p class='h4 text-white'>Городов</p>
											</div>
											<div class="params-circl__decor">
												<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
													<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
													<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
													<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

												</svg>
											</div>
										</div>
										<p>48 областей,<br> 24 республики,<br> 4&nbsp;автономных округа</p>
									</div>
									<div class="about__params swiper-slide">
										<div class="params-circl">
											<div class='params-circl__content'>
												<p class='text-value text-white'>18 000</p>
												<p class='h4 text-white'>Проектов</p>
											</div>
											<div class="params-circl__decor">
												<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
													<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
													<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
													<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

												</svg>
											</div>
										</div>
										<p>18000 реализованных проектов</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>



			</main>
			{{> widgets/footer/footer}}
			{{#> widgets/popup/popup type='request-popup'}}
				<div class="main__full-width-form full-width-form">
					<div class="full-width-form__container">
						<div class="full-width-form__head">
							<div class="full-width-form__title">
								<h5 class='h5 text-white'>Закажите услугу</h5>
							</div>
							<div class="full-width-form__sub-title">
								<p class="text-s text-white">Планируете организовать корпоратив, тимбилдинг, мероприятие для клиентов?</p>
							</div>
						</div>
						<div class="full-width-form__body">
							<form class="full-width-form__form form" method='post'>
								<div class="form__loader">
									<img src="/images/SvgSpinnersBlocksScale.svg" alt="" />
								</div>
								<div class="form__row">
									<div class='input-block text-white'>
										<input class="input" name="name" id="name" type="text" placeholder="" />
										<label for="name">Имя</label>
										<input class="input fn" name="fn" id="fn" type="text" required />
									</div>
									<div class='input-block text-white'>
										<input class="input" name="city" id="city" type="text" placeholder="" />
										<label for="city">Город</label>
									</div>
									<div class='input-block text-white'>
										<input class="input" name="phone" id="phone" type="tel" placeholder="" required />
										<label for="phone">Телефон</label>
									</div>
								</div>
								<div class="form__row">
									<div class='input-block text-white'>
										<textarea class="input" name="comment" id="message" rows="1"></textarea>
										<label for="message">Опишите, что вам требуется организовать</label>
									</div>
								</div>
								<div class="form__row">
									<div class="button button-light button-xl">
										<button type="submit" class="" id="submit-btn">Оставить заявку</button>
									</div>
									<div class='checkbox text-xxs text-white text-white' data-checkbox>
										<label class=''>
											<input type="checkbox" name='agreement'>
											<i></i>
											<span>я принимаю условия <a class='text-underline' href="/privacy" target="blank">Политики конфиденциальности</a>, и даю согласие на обработку персональных данных</span>
										</label>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			{{/widgets/popup/popup}}
			<div class='success' style='visibility: hidden; display: none;'>
				<h3 class='text-white'>Заявка отправлена!</h3>
			</div>
			{{!-- <a href="components"><img width='100px' height='100px' src="/images/favicon.png" alt=""></a> --}}
		</div>
	</body>

</html>
