<html lang='ru'>

	<head>
		{{> app/head title='About | Webpack-template'}}
	</head>

	<body>
		<div class='page page__about wrapper'>

			{{> app/loader/loader}}


			<main class='about-page'>
				{{> widgets/header/header}}

				<h1>About</h1>



			</main>
			{{> widgets/footer/footer}}
			{{!-- <a href="components"><img width='100px' height='100px' src="./images/favicon.png" alt=""></a> --}}
		</div>
	</body>

</html>
