.button-light {
	// position: relative;
	background-color: $white;
	color: $accent1;
	border: 2px solid $accent1;

	@media (any-hover: hover) and (pointer: fine) {
		transition:
			background-color $anim,
			border $anim,
			color $anim;
		&:hover {
			background-color: $accent1;
			border: 2px solid $white;
			color: $white;
		}
	}

	&:active {
		color: $white;

		@media (hover: none) {
			color: $accent1;
		}
	}
}

// .button-light.bordered {
// 	border: 2px solid $white;

// 	@media (any-hover: hover) and (pointer: fine) {
// 		&:hover {
// 			border: 2px solid $accent1;
// 		}
// 	}
// }
