.shadow-light {
	filter: drop-shadow(0 10px 23px hsla(345, 100%, 81%, 0.281)) drop-shadow(0 4px 6px rgba(255, 255, 255, 0.055));
}

.shadow {
	filter: drop-shadow(0 10px 15px hsla(345, 66%, 45%, 0.384)) drop-shadow(0 4px 6px rgba(255, 255, 255, 0.055));
}

.shadow-gray {
	box-shadow: 0px 2px 17px rgba(58, 69, 89, 0.368627451);
}
