.button-color {
	background-color: $accent1;
	color: $white;
	border: 2px solid transparent;

	@media (any-hover: hover) and (pointer: fine) {
		transition:
			background-color $anim,
			border $anim,
			color $anim;
		&:hover {
			background-color: $white;
			border: 2px solid $accent1;
			color: $accent1;
		}
	}

	&:active {
		color: $accent1;

		@media (hover: none) {
			color: $white;
		}
	}
}

.button-color.bordered {
	border: 2px solid $white;

	@media (any-hover: hover) and (pointer: fine) {
		&:hover {
			border: 2px solid $accent1;
		}
	}
}
