.sub-link {
	display: inline-block;
	padding: 3px 13px;
	@include adaptiveValue("font-size", 22, 17);
	font-weight: 400;
	border-radius: 1px;
	transition:
		background-color $anim,
		color $anim;
	// color $anim;

	&:active {
		color: $accent2;
	}
	@media (any-hover: hover) and (pointer: fine) {
		&:hover {
			background-color: $accent1;
			color: $white;
		}

		&:active {
			filter: brightness(0.8);
		}
	}
}
