<div class="card-circle-plate">
	<div class='card-circle-plate__circle'>
		<div class="card-circle-plate__body">
			<div class="card-circle-plate__bg">
				<div class="card-circle-plate__image"><img src="{{imgSrc}}" alt="{{imgAlt}}"></div>
			</div>
		</div>
	</div>
	{{#> widgets/plateWithText/PlateWithText}}
		{{> @partial-block}}
	{{/widgets/plateWithText/PlateWithText}}
</div>
