.mb-0 {
   margin-bottom: 0 !important;
}

.mb-12 {
   @include adaptiveValue('margin-bottom', 12, 9);
}

.mb-15 {
   @include adaptiveValue('margin-bottom', 15, 10);
}

//!+ выбирай любой: выше или ниже
.mb-20 {
   @include adaptiveValue('margin-bottom', 20, 10);
}

.mb-30 {
   @include adaptiveValue('margin-bottom', 30, 10);
}

//!+ может обойдемся тем, что выше????
.mb-40 {
   @include adaptiveValue('margin-bottom', 40, 10);
}

.mb-50 {
   @include adaptiveValue('margin-bottom', 50, 30);
}

.mb-60 {
   @include adaptiveValue('margin-bottom', 60, 40);
}

.mb-30-all {
   margin-bottom: 30px;
}

.mb-80 {
   @include adaptiveValue('margin-bottom', 80, 30);
}

.mb-140 {
   @include adaptiveValue('margin-bottom', 140, 41);
}

//!+ .mb-154{
// 	@include adaptiveValue("margin-bottom", 154, 40);
// }

.mb-146 {
   @include adaptiveValue(
      'margin-bottom',
      146,
      103
   ); //заголовок в портволио, чтобы не перекрывал декор от кругов-кейсов
}

.mb-200 {
   @include adaptiveValue('margin-bottom', 200, 82);
}

//+ paddinds (добавляю, из технических соображений- пока безсистемно)
.pb-20 {
   padding-bottom: 20px;
}

.pt-20 {
   padding-top: 20px;
}

.pbl-30 {
   @include adaptiveValue('padding-block', 30, 15);
}
.pbl-50 {
   @include adaptiveValue('padding-block', 50, 30);
}

.pbl-60 {
   @include adaptiveValue('padding-block', 60, 20);
}

.pinl-96 {
   @include adaptiveValue('padding-inline', 96, 20);
}
.pinl-50 {
   @include adaptiveValue('padding-inline', 50, 15);
}

.pb-140 {
   @include adaptiveValue('padding-bottom', 140, 41);
}

.pb-200 {
   @include adaptiveValue('padding-bottom', 200, 82);
}

.pt-140 {
   @include adaptiveValue('padding-top', 140, 30);
}
.pt-200 {
   @include adaptiveValue('padding-top', 200, 82);
}

.pbl-200 {
   @include adaptiveValue('padding-block', 200, 82);
}

.pbl-146 {
   @include adaptiveValue('padding-block', 146, 17);
}

//+ gaps

.gap-20 {
   gap: 20px;
}

.gap-50 {
   gap: 50px;
}

.gap-140 {
   @include adaptiveValue('gap', 140, 30);
}

.h-467 {
   @include adaptiveValue('height', 467, 145);
}
