<!DOCTYPE html>
<html lang='ru'>

	<head>
		{{> app/head canonical='https://probtl.ru/portfolio' title='Агентство событий “ПРОБТЛ”. Наше портфолио в сфере BTL, Event и PR' description='Нам доверяют организацию мероприятий известные федеральные бренды и региональные компании. Корпоративы. Бизнес-события. Праздники. Реализация промоакций в городах РФ.' ogImage='https://probtl.ru/images/main-page/01.webp'}}
	</head>

	<body>
		<div class='page page__portfolio wrapper'>

			{{> app/loader/loader}}


			{{> widgets/header/header}}

			<main class='portfolio-page'>

				<section class="portfolio pb-200">
					<div class="portfolio__container">
						<div class='portfolio__type'>
							<div class="portfolio__head">
								<h2 class="h2 text-with-dot mb-80"><span>.</span>EVENT</h2>
							</div>
							<div class="portfolio__body">
								<div class='card-circle '>
									<div class="card-circle__decor">
										<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
											<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
											<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
											<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

										</svg>
									</div>
									<div class="card-circle__body">
										<div class="card-circle__bg">
											<div class="card-circle__image"><img src="/images/cases/01.webp" alt=""></div>
										</div>
										<div class="card-circle__content">
											<p class='card-circle__title text-white'>МТС</p>
											<p class='card-circle__description text-white text-xxs'>Музыкальное шоу «Blog&VOICE»</p>
										</div>
									</div>
									<a class="card-circle__link" href="/cases/mts-blog-and-voice"></a>
								</div>
								<div class='card-circle '>
									<div class="card-circle__decor">
										<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
											<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
											<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
											<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

										</svg>
									</div>
									<div class="card-circle__body">
										<div class="card-circle__bg">
											<div class="card-circle__image"><img src="/images/cases/12.webp" alt="фото стены пожеланий"></div>
										</div>
										<div class="card-circle__content">
											<p class='card-circle__title text-white'>MTC</p>
											<p class='card-circle__description text-white text-xxs'>30 лет. Больше чем цифра</p>
										</div>
									</div>
									<a class="card-circle__link" href="/cases/mts-30-let/"></a>
								</div>
								<div class='card-circle '>
									<div class="card-circle__decor">
										<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
											<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
											<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
											<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

										</svg>
									</div>
									<div class="card-circle__body">
										<div class="card-circle__bg">
											<div class="card-circle__image"><img src="/images/cases/11.webp" alt="человек в лучах вечеринки"></div>
										</div>
										<div class="card-circle__content">
											<p class='card-circle__title text-white'>Газпром<wbr/>нефть Инновации</p>
											<p class='card-circle__description text-white text-xxs'>Корпоративное мероприятие</p>
										</div>
									</div>
									<a class="card-circle__link" href="/cases/gazpromneft-innovacii/"></a>
								</div>
								<div class='card-circle '>
									<div class="card-circle__decor">
										<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
											<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
											<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
											<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

										</svg>
									</div>
									<div class="card-circle__body">
										<div class="card-circle__bg">
											<div class="card-circle__image"><img src="/images/cases/26.webp" alt="человек в лучах вечеринки"></div>
										</div>
										<div class="card-circle__content">
											<p class='card-circle__title text-white'>TELE2</p>
											<p class='card-circle__description text-white text-xxs'>Корпоративное мероприятие</p>
										</div>
									</div>
									<a class="card-circle__link" href="/cases/tele2/"></a>
								</div>
								<div class='card-circle '>
									<div class="card-circle__decor">
										<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
											<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
											<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
											<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

										</svg>
									</div>
									<div class="card-circle__body">
										<div class="card-circle__bg">
											<div class="card-circle__image"><img src="/images/cases/24.webp" alt="вкусный тортик"></div>
										</div>
										<div class="card-circle__content">
											<p class='card-circle__title text-white'>Россельхоз<wbr/>банк</p>
										</div>
									</div>
									<a class="card-circle__link" href="/cases/rosselhozbank-2/"></a>
								</div>
								<div class='card-circle '>
									<div class="card-circle__decor">
										<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
											<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
											<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
											<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

										</svg>
									</div>
									<div class="card-circle__body">
										<div class="card-circle__bg">
											<div class="card-circle__image"><img src="/images/cases/23.webp" alt="вкусная закусочка"></div>
										</div>
										<div class="card-circle__content">
											<p class='card-circle__title text-white'>Россельхоз<wbr/>банк</p>
										</div>
									</div>
									<a class="card-circle__link" href="/cases/rosselhozbank/"></a>
								</div>
								<div class='card-circle '>
									<div class="card-circle__decor">
										<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
											<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
											<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
											<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

										</svg>
									</div>
									<div class="card-circle__body">
										<div class="card-circle__bg">
											<div class="card-circle__image"><img src="/images/cases/06.webp" alt="фото довольного покупателя"></div>
										</div>
										<div class="card-circle__content">
											<p class='card-circle__title text-white'>Gloria Jeans</p>
											<p class='card-circle__description text-white text-xxs'>Открытия магазинов</p>
										</div>
									</div>
									<a class="card-circle__link" href="/cases/gloria-jeans"></a>
								</div>
								<div class='card-circle '>
									<div class="card-circle__decor">
										<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
											<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
											<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
											<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

										</svg>
									</div>
									<div class="card-circle__body">
										<div class="card-circle__bg">
											<div class="card-circle__image"><img src="/images/cases/15.webp" alt="букет красных цветов"></div>
										</div>
										<div class="card-circle__content">
											<p class='card-circle__title text-white'>Альфа<wbr/>банк</p>
											<p class='card-circle__description text-white text-xxs'>Крупнейший частный банк в России</p>
										</div>
									</div>
									<a class="card-circle__link" href="/cases/alfabank/"></a>
								</div>
								<div class='card-circle '>
									<div class="card-circle__decor">
										<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
											<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
											<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
											<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

										</svg>
									</div>
									<div class="card-circle__body">
										<div class="card-circle__bg">
											<div class="card-circle__image"><img src="/images/cases/25.webp" alt="люди около офиса банка"></div>
										</div>
										<div class="card-circle__content">
											<p class='card-circle__title text-white'>Совком<wbr/>банк</p>
											<p class='card-circle__description text-white text-xxs'>Российский коммерческий банк</p>
										</div>
									</div>
									<a class="card-circle__link" href="/cases/sovkombank/"></a>
								</div>
								<div class='card-circle '>
									<div class="card-circle__decor">
										<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
											<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
											<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
											<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

										</svg>
									</div>
									<div class="card-circle__body">
										<div class="card-circle__bg">
											<div class="card-circle__image"><img src="/images/cases/20.webp" alt="сотрудница разрезает праздничную ленту"></div>
										</div>
										<div class="card-circle__content">
											<p class='card-circle__title text-white'>Командор</p>
											<p class='card-circle__description text-white text-xxs'>Торговая сеть</p>
										</div>
									</div>
									<a class="card-circle__link" href="/cases/komandor/"></a>
								</div>
								<div class='card-circle '>
									<div class="card-circle__decor">
										<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
											<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
											<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
											<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

										</svg>
									</div>
									<div class="card-circle__body">
										<div class="card-circle__bg">
											<div class="card-circle__image"><img src="/images/cases/07.webp" alt="фото счастливых людей"></div>
										</div>
										<div class="card-circle__content">
											<p class='card-circle__title text-white'>Жизньмарт</p>
											<p class='card-circle__description text-white text-xxs'>открытия магазинов</p>
										</div>
									</div>
									<a class="card-circle__link" href="/cases/zhiznмart"></a>
								</div>
								<div class='card-circle '>
									<div class="card-circle__decor">
										<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
											<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
											<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
											<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

										</svg>
									</div>
									<div class="card-circle__body">
										<div class="card-circle__bg">
											<div class="card-circle__image"><img src="/images/cases/13.webp" alt="фото с открытия магазина"></div>
										</div>
										<div class="card-circle__content">
											<p class='card-circle__title text-white'>Kari</p>
											<p class='card-circle__description text-white text-xxs'>Сеть магазинов</p>
										</div>
									</div>
									<a class="card-circle__link" href="/cases/kari/"></a>
								</div>
							</div>
						</div>
						<div class='portfolio__type'>
							<div class="portfolio__head">
								<h2 class="h2 text-with-dot mb-80"><span>.</span>PR</h2>
							</div>
							<div class="portfolio__body">
								<div class='card-circle '>
									<div class="card-circle__decor">
										<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
											<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
											<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
											<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

										</svg>
									</div>
									<div class="card-circle__body">
										<div class="card-circle__bg">
											<div class="card-circle__image"><img src="/images/cases/21.webp" alt="фото корябля"></div>
										</div>
										<div class="card-circle__content">
											<p class='card-circle__title text-white'>Меrафон</p>
											<p class='card-circle__description text-white text-xxs'>Оператор связи</p>
										</div>
									</div>
									<a class="card-circle__link" href="/cases/megafon/"></a>
								</div>
								<div class='card-circle '>
									<div class="card-circle__decor">
										<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
											<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
											<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
											<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

										</svg>
									</div>
									<div class="card-circle__body">
										<div class="card-circle__bg">
											<div class="card-circle__image"><img src="/images/cases/14.webp" alt="фото участников"></div>
										</div>
										<div class="card-circle__content">
											<p class='card-circle__title text-white'>РЖД</p>
											<p class='card-circle__description text-white text-xxs'>Российские железные дороги</p>
										</div>
									</div>
									<a class="card-circle__link" href="/cases/rzhd/"></a>
								</div>
								<div class='card-circle '>
									<div class="card-circle__decor">
										<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
											<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
											<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
											<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

										</svg>
									</div>
									<div class="card-circle__body">
										<div class="card-circle__bg">
											<div class="card-circle__image"><img src="/images/cases/08.webp" alt="фото POS материалов"></div>
										</div>
										<div class="card-circle__content">
											<p class='card-circle__title text-white'>Разумные от народа</p>
										</div>
									</div>
									<a class="card-circle__link" href="/cases/razumnye-ot-naroda"></a>
								</div>
								<div class='card-circle '>
									<div class="card-circle__decor">
										<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
											<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
											<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
											<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

										</svg>
									</div>
									<div class="card-circle__body">
										<div class="card-circle__bg">
											<div class="card-circle__image"><img src="/images/cases/22.webp" alt="панарамное фото площадки"></div>
										</div>
										<div class="card-circle__content">
											<p class='card-circle__title text-white'>Red bull</p>
											<p class='card-circle__description text-white text-xxs'>Реализация ряда мероприятий</p>
										</div>
									</div>
									<a class="card-circle__link" href="/cases/red-bull/"></a>
								</div>
								<div class='card-circle '>
									<div class="card-circle__decor">
										<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
											<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
											<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
											<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

										</svg>
									</div>
									<div class="card-circle__body">
										<div class="card-circle__bg">
											<div class="card-circle__image"><img src="/images/cases/09.webp" alt="фото молодых людей"></div>
										</div>
										<div class="card-circle__content">
											<p class='card-circle__title text-white'>ТНТ</p>
										</div>
									</div>
									<a class="card-circle__link" href="/cases/tnt"></a>
								</div>
								<div class='card-circle '>
									<div class="card-circle__decor">
										<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
											<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
											<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
											<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

										</svg>
									</div>
									<div class="card-circle__body">
										<div class="card-circle__bg">
											<div class="card-circle__image"><img src="/images/cases/05.webp" alt="фото нарядной спец техники"></div>
										</div>
										<div class="card-circle__content">
											<p class='card-circle__title text-white'>Восточная техника</p>
										</div>
									</div>
									<a class="card-circle__link" href="/cases/eastern-special-equipment"></a>
								</div>
							</div>
						</div>
						<div class='portfolio__type'>
							<div class="portfolio__head">
								<h2 class="h2 text-with-dot mb-80"><span>.</span>BTL</h2>
							</div>
							<div class="portfolio__body">
								<div class='card-circle '>
									<div class="card-circle__decor">
										<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
											<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
											<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
											<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

										</svg>
									</div>
									<div class="card-circle__body">
										<div class="card-circle__bg">
											<div class="card-circle__image"><img src="/images/cases/19.webp" alt="фото промостойки"></div>
										</div>
										<div class="card-circle__content">
											<p class='card-circle__title text-white'>Jager<wbr/>meister</p>
										</div>
									</div>
									<a class="card-circle__link" href="/cases/jagermaster/"></a>
								</div>
								<div class='card-circle '>
									<div class="card-circle__decor">
										<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
											<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
											<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
											<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

										</svg>
									</div>
									<div class="card-circle__body">
										<div class="card-circle__bg">
											<div class="card-circle__image"><img src="/images/cases/16.webp" alt="фото промостойки"></div>
										</div>
										<div class="card-circle__content">
											<p class='card-circle__title text-white'>Бочкарев</p>
											<p class='card-circle__description text-white text-xxs'>Сеть магазинов</p>
										</div>
									</div>
									<a class="card-circle__link" href="/cases/bochkarev/"></a>
								</div>
								<div class='card-circle '>
									<div class="card-circle__decor">
										<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
											<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
											<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
											<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

										</svg>
									</div>
									<div class="card-circle__body">
										<div class="card-circle__bg">
											<div class="card-circle__image"><img src="/images/cases/27.webp" alt="фото посетителей мероприятия"></div>
										</div>
										<div class="card-circle__content">
											<p class='card-circle__title text-white'>За Родину</p>
											<p class='card-circle__description text-white text-xxs'>Группа компаний</p>
										</div>
									</div>
									<a class="card-circle__link" href="/cases/za-rodinu/"></a>
								</div>
								<div class='card-circle '>
									<div class="card-circle__decor">
										<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
											<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
											<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
											<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

										</svg>
									</div>
									<div class="card-circle__body">
										<div class="card-circle__bg">
											<div class="card-circle__image"><img src="/images/cases/17.webp" alt="фото участницы"></div>
										</div>
										<div class="card-circle__content">
											<p class='card-circle__title text-white'>Бургер Кинг</p>
										</div>
									</div>
									<a class="card-circle__link" href="/cases/burger-king/"></a>
								</div>
								<div class='card-circle '>
									<div class="card-circle__decor">
										<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
											<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
											<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
											<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

										</svg>
									</div>
									<div class="card-circle__body">
										<div class="card-circle__bg">
											<div class="card-circle__image"><img src="/images/cases/18.webp" alt="фото ростовой куклы в виде баночки напитка"></div>
										</div>
										<div class="card-circle__content">
											<p class='card-circle__title text-white'>Heineken</p>
											<p class='card-circle__description text-white text-xxs'>Дегустация безалкогольных напитков</p>
										</div>
									</div>
									<a class="card-circle__link" href="/cases/heineken/"></a>
								</div>
							</div>
						</div>
					</div>
				</section>

			</main>
			{{> widgets/footer/footer}}
			{{#> widgets/popup/popup type='request-popup'}}
				<div class="main__full-width-form full-width-form">
					<div class="full-width-form__container">
						<div class="full-width-form__head">
							<div class="full-width-form__title">
								<h5 class='h5 text-white'>Закажите услугу</h5>
							</div>
							<div class="full-width-form__sub-title">
								<p class="text-s text-white">Планируете организовать корпоратив, тимбилдинг, мероприятие для клиентов?</p>
							</div>
						</div>
						<div class="full-width-form__body">
							<form class="full-width-form__form form" method='post'>
								<div class="form__loader">
									<img src="/images/SvgSpinnersBlocksScale.svg" alt="" />
								</div>
								<div class="form__row">
									<div class='input-block text-white'>
										<input class="input" name="name" id="name" type="text" placeholder="" />
										<label for="name">Имя</label>
										<input class="input fn" name="fn" id="fn" type="text" required />
									</div>
									<div class='input-block text-white'>
										<input class="input" name="city" id="city" type="text" placeholder="" />
										<label for="city">Город</label>
									</div>
									<div class='input-block text-white'>
										<input class="input" name="phone" id="phone" type="tel" placeholder="" required />
										<label for="phone">Телефон</label>
									</div>
								</div>
								<div class="form__row">
									<div class='input-block text-white'>
										<textarea class="input" name="comment" id="message" rows="1"></textarea>
										<label for="message">Опишите, что вам требуется организовать</label>
									</div>
								</div>
								<div class="form__row">
									<div class="button button-light button-xl">
										<button type="submit" class="" id="submit-btn">Оставить заявку</button>
									</div>
									<div class='input-block checkbox text-white'>
										<input class='checkbox__input' type="checkbox" id="checkbox-input" name="agreement" required />
										<label class='checkbox__label text-xxs text-white' for="agreement">
											<p>я принимаю условия <a href="/privacy" target="blank">Политики конфиденциальности</a>, и даю согласие на обработку персональных данных</p>
										</label>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			{{/widgets/popup/popup}}

		</div>
	</body>

</html>
