<div class="contacts-card">
	<div class="contacts-card__body">
		<div class="contacts-card__icon"><a href='javascript:void(0)'></a><span class='icon-vk'></span></div>
		<div class="contacts-card__title">
			<div class="contacts-card__decor"></div>
			<p class='text-xs'>ВКонтакте</p>
		</div>
	</div>
</div>
