<!DOCTYPE html>
<html lang='ru'>

	<head>
		{{> app/head canonical='https://probtl.ru/btl' title='BTL | proBTL' description='Полный спектр услуг в сфере BTL и Event. Организация мероприятий под ключ. Корпоративы. Бизнес-события. Праздники. Реализация промоакций в городах РФ. Собственный штат промоутеров.' ogImage='https://probtl.ru/images/main-page/01.webp'}}
	</head>

	<body>
		<div class='page corporate-events btl-page wrapper'>

			{{> app/loader/loader}}


			{{> widgets/header/header}}

			<main class='corporate-events event-marketing newstyles'>

				<div class="event-marketing__first-screen mb-200">
					<div class="corporate-events__head mb-140 ">
						<div class="big-decorate-title">.Организация</div>
						<div class='event-marketing__container'>
							<div class="corporate-events__title h1">
								<h1 class="h1 text-accent mb-0">BTL.</h1>
								<p class="subtitle-h1 text-with-dot"><span>.</span>Организация промоакций и аренда промоперсонала<span data-city-title style='color: unset; font-size: unset; margin-right: unset;'></span></p>
							</div>
						</div>
					</div>
					<div class='event-marketing__container'>
						<div class='accent-block-text text-s text-white mb-80'>
							<div class="accent-block-text__content">
								<p>От раздачи листовок в одной локации до одновременного запуска промоакции <b class='text-bold'>в 100 городах. Можем всё и даже больше!</b> Своя база промоперсонала по всей стране, опыт работы с нестандартными задачами, договоренности с подрядчиками позволяют нам реализовывать проекты любого масштаба под ключ.</p>
							</div>
						</div>
					</div>
				</div>

				<section class="corporate-events__advantages mb-200">
					<div class="corporate-events__head mb-140">
						<div class="big-decorate-title text-bordered"><span>.</span>6 причин выбрать</div>
						<div class='corporate-events__container'>
							<h2 class="corporate-events__title h2"><span>.</span>6 причин выбрать нас:</h2>
						</div>
					</div>
					<div class='corporate-events__container'>
						<div class="corporate-events__body">
							<div class="corporate-events__text-card-widget text-card-widget">
								<div class="corporate-events__text-card-row text-card-row">
									<div class="text-card-grid__text-card text-card">
										<div class="text-card__title text-p1 mb-30 text-gray">От 24 часов на запуск акции</div>
										<div class="text-card__text text-gray">Одно из самых быстрых BTL-агентств. Своя база промоутеров, производство и опытный менеджмент позволяют организовывать в короткие сроки даже сложные проекты.</div>
									</div>
									<div class="text-card-grid__text-card text-card">
										<div class="text-card__title text-p1 mb-30 text-gray">Строгий отбор промоперсонала</div>
										<div class="text-card__text text-gray">Вовлеченные и мотивированные промоутеры с опытом, которые не просто «отстаивают часы», а реально работают на результат. С приятной внешностью, медкнижкой, регулярно проходят обучение по техникам презентации продукта и работы с аудиторией.</div>
									</div>
								</div>
								<div class="corporate-events__text-card-row text-card-row">
									<div class="text-card-grid__text-card text-card">
										<div class="text-card__title text-p1 mb-30 text-gray">Более 2 000 промоутеров — своя база промоперсонала по всей России</div>
										<div class="text-card__text text-gray">Нужна промоакция и в других городах РФ? Без проблем! У нас есть своя, проверенная временем база, куда входит более 2000 промоутеров. Подберем персонал под любую задачу, будь то просто раздача листовок или же презентация сложного продукта.</div>
									</div>
									<div class="text-card-grid__text-card text-card">
										<div class="text-card__title text-p1 mb-30 text-gray">Удобно для федеральных клиентов</div>
										<div class="text-card__text text-gray text-list">
											<p>Проведем мероприятие в любом городе России.</p>
											<p>Готовы зафиксировать стоимость на отдельные позиции в смете в случае долгосрочных проектов.</p>
											<p>Участвуем в тендерах — имеем аккредитацию на тендерных площадках и полный пакет документов для СБ.</p>
										</div>
									</div>
								</div>
								<div class="corporate-events__text-card-row text-card-row">
									<div class="text-card-grid__text-card text-card">
										<div class="text-card__title text-p1 mb-30 text-gray">&gt;65% клиентов стали постоянными</div>
										<div class="text-card__text text-gray">Мы забираем всю головную боль клиента, работаем на качество и к нам обращаются снова. А еще нас любит бухгалтерия — без задержек и напоминаний отправляем все документы.</div>
									</div>
									<div class="text-card-grid__text-card text-card">
										<div class="text-card__title text-p1 mb-30 text-gray">Свой производственный цех</div>
										<div class="text-card__text text-gray">Большинство компаний заказывают декорации и оформление через подрядчиков, что ощутимо увеличивает смету мероприятия. У нас же свое производство — изготавливаем конструкции любой сложности, брендируем промостенды и пресс-воллы, печатаем листовки и флаеры. Это позволяет нам ставить низкие цены, гарантировать 100% качество и соблюдение всех сроков.</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</section>

				<section class="event-marketing__servicies-btl servicies-btl mb-200">
					<div class="corporate-events__head mb-146">
						<div class="big-decorate-title text-bordered"><span>.</span>Наши услуги</div>
						<div class='corporate-events__container'>
							<h2 class="corporate-events__title h2"><span>.</span>Наши услуги</h2>
						</div>
					</div>
					<div class="event-marketing__body">
						<div class="event-marketing__container">
							<div class="servicies-btl__row">
								<div class="servicies-btl__column" data-btl-service>
									<div class="card-servicies">
										<div class="card-servicies__image"><img src="/images/btl/servicies/01.webp" alt=""></div>
										<div class="card-servicies__content align-center text-bold">
											<div class="card-servicies__accent text-white">от 450 руб/час</div>
											<div class="card-servicies__title text-p2">Раздача листовок</div>
										</div>
									</div>
								</div>
								<div class="servicies-btl__column" data-btl-service>
									<div class="card-servicies">
										<div class="card-servicies__image"><img src="/images/btl/servicies/02.webp" alt=""></div>
										<div class="card-servicies__content align-center text-bold">
											<div class="card-servicies__accent text-white">от 450 руб/час</div>
											<div class="card-servicies__title text-p2">Сэмплинг</div>
										</div>
									</div>
								</div>
								<div class="servicies-btl__column" data-btl-service>
									<div class="card-servicies">
										<div class="card-servicies__image"><img src="/images/btl/servicies/03.webp" alt=""></div>
										<div class="card-servicies__content align-center text-bold">
											<div class="card-servicies__accent text-white">от 550 руб/час</div>
											<div class="card-servicies__title text-p2">Проведение дегустаций</div>
										</div>
									</div>
								</div>
								<div class="servicies-btl__column" data-btl-service>
									<div class="card-servicies">
										<div class="card-servicies__image"><img src="/images/btl/servicies/04.webp" alt=""></div>
										<div class="card-servicies__content align-center text-bold">
											<div class="card-servicies__accent text-white">от 550 руб/час</div>
											<div class="card-servicies__title text-p2">Проведение анкетирования</div>
										</div>
									</div>
								</div>
								<div class="servicies-btl__column" data-btl-service>
									<div class="card-servicies">
										<div class="card-servicies__image"><img src="/images/btl/servicies/14.webp" alt=""></div>
										<div class="card-servicies__content align-center text-bold">
											<div class="card-servicies__accent text-white">от 550 руб/час</div>
											<div class="card-servicies__title text-p2">Промоутеры-консультанты</div>
										</div>
									</div>
								</div>
								<div class="servicies-btl__column" data-btl-service>
									<div class="card-servicies">
										<div class="card-servicies__image"><img src="/images/btl/servicies/05.webp" alt=""></div>
										<div class="card-servicies__content align-center text-bold">
											<div class="card-servicies__accent text-white">от 750 руб/час</div>
											<div class="card-servicies__title text-p2">Промоутеры в ростовой кукле</div>
										</div>
									</div>
								</div>
								<div class="servicies-btl__column" data-btl-service>
									<div class="card-servicies">
										<div class="card-servicies__image"><img src="/images/btl/servicies/06.webp" alt=""></div>
										<div class="card-servicies__content align-center text-bold">
											<div class="card-servicies__accent text-white">от 1 000 руб/час</div>
											<div class="card-servicies__title text-p2">Стендисты и хэлперы для работы на выставках</div>
										</div>
									</div>
								</div>
								<div class="servicies-btl__column" data-btl-service>
									<div class="card-servicies">
										<div class="card-servicies__image"><img src="/images/btl/servicies/07.webp" alt=""></div>
										<div class="card-servicies__content align-center text-bold">
											<div class="card-servicies__accent text-white">от 1 000 руб/час</div>
											<div class="card-servicies__title text-p2">Промомодели на мероприятия</div>
										</div>
									</div>
								</div>
								<div class="servicies-btl__column" data-btl-service>
									<div class="card-servicies">
										<div class="card-servicies__image"><img src="/images/btl/servicies/08.webp" alt=""></div>
										<div class="card-servicies__content align-center text-bold">
											<div class="card-servicies__accent text-white">от 25 000 руб.</div>
											<div class="card-servicies__title text-p2">Праздничное открытие торговых точек</div>
										</div>
									</div>
								</div>
								<div class="servicies-btl__column" data-btl-service>
									<div class="card-servicies">
										<div class="card-servicies__image"><img src="/images/btl/servicies/09.webp" alt=""></div>
										<div class="card-servicies__content align-center text-bold">
											<div class="card-servicies__accent text-white">по запросу</div>
											<div class="card-servicies__title text-p2">Активации в торговых центрах</div>
										</div>
									</div>
								</div>
								<div class="servicies-btl__column" data-btl-service>
									<div class="card-servicies">
										<div class="card-servicies__image"><img src="/images/btl/servicies/10.webp" alt=""></div>
										<div class="card-servicies__content align-center text-bold">
											<div class="card-servicies__accent text-white">по запросу</div>
											<div class="card-servicies__title text-p2">Кросс-промоушен</div>
										</div>
									</div>
								</div>
								<div class="servicies-btl__column" data-btl-service>
									<div class="card-servicies">
										<div class="card-servicies__image"><img src="/images/btl/servicies/11.webp" alt=""></div>
										<div class="card-servicies__content align-center text-bold">
											<div class="card-servicies__accent text-white">от 25 000 руб.</div>
											<div class="card-servicies__title text-p2">Проведение лотерей и розыгрышей</div>
										</div>
									</div>
								</div>
								<div class="servicies-btl__column" data-btl-service>
									<div class="card-servicies">
										<div class="card-servicies__image"><img src="/images/btl/servicies/12.webp" alt=""></div>
										<div class="card-servicies__content align-center text-bold">
											<div class="card-servicies__accent text-white">по запросу</div>
											<div class="card-servicies__title text-p2">Разработка креативной концепции промоакции</div>
										</div>
									</div>
								</div>
								<div class="servicies-btl__column" data-btl-service>
									<div class="card-servicies">
										<div class="card-servicies__image"><img src="/images/btl/servicies/13.webp" alt=""></div>
										<div class="card-servicies__content align-center text-bold">
											<div class="card-servicies__accent text-white">по запросу</div>
											<div class="card-servicies__title text-p2">Разработка программ оффлайн-лидогенерации</div>
										</div>
									</div>
								</div>
								<div class="servicies-btl__column" data-btl-service>
									<div class="card-servicies">
										<div class="card-servicies__image"><img src="/images/btl/servicies/15.webp" alt=""></div>
										<div class="card-servicies__content align-center text-bold">
											<div class="card-servicies__accent text-white">по запросу</div>
											<div class="card-servicies__title text-p2">Массовый подбор персонала под проекты</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="corporate-events__get-calculating mb-200">
					<div class='corporate-events__container'>
						<div class="corporate-events__body">
							<div class='corporate-events__row'>
								<div class="corporate-events__content">
									<h3 class='mb-15'>Рассчитайте стоимость промоакции за пару минут!</h3>
									<div class="corporate-events__text text-gray">
										<p>Мы вышлем вам на Whats`App вилку цен под&nbsp;ваш бюджет и&nbsp;предложим оптимальные варианты!</p>
										<p>Оставь заявку сейчас и закрепи за собой</p>
										<p class='text-accent text-bold'>скидку 2 000 ₽ на организацию промоакции!</p>
									</div>
									<div class="corporate-events__cta">
										<div class="button button-color button-xl" data-popup-type='request-popup-form-3'>
											<button>Получить расчет</button>
										</div>
									</div>
								</div>
								<div class="corporate-events__image">
									<picture>
										<source srcset="/images/corporate-events/clock.webp" media="(min-width: 768px)" />
										<source srcset="/images/corporate-events/clock-without-shadow.webp" media="(max-width: 767px)" />
										<img src="/images/corporate-events/clock-without-shadow.webp" alt="" />
									</picture>

								</div>
							</div>
						</div>
					</div>
				</section>

				<div class='quote-card__container'>
					<div class='quote-card mb-200'>
						<div class="quote-card__content pbl-50 pinl-96">
							<div class="quote-card__quote mb-40">
								<p>Про продажи, про узнаваемость, про&nbsp;лояльность клиентов — <span class='text-accent'>ПРОБТЛ</span></p>
							</div>
							<div class="quote-card__remark">
								<p>Яна Чемеркина, руководитель btl-направления</p>
							</div>
						</div>
						<div class="quote-card__image">
							<img src="/images/team/DSC08808.webp" alt="" style='scale:unset;'>
						</div>
					</div>
				</div>

				<section class="event-marketing__team team mb-200">
					<div class="corporate-events__head mb-146">
						<div class="big-decorate-title text-bordered"><span>.</span>Команда</div>
						<div class='corporate-events__container'>
							<h2 class="corporate-events__title h2"><span>.</span>Наша команда:</h2>
						</div>
					</div>
					<div class="event-marketing__body">
						<div class="event-marketing__container">
							<div class="team__row">
								<div class="team__column">
									<div class='mb-20'>
										{{> shared/squareImage/squareImage imgSrc='/images/team/square-photos/Isadchenko.webp'}}
									</div>
									<p class='text-p2 align-center text-bold'>Алена</p>
								</div>
								<div class="team__column">
									<div class='mb-20'>
										{{> shared/squareImage/squareImage imgSrc='/images/team/square-photos/foto-77.webp'}}
									</div>
									<p class='text-p2 align-center text-bold'>Зарина</p>
								</div>
								<div class="team__column">
									<div class='mb-20'>
										{{> shared/squareImage/squareImage imgSrc='/images/team/square-photos/april-2025/Дарья.webp'}}
									</div>
									<p class='text-p2 align-center text-bold'>Даша</p>
								</div>
								<div class="team__column">
									<div class='mb-20'>
										{{> shared/squareImage/squareImage imgSrc='/images/team/square-photos/Nazarova-2.webp'}}
									</div>
									<p class='text-p2 align-center text-bold'>Марина</p>
								</div>
								<div class="team__column">
									<div class='mb-20'>
										{{> shared/squareImage/squareImage imgSrc='/images/team/square-photos/Yana.webp'}}
									</div>
									<p class='text-p2 align-center text-bold'>Яна</p>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="portfolio mb-200">
					<div class="corporate-events__head mb-146">
						<div class="big-decorate-title text-bordered"><span>.</span>Портфолио</div>
						<div class='corporate-events__container'>
							<h2 class="corporate-events__title h2"><span>.</span>Портфолио</h2>
						</div>
					</div>
					<div class="services__cases services-cases">
						<div class="services-cases__body">
							<div class='card-circle__swiper swiper slider-cases'>
								<div class='swiper-wrapper'>
									<div class='card-circle card-circle--animated swiper-slide'>
										<div class="card-circle__decor">
											<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
												<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
												<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
												<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

											</svg>
										</div>
										<div class="card-circle__body">
											<div class="card-circle__bg">
												<div class="card-circle__image"><img src="/images/cases/19.webp" alt="фото промостойки"></div>
											</div>
											<div class="card-circle__content">
												<p class='card-circle__title text-white'>Jager<wbr/>meister</p>
											</div>
										</div>
										<a class="card-circle__link" href="/cases/jagermaster/"></a>
									</div>
									<div class='card-circle card-circle--animated swiper-slide'>
										<div class="card-circle__decor">
											<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
												<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
												<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
												<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

											</svg>
										</div>
										<div class="card-circle__body">
											<div class="card-circle__bg">
												<div class="card-circle__image"><img src="/images/cases/16.webp" alt="фото промостойки"></div>
											</div>
											<div class="card-circle__content">
												<p class='card-circle__title text-white'>Бочкарев</p>
												<p class='card-circle__description text-white text-xxs'>Сеть магазинов</p>
											</div>
										</div>
										<a class="card-circle__link" href="/cases/bochkarev/"></a>
									</div>
									<div class='card-circle card-circle--animated swiper-slide'>
										<div class="card-circle__decor">
											<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
												<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
												<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
												<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

											</svg>
										</div>
										<div class="card-circle__body">
											<div class="card-circle__bg">
												<div class="card-circle__image"><img src="/images/cases/27.webp" alt="фото посетителей мероприятия"></div>
											</div>
											<div class="card-circle__content">
												<p class='card-circle__title text-white'>За Родину</p>
												<p class='card-circle__description text-white text-xxs'>Группа компаний</p>
											</div>
										</div>
										<a class="card-circle__link" href="/cases/za-rodinu/"></a>
									</div>
									<div class='card-circle card-circle--animated swiper-slide'>
										<div class="card-circle__decor">
											<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
												<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
												<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
												<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

											</svg>
										</div>
										<div class="card-circle__body">
											<div class="card-circle__bg">
												<div class="card-circle__image"><img src="/images/cases/17.webp" alt="фото участницы"></div>
											</div>
											<div class="card-circle__content">
												<p class='card-circle__title text-white'>Бургер Кинг</p>
											</div>
										</div>
										<a class="card-circle__link" href="/cases/burger-king/"></a>
									</div>
									<div class='card-circle card-circle--animated swiper-slide'>
										<div class="card-circle__decor">
											<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
												<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
												<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
												<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

											</svg>
										</div>
										<div class="card-circle__body">
											<div class="card-circle__bg">
												<div class="card-circle__image"><img src="/images/cases/18.webp" alt="фото ростовой куклы в виде баночки напитка"></div>
											</div>
											<div class="card-circle__content">
												<p class='card-circle__title text-white'>Heineken</p>
												<p class='card-circle__description text-white text-xxs'>Дегустация безалкогольных напитков</p>
											</div>
										</div>
										<a class="card-circle__link" href="/cases/heineken/"></a>
									</div>
									<div class='card-circle card-circle--animated swiper-slide'>
										<div class="card-circle__decor">
											<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
												<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
												<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
												<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

											</svg>
										</div>
										<div class="card-circle__body">
											<div class="card-circle__bg">
												<div class="card-circle__image"><img src="/images/cases/06.webp" alt="фото довольного покупателя"></div>
											</div>
											<div class="card-circle__content">
												<p class='card-circle__title text-white'>Gloria Jeans</p>
												<p class='card-circle__description text-white text-xxs'>Открытия магазинов</p>
											</div>
										</div>
										<a class="card-circle__link" href="/cases/gloria-jeans"></a>
									</div>
									<div class='card-circle card-circle--animated swiper-slide'>
										<div class="card-circle__decor">
											<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
												<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
												<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
												<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

											</svg>
										</div>
										<div class="card-circle__body">
											<div class="card-circle__bg">
												<div class="card-circle__image"><img src="/images/cases/07.webp" alt="фото счастливых людей"></div>
											</div>
											<div class="card-circle__content">
												<p class='card-circle__title text-white'>Жизньмарт</p>
												<p class='card-circle__description text-white text-xxs'>открытия магазинов</p>
											</div>
										</div>
										<a class="card-circle__link" href="/cases/zhiznмart"></a>
									</div>
								</div>
							</div>
							<div class="services-cases__cta">
								<div class="button button-secondary ">
									<a href='/portfolio'>Смотреть все кейсы</a>

								</div>
							</div>
						</div>
					</div>
				</section>

				<div class="corporate-events__form-2-widget form-2-widget mb-200">
					<div class="form-2-widget__container">
						<div class="form-2-widget__body">
							<div class="form-2-widget__form-2 form-2 ">
								<div class="form-2__head">
									<div class="form-2__title">Оставьте заявку, и мы просчитаем стоимость вашего мероприятия</div>
								</div>
								<div>
									<form class="form-2__form text-gray form" action="" method='post'>
										<div class="form__loader">
											<img src="/images/SvgSpinnersBlocksScale.svg" alt="" />
										</div>
										<div class='form-2__row'><input class="input form-2__input form-2-input" id='form-2-name' type="text" name='name' placeholder=''><label for="form-2-name">Имя</label></div>
										<div class='form-2__row'>
											<div class='search-with-dropdown' data-search-block>
												<div class="search-input dropdown-initializer" data-search-input>
													<input class="input form-2__input form-2-input" id='city' type="text" autocomplete="off" autocomplete="new-password" name='city' placeholder=''>
													<label for="city">Город</label>
													<input class='hide' type="text" name='city_id'>
												</div>
												<div class="search-results hide " data-search-results>
													<div class='dropdown-container' data-dropdown-list>
														<ul class="dropdown-list text-xxs">
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class='form-2__row'><input class="input form-2__input form-2-input" id='form-2-phone' type="tel" name='phone' placeholder=''><label for="form-2-phone">Телефон</label></div>
										<div class='form-2__row'><textarea class="input form-2__input form-2-input" id='form-2-budget' type="text" name='comment' placeholder=''></textarea><label for="form-2-budget">Расскажите более подробно, что нужно организовать:</label></div>
										<div class='form-2__row'>
											<div class='form-2__row'>
												<div class='form-2__checkbox'>
													<input class="input form-2__input form-2-input" id='form-2-agreement' type="checkbox" name='agreement' required>
													<label for="form-2-agreement">
														<p>я принимаю условия <a href="/privacy" target="blank">Политики конфиденциальности</a>, и даю согласие на обработку персональных данных</p>
													</label>

												</div>
											</div>
										</div>
										<div class='form-2__action'>
											<div class="button button-color button-xl">
												<button type="submit" class="" id="submit-btn">Оставить заявку</button>
											</div>
										</div>
										<input class='input fn' type="text" id='fn' name='fn'>
									</form>
								</div>
							</div>
							<div class="form-2-widget__image">
								<div class="circl-with-image">
									<div class="circl-with-image__image">
										<img src="/images/corporate-events/girl-with-camera.webp" alt="">
									</div>
									<div class="circl-with-image__decor">
										<img src="/images/decor/circles_accent.svg" alt="">
									</div>
									{{!-- <div class="circl-with-image__content">
									</div> --}}
								</div>
							</div>
						</div>
					</div>
				</div>

				<section class="corporate-events__cities cities mb-200">
					<div class="corporate-events__head mb-140">
						<div class="big-decorate-title text-bordered"><span>.</span>Провести промоакцию</div>
						<div class='corporate-events__container'>
							<h2 class="corporate-events__title h2"><span>.</span>Организовываем мероприятия по всей России:</h2>
						</div>
					</div>
					<div class="corporate-events__body">
						<div class="corporate-events__container">
							<ul class="cities__list text-gray text-s" data-links-list></ul>
						</div>
					</div>
				</section>
			</main>
			{{> widgets/footer/footer}}
			{{#> widgets/popup/popup type='request-popup'}}
				<div class="main__full-width-form full-width-form">
					<div class="full-width-form__container">
						<div class="full-width-form__head">
							<div class="full-width-form__title">
								<h5 class='h5 text-white'>Закажите услугу</h5>
							</div>
							<div class="full-width-form__sub-title">
								<p class="text-s text-white">Планируете организовать корпоратив, тимбилдинг, мероприятие для клиентов?</p>
							</div>
						</div>
						<div class="full-width-form__body">
							<form class="full-width-form__form form" method='post'>
								<div class="form__loader">
									<img src="/images/SvgSpinnersBlocksScale.svg" alt="" />
								</div>
								<div class="form__row">
									<div class='input-block text-white'>
										<input class="input" name="name" id="name" type="text" placeholder="" />
										<label for="name">Имя</label>
										<input class="input fn" name="fn" id="fn" type="text" required />
									</div>
									<div class='input-block'>
										<div class='search-with-dropdown' data-search-block>
											<div class="search-input dropdown-initializer text-white" data-search-input>
												<input class="input" id='city' type="text" autocomplete="off" autocomplete="new-password" name='city' placeholder=''>
												<label for="city">Укажите город</label>
												<input class='hide' type="text" name='city_id'>
											</div>
											<div class="search-results hide " data-search-results>
												<div class='dropdown-container' data-dropdown-list>
													<ul class="dropdown-list text-xxs">
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class='input-block text-white'>
										<input class="input" name="phone" id="phone" type="tel" placeholder="" required />
										<label for="phone">Телефон</label>
									</div>
								</div>
								<div class="form__row">
									<div class='input-block text-white'>
										<textarea class="input" name="comment" id="message" rows="1"></textarea>
										<label for="message">Опишите, что вам требуется организовать</label>
									</div>
								</div>
								<div class="form__row">
									<div class="button button-light button-xl">
										<button>Оставить заявку</button>
									</div>
									<div class='input-block checkbox text-white'>
										<input class='checkbox__input' type="checkbox" id="checkbox-input" name="agreement" required />
										<label class='checkbox__label text-xxs text-white' for="agreement">
											<p>я принимаю условия <a href="/privacy" target="blank">Политики конфиденциальности</a>, и даю согласие на обработку персональных данных</p>
										</label>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			{{/widgets/popup/popup}}
			{{#> widgets/popup/popup type='request-popup-form-3'}}
				<div class="corporate-events__form-3-widget form-3-widget">
					<div class='corporate-events__container'>
						<div class="form-3-widget__head">
							<div class="form-3-widget__title">Рассчитайте стоимость мероприятия за пару минут!</div>
						</div>
						<div class="form-3-widget__body">
							<div class="form-3-widget__form-3 form-3 text-gray">
								<form class="form-2__form form" method='post'>
									<div class="form__loader">
										<img src="/images/SvgSpinnersBlocksScale.svg" alt="" />
									</div>
									<div class='form-2__row'><input class="input form-2__input form-2-input" id='form-2-name' type="text" name='name' placeholder=''><label for="form-2-name">Введите имя</label></div>
									<div class='form-2__row'><input class="input form-2__input form-2-input" id='form-2-phone' type="tel" name='phone' placeholder=''><label for="form-2-phone">Введите телефон</label></div>
									<div class='form-2__row'><input class="input form-2__input form-2-input" id='form-2-company-name' type="text" name='brand' placeholder=''><label for="form-2-company-name">Введите название компании</label></div>
									<div class='form-2__row'><textarea class="input form-2__input form-2-input" id='form-2-budget' type="text" name='comment' placeholder=''></textarea><label for="form-2-budget">Расскажите более подробно, что нужно организовать:</label></div>
									<div class='form-2__row'>
										<div class='form-2__row'>
											<div class='form-2__checkbox'>
												<input class="input form-2__input form-2-input" id='form-2-agreement' type="checkbox" name='agreement' required>
												<label for="form-2-agreement">
													<p>я принимаю условия <a href="/privacy" target="blank">Политики конфиденциальности</a>, и даю согласие на обработку персональных данных</p>
												</label>

											</div>
										</div>
									</div>
									<div class='form-2__action'>
										<div class="button button-color button-xl">
											<button type="submit" class="" id="submit-btn">Оставить заявку</button>
										</div>
									</div>
									<input class='input fn' type="text" id='fn' name='fn'>
								</form>
							</div>
							<div class="form-3-widget__image">
								<img src="/images/corporate-events/clock-with-hands.webp" alt="">
							</div>
						</div>
					</div>
				</div>
			{{/widgets/popup/popup}}

		</div>
	</body>

</html>
