<!DOCTYPE html>
<html lang='ru'>

	<head>
		{{> app/head title='razumnye-ot-naroda | Webpack-template'}}
	</head>

	<body>
		<div class='page page-cases wrapper'>

			{{> app/loader/loader}}


			{{> widgets/header/header}}

			<div class="razumnye-ot-naroda__breadcrumb">
				<div class="razumnye-ot-naroda__container">
					<nav class="breadcrumb">
						<ul itemscope itemtype="https://schema.org/BreadcrumbList" aria-label="Breadcrumb">
							<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
								<a class='link-header' itemprop="item" href="/">
									<span itemprop="name">Главная</span>
								</a>
								<meta itemprop="position" content="1" />
							</li>
							<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
								<a class='link-header' itemprop="item" href="javascript:void(0)">
									<span itemprop="name">Портфолио</span>
								</a>
								<meta itemprop="position" content="2" />
							</li>
							<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
								<a class='link-header' itemprop="item" href="javascript:void(0)">
									<span itemprop="name">razumnye-ot-naroda</span>
								</a>
								<meta itemprop="position" content="3" />
							</li>
						</ul>
						<div class="breadcrumb__next"><a class='link-header' href="/cases/tnt">Следующий проект<span class='icon-arrow'></span></a></div>
					</nav>
				</div>
			</div>

			<main class='razumnye-ot-naroda'>

				<section class="razumnye-ot-naroda__two-rows-fw-image two-rows-fw-image">
					<div class="two-rows-fw-image__block">
						<div class="two-rows-fw-image__column">
							<div class="two-rows-fw-image__container">
								<div class="two-rows-fw-image__content">
									<div class="two-rows-fw-image__head">
										<h2><span>.</span>Разумные<wbr/>от&nbsp;народа</h2>
										<p class='subtitle'>Организация практической конференции «Разумные от народа» для обмена опытом в сфере беспилотных летательных аппаратов</p>
									</div>
									<div class="two-rows-fw-image__body">
										<div class="two-rows-fw-image__text text">
											<p><b class='text-bold'>Период проведения: </b>декабрь 2022 года</p>
											<p><b class='text-bold'>География: </b>г.Ульяновск</p>
										</div>
										<h6 class='text-l text-bold'>Реализация:</h6>
										<ul class="two-rows-fw-image__list">
											<li class="two-rows-fw-image__item item-with-marker">
												<span class='item-with-marker__marker icon-star-4pins'></span>
												<p>Выбор и подготовка площадки к мероприятию.</p>
											</li>
											<li class="two-rows-fw-image__item item-with-marker">
												<span class='item-with-marker__marker icon-star-4pins'></span>
												<p>Предоставление оборудования, пресс-волла.</p>
											</li>
											<li class="two-rows-fw-image__item item-with-marker">
												<span class='item-with-marker__marker icon-star-4pins'></span>
												<p>Профессиональная фотосъемка мероприятия.</p>
											</li>
											<li class="two-rows-fw-image__item item-with-marker">
												<span class='item-with-marker__marker icon-star-4pins'></span>
												<p>Организация выездного кейтеринга.</p>
											</li>
										</ul>
										<div class="text">
											<b>Мероприятие получило активные отзывы специалистов в данной области.</b>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class='two-rows-fw-image__column'>
							<div class="two-rows-fw-image__images">

								<div class='two-rows-fw-image__image'>
									<div class='swiper-wrapper'>
										<div class='image-full-width swiper-slide'>
											<img src="/images/cases/razumnye-ot-naroda/02.webp" alt="фото выступающего на конференции">
										</div>
										<div class='image-full-width swiper-slide'>
											<img src="/images/cases/razumnye-ot-naroda/03.webp" alt="фото выступающего на конференции">
										</div>
										<div class='image-full-width swiper-slide'>
											<img src="/images/cases/razumnye-ot-naroda/01.webp" alt="фото присутствующих гостей на конференции">
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
					{{> widgets/navPrevNext/navPrevNext prev='/cases/eastern-special-equipment' next='/cases/tnt'}}

				</section>

				<div class='card-circle'>
					<div class="card-circle__decor">

						<svg width="100%" height="100%" viewBox="0 0 1293 1293" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="646" cy="646" r="147.5" stroke="#F1F8FF" stroke-opacity="0.15" />
							<circle cx="646" cy="646" r="227" stroke="#F1F8FF" stroke-opacity="0.15" />
							<circle cx="646" cy="646" r="308" stroke="#F1F8FF" stroke-opacity="0.17" />
							<circle cx="646" cy="646" r="525.5" stroke="#F1F8FF" stroke-opacity="0.17" />
							<circle cx="646" cy="646" r="404" stroke="#F1F8FF" stroke-opacity="0.5" />
							<circle cx="646" cy="646" r="646" stroke="#F1F8FF" stroke-opacity="0.5" />
							<circle cx="646" cy="646" r="197.5" stroke="#F1F8FF" stroke-opacity="0.15" stroke-width="4" />
							<circle cx="646" cy="646" r="455" stroke="#F1F8FF" stroke-opacity="0.15" stroke-width="4" />
						</svg>
					</div>
					<div class="card-circle__body">
						<div class="card-circle__bg">
							<div class="card-circle__image"><img src="/images/cases/08.webp" alt="фото полиграфии и pos-материалов"></div>
						</div>
					</div>
				</div>

			</main>
			{{> widgets/footer/footer}}
			{{!-- <a href="components"><img width='100px' height='100px' src="./images/favicon.png" alt=""></a> --}}
		</div>
	</body>

</html>
