<nav class="header__menu header-menu">
	<ul class="header-menu__list">
		<li class="header-menu__item"><span class='header-menu__link link-header' href='javascript:void(0)'>Компания</span>{{> widgets/subList/subList}}</li>
		<li class="header-menu__item"><a class='header-menu__link link-header' href='javascript:void(0)'>Портфолио</a></li>
		<li class="header-menu__item"><a class='header-menu__link link-header' href='/contacts'>Контакты</a></li>
		<li class="header-menu__item"><a class='header-menu__link link-header' href='/assets/presentation_BTL.pdf'>Презентация</a></li>

	</ul>
	<div class="header-menu__cta">
		<div class="button button-color button-s">
			<a href='javascript:void(0)'>Заявка</a>
		</div>
	</div>
</nav>
