<nav class="header__menu header-menu">
	<ul class="header-menu__list">
		<li class="header-menu__item"><a class='header-menu__link link-header' href='/event'>Event</a></li>
		<li class="header-menu__item"><a class='header-menu__link link-header' href='/pr'>PR</a></li>
		<li class="header-menu__item"><a class='header-menu__link link-header' href='/btl'>BTL</a></li>
		<li class="header-menu__item"><a class='header-menu__link link-header' href='/promotional-staff'>Промоперсонал</a></li>
		<li class="header-menu__item"><span class='header-menu__link link-header' href='javascript:void(0)'>Компания</span>{{> widgets/subList/subList}}</li>

	</ul>
	<div class="header-menu__cta">
		<div class="button button-color button-s" data-popup-type='request-popup'>
			<button>Заявка</button>
		</div>
	</div>
</nav>
