<!DOCTYPE html>
<html lang='ru'>

	<head>
		{{> app/head canonical='https://probtl.ru/pr' title='PR | proBTL' description='Полный спектр услуг в сфере BTL и Event. Организация мероприятий под ключ. Корпоративы. Бизнес-события. Праздники. Реализация промоакций в городах РФ. Собственный штат промоутеров.' ogImage='https://probtl.ru/images/main-page/01.webp'}}
	</head>

	<body>
		<div class='page page__event wrapper'>

			{{> app/loader/loader}}

			{{> widgets/header/header}}

			<main class='event-page'>


				<section class="main__services services">
					<div class="services__container">
						<h2 class='h2'><span>.</span>PR</h2>
						<div class="services__text text">
							<p>Мы помогаем компаниям повысить свою узнаваемость, укрепить репутацию и привлечь новых клиентов, партнеров и инвесторов. Работаем с запросами событийного PR любой сложности — от организации презентации продукта до комплексного PR-cопровождения вашего проекта.</p>
						</div>
						<h3>Наша команда оказывает полный спектр коммуникационных услуг:</h3>
						<ul class="services__list">
							<li class="services__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Разработка и реализация PR-стратегии</li>
							<li class="services__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Создание и продвижение видео- и фотоконтента</li>
							<li class="services__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Копирайтинг</li>
							<li class="services__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Оценка эффективности PR-кампании</li>
							<li class="services__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Размещение публикаций в СМИ и социальных сетях, работа с блогерами</li>
							<li class="services__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Полная отчётность</li>
						</ul>
						<p class='services__text text'>В нашем штате работают менеджеры по организации мероприятий, копирайтеры и PR-специалисты, у которых есть налаженные связи со СМИ и блогерами.</p>
						<div class="services__row">
							<div class='services__column'>
								{{> widgets/quote/quote quote='Про репутацию, про узнаваемость, про лояльность клиентов — ПРОБТЛ.' remark='— Екатерина Филиппова, руководитель PR-направления' }}
							</div>
							<div class='services__column'>
								{{> shared/squareImage/squareImage imgSrc='/images/team/Katia.webp' position='top'}}
							</div>
						</div>
					</div>
		</div>

		</section>

		<div class="event-page__team">
			<div class="event-page__container">
				<div class="event-page__head">
					<h6 class='text-l text-bold'>Наша команда по направлению PR:</h6>
				</div>
				<div class="event-page__body">
					{{#> widgets/cardCirclePlate/CardCirclePlate imgSrc='/images/team/square photos/Kondrat.webp' imgAlt='фото сотрудника'}}
						<p class='text-s'>Дарья</p>
					{{/widgets/cardCirclePlate/CardCirclePlate}}

					{{#> widgets/cardCirclePlate/CardCirclePlate imgSrc='/images/team/square photos/Neretina.webp' imgAlt='фото сотрудника'}}
						<p class='text-s'>Дарья</p>
					{{/widgets/cardCirclePlate/CardCirclePlate}}

					{{#> widgets/cardCirclePlate/CardCirclePlate imgSrc='/images/team/square photos/Masha-2.webp' imgAlt='фото сотрудника'}}
						<p class='text-s'>Мария</p>
					{{/widgets/cardCirclePlate/CardCirclePlate}}

					{{#> widgets/cardCirclePlate/CardCirclePlate imgSrc='/images/team/square photos/foto-44.webp' imgAlt='фото сотрудника'}}
						<p class='text-s'>Алина</p>
					{{/widgets/cardCirclePlate/CardCirclePlate}}
				</div>

			</div>
		</div>
		<div class="main__form-with-image form-with-image" id='main-form'>
			<div class="services-tabs-item ">
				<div class="services-tabs-item__image">
					<img src="/images/main-page/02.webp" alt="фото вечеринки">
					<div class='services-tabs-item__image-title'>
						<p class="text-white text-l text-bold">Если у вас остались вопросы - мы поможем разобраться!</p>
					</div>
				</div>
				<div class="services-tabs-item__content">
					<div class="services-tabs-item__container">
						<svg class='decor-top' width="627" height="642" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
							<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
							<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
							<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />
							<g filter="url(#filter0_d_543_3420)">
								<path d="M622.608 316.944C622.608 491.779 484.207 633.496 313.5 633.496C142.793 633.496 4.39177 491.779 4.39177 316.944C4.39177 142.108 142.793 0.391772 313.5 0.391772C484.207 0.391772 622.608 142.108 622.608 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" shape-rendering="crispEdges" />
							</g>
							<defs>
								<filter id="filter0_d_543_3420" x="0" y="0" width="627" height="641.887" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
									<feFlood flood-opacity="0" result="BackgroundImageFix" />
									<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
									<feOffset dy="4" />
									<feGaussianBlur stdDeviation="2" />
									<feComposite in2="hardAlpha" operator="out" />
									<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
									<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_543_3420" />
									<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_543_3420" result="shape" />
								</filter>
							</defs>
						</svg>
						<div class="services-tabs-item__body">
							<h3><span class='text-accent'>.</span>Оставьте заявку, и мы просчитаем стоимость вашего мероприятия</h3>
							<form class="full-width-form__form form" method='post'>
								<div class="form__loader">
									<img src="/images/SvgSpinnersBlocksScale.svg" alt="" />
								</div>
								<div class="form__row">
									<div class='input-block text-accent'>
										<input class="input" name="name" id="name" type="text" placeholder="" />
										<label for="name">Имя</label>
									</div>
								</div>
								<div class="form__row">
									<div class='input-block text-accent'>
										<input class="input" name="city" id="city" type="text" placeholder="" />
										<label for="city">Город</label>
									</div>
								</div>
								<div class="form__row">
									<div class='input-block text-accent'>
										<input class="input" name="phone" id="phone" type="tel" placeholder="" required />
										<label for="phone">Телефон</label>
									</div>
								</div>
								<div class="form__row">
									<div class='input-block text-accent'>
										<textarea class="input" name="comment" id="message" rows="1"></textarea>
										<label for="message">Опишите, что вам требуется организовать</label>
									</div>
								</div>
								<div class="form__row">
									<div class='input-block checkbox'>
										<input class='checkbox__input' type="checkbox" id="checkbox-input" name="agreement" checked required />
										<label class='checkbox__label text-xs' for="agreement">Согласен на обработку персональных данных</label>
									</div>
								</div>
								<div class="form__row">
									<div class="button button-color button-xl">
										<button type="submit" class="" id="submit-btn">Оставить заявку</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>

		<section class="portfolio">

			<div class="portfolio__container">
				<div class="portfolio__head">
					<h3><span class="text-accent">.</span>Портфолио</h3>
				</div>
				<div class="portfolio__body">
					<div class='card-circle '>
						<div class="card-circle__decor">
							<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
								<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
								<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
								<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

							</svg>
						</div>
						<div class="card-circle__body">
							<div class="card-circle__bg">
								<div class="card-circle__image"><img src="/images/cases/21.webp" alt="фото корябля"></div>
							</div>
							<div class="card-circle__content">
								<p class='card-circle__title text-white'>Меrафон</p>
								<p class='card-circle__description text-white text-xxs'>Оператор связи</p>
							</div>
						</div>
						<a class="card-circle__link" href="/cases/megafon/"></a>
					</div>
					<div class='card-circle '>
						<div class="card-circle__decor">
							<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
								<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
								<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
								<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

							</svg>
						</div>
						<div class="card-circle__body">
							<div class="card-circle__bg">
								<div class="card-circle__image"><img src="/images/cases/14.webp" alt="фото участников"></div>
							</div>
							<div class="card-circle__content">
								<p class='card-circle__title text-white'>РЖД</p>
								<p class='card-circle__description text-white text-xxs'>Российские железные дороги</p>
							</div>
						</div>
						<a class="card-circle__link" href="/cases/rzhd/"></a>
					</div>
					<div class='card-circle '>
						<div class="card-circle__decor">
							<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
								<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
								<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
								<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

							</svg>
						</div>
						<div class="card-circle__body">
							<div class="card-circle__bg">
								<div class="card-circle__image"><img src="/images/cases/08.webp" alt="фото POS материалов"></div>
							</div>
							<div class="card-circle__content">
								<p class='card-circle__title text-white'>Разумные от народа</p>
							</div>
						</div>
						<a class="card-circle__link" href="/cases/razumnye-ot-naroda"></a>
					</div>
					<div class='card-circle '>
						<div class="card-circle__decor">
							<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
								<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
								<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
								<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

							</svg>
						</div>
						<div class="card-circle__body">
							<div class="card-circle__bg">
								<div class="card-circle__image"><img src="/images/cases/22.webp" alt="панарамное фото площадки"></div>
							</div>
							<div class="card-circle__content">
								<p class='card-circle__title text-white'>Red bull</p>
								<p class='card-circle__description text-white text-xxs'>Реализация ряда мероприятий</p>
							</div>
						</div>
						<a class="card-circle__link" href="/cases/red-bull/"></a>
					</div>
					<div class='card-circle '>
						<div class="card-circle__decor">
							<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
								<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
								<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
								<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

							</svg>
						</div>
						<div class="card-circle__body">
							<div class="card-circle__bg">
								<div class="card-circle__image"><img src="/images/cases/09.webp" alt="фото молодых людей"></div>
							</div>
							<div class="card-circle__content">
								<p class='card-circle__title text-white'>ТНТ</p>
							</div>
						</div>
						<a class="card-circle__link" href="/cases/tnt"></a>
					</div>
					<div class='card-circle '>
						<div class="card-circle__decor">
							<svg width="100%" height="100%" viewBox="0 0 627 642" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M481.57 316.552C481.57 411.547 406.314 488.54 313.5 488.54C220.686 488.54 145.43 411.547 145.43 316.552C145.43 221.557 220.686 144.564 313.5 144.564C406.314 144.564 481.57 221.557 481.57 316.552Z" stroke="white" stroke-width="0.783544" />
								<path d="M514.871 316.552C514.871 430.379 424.697 522.624 313.5 522.624C202.303 522.624 112.129 430.379 112.129 316.552C112.129 202.724 202.303 110.48 313.5 110.48C424.697 110.48 514.871 202.724 514.871 316.552Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="1.56709" />
								<path d="M540.336 316.16C540.336 444.295 438.91 548.089 313.892 548.089C188.874 548.089 87.4474 444.295 87.4474 316.16C87.4474 188.025 188.874 84.2308 313.892 84.2308C438.91 84.2308 540.336 188.025 540.336 316.16Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="3.91772" />
								<path d="M562.275 316.944C562.275 457.593 450.886 571.595 313.5 571.595C176.114 571.595 64.7248 457.593 64.7248 316.944C64.7248 176.295 176.114 62.2917 313.5 62.2917C450.886 62.2917 562.275 176.295 562.275 316.944Z" stroke="#0055B0" stroke-opacity="0.2" stroke-width="0.783544" />

							</svg>
						</div>
						<div class="card-circle__body">
							<div class="card-circle__bg">
								<div class="card-circle__image"><img src="/images/cases/05.webp" alt="фото нарядной спец техники"></div>
							</div>
							<div class="card-circle__content">
								<p class='card-circle__title text-white'>Восточная техника</p>
							</div>
						</div>
						<a class="card-circle__link" href="/cases/eastern-special-equipment"></a>
					</div>
				</div>
			</div>
		</section>
		</main>
		{{> widgets/footer/footer}}
		{{#> widgets/popup/popup type='request-popup'}}
			<div class="main__full-width-form full-width-form">
				<div class="full-width-form__container">
					<div class="full-width-form__head">
						<div class="full-width-form__title">
							<h5 class=' text-white'>Закажите услугу</h5>
						</div>
						<div class="full-width-form__sub-title">
							<p class="text-s text-white">Планируете организовать корпоратив, тимбилдинг, мероприятие для клиентов?</p>
						</div>
					</div>
					<div class="full-width-form__body">
						<form class="full-width-form__form form" method='post'>
							<div class="form__loader">
								<img src="/images/SvgSpinnersBlocksScale.svg" alt="" />
							</div>
							<div class="form__row">
								<div class='input-block text-white'>
									<input class="input" name="name" id="name" type="text" placeholder="" />
									<label for="name">Имя</label>
									<input class="input fn" name="fn" id="fn" type="text" required />
								</div>
								<div class='input-block text-white'>
									<input class="input" name="city" id="city" type="text" placeholder="" />
									<label for="city">Город</label>
								</div>
								<div class='input-block text-white'>
									<input class="input" name="phone" id="phone" type="tel" placeholder="" required />
									<label for="phone">Телефон</label>
								</div>
							</div>
							<div class="form__row">
								<div class='input-block text-white'>
									<textarea class="input" name="comment" id="message" rows="1"></textarea>
									<label for="message">Опишите, что вам требуется организовать</label>
								</div>
							</div>
							<div class="form__row">
								<div class="button button-light button-xl">
									<button type="submit" class="" id="submit-btn">Оставить заявку</button>
								</div>
								<div class='input-block checkbox text-white'>
									<input class='checkbox__input' type="checkbox" id="checkbox-input" name="agreement" checked required />
									<label class='checkbox__label text-xs text-white' for="agreement">Согласен на обработку персональных данных</label>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		{{/widgets/popup/popup}}
		<div class='success' style='visibility: hidden; display: none;'>
			<h3 class='text-white'>Заявка отправлена!</h3>
		</div>
		{{!-- <a href="components"><img width='100px' height='100px' src="/images/favicon.png" alt=""></a> --}}
		</div>
	</body>

</html>
