.row-50 {
   display: flex;
   gap: 20px;

   &__column {
      flex: 1 1 50%;

      &:not(:has(img)) {
         flex-shrink: 0;
      }
   }
   @media (width < $burger) {
      flex-direction: column;
      &__column {
         &:has(img) {
            @include adaptiveValue('flex-basis', 380, 182, 1100, 360, 1, false);
         }
      }
   }
}

//+ modificators
.width-full {
   width: 100% !important;
   flex-basis: 100% !important;
}
