.page-privacy {
   .header {
      position: relative;
   }

   main {
      background-color: white;

      ol {
         list-style: none;
         counter-reset: li;
         h2,
         h3,
         p {
            display: inline-block;
         }
      }
      ol > li:before {
         counter-increment: li;
         content: counters(li, '.') '. ';
      }

      ul li {
         list-style: unset !important;
      }
      a {
         color: #bf274d;
      }
   }

   .h1,
   .h2 {
      line-height: 1;
   }

   ul,
   ol {
      li:not(:last-child),
      div:not(:last-child) {
         margin-bottom: 10px;
      }

      li:not(:has(> ol)) {
         margin-bottom: 100px;
      }
   }

   div:has(> table) {
      overflow: hidden;
      border-radius: 20px;
      border: 1px solid #a7a7a7;
      margin: 20px 0;
   }

   table {
      width: 100%;
      border-spacing: 0;
      font-family: Arial, sans-serif;
      background-color: #fff;
   }

   ​ th,
   td {
      padding: 12px;
      text-align: left;
      border: 1px solid #ddd;
   }

   th {
      background-color: #f2f2f2;
      color: #333;
      font-weight: bold;
   }

   td {
      background-color: #fafafa;
   }

   tbody tr:nth-child(odd) td {
      background-color: #f9f9f9;
   }

   tbody tr:hover td {
      background-color: #f1f1f1;
   }

   // h2 {
   // 	margin-bottom: 70px !important;
   // }

   // p:not(:last-child),
   // ul:not(:last-child) {
   //    margin-bottom: 15px;
   // }

   // article:not(:last-child) {
   //    margin-bottom: 50px;
   // }
}
