<!DOCTYPE html>
<html lang='ru'>

	<head>
		{{> app/head canonical='https://probtl.ru/services' title='Организовываем мероприятия любой сложности' description='Полный спектр услуг в сфере BTL и Event. Организация мероприятий под ключ. Корпоративы. Бизнес-события. Праздники. Реализация промоакций в городах РФ. Собственный штат промоутеров.' ogImage='https://probtl.ru/images/main-page/01.webp'}}
	</head>

	<body>
		<div class='page page__services wrapper'>

			{{> app/loader/loader}}

			{{> widgets/header/header}}

			<main class='services-page'>


				<section class="main__services services">

					<div class="services__tabs services-tabs">
						<div data-tabs data-tabs-hash data-tabs-animate class="services-tabs">
							<nav data-tabs-titles class="services-tabs__navigation">
								<button type="button" class="services-tabs__title tab-title h4  _tab-active">EVENT-МАРКЕТИНГ</button>
								<button type="button" class="services-tabs__title tab-title h4 ">PR-СОБЫТИЯ</button>
								<button type="button" class="services-tabs__title tab-title h4 ">BTL</button>
							</nav>
							<div data-tabs-body class="services-tabs__items">
								<div>
									<article class="services-tabs__item services-tabs-item ">
										<div class="services-tabs-item__content">
											<div class="services-tabs-item__container">
												<div class="services-tabs-item__body">
													<h1><span>.</span>EVENT</h1>
													<div class="services-tabs-item__text text">
														<p>— то, на чем держится эмоциональная связь с брендом.</p>
														<p>У нас <span class='text-bold'>собственное производство</span>, которое изготавливает конструкции любой сложности, а также своя база промоперсонала. </p>
														<p>Работаем <span class='text-bold'>без посредников</span>, что уменьшает смету
															мероприятия.</p>
													</div>
													<ul class="services-tabs-item__list">
														<li class="services-tabs-item__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Корпоративные мероприятия</li>
														<li class="services-tabs-item__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Тимбилдинги</li>
														<li class="services-tabs-item__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Клиентские дни</li>
														<li class="services-tabs-item__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Профессиональные праздники</li>
														<li class="services-tabs-item__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Спортивные мероприятия</li>
													</ul>
													<div class="services-tabs-item__cta">
														<div class="button button-color button-xl" data-popup-type='request-popup'>
															<button>Заказать</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="services-tabs-item__image">
											<img src="/images/services/event.webp" alt="фото веселых людей">
										</div>
									</article>
								</div>
								<div>
									<article class="services-tabs__item services-tabs-item ">
										<div class="services-tabs-item__content">
											<div class="services-tabs-item__container">
												<div class="services-tabs-item__body">
													<h1><span>.</span>PR</h1>
													<div class="services-tabs-item__text text">
														<p>— опора в ваших отношениях с аудиторией.</p>
														<p>У нас <span class='text-bold'>собственное производство</span>, которое изготавливает конструкции любой сложности, а также своя база промоперсонала. </p>
														<p>Работаем <span class='text-bold'>без посредников</span>, что уменьшает смету
															мероприятия.</p>
													</div>
													<ul class="services-tabs-item__list">
														<li class="services-tabs-item__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Семинары</li>
														<li class="services-tabs-item__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Конференции</li>
														<li class="services-tabs-item__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Проведение выставок, вебинаров и форумов</li>
														<li class="services-tabs-item__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Взаимодействие со СМИ</li>
														<li class="services-tabs-item__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Круглые столы</li>
														<li class="services-tabs-item__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Пресс-туры</li>
													</ul>
													<div class="services-tabs-item__cta">
														<div class="button button-color button-xl" data-popup-type='request-popup'>
															<button>Заказать</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="services-tabs-item__image">
											<img src="/images/services/pr.webp" alt="много камер и папарацци">
										</div>
									</article>
								</div>
								<div>
									<article class="services-tabs__item services-tabs-item ">
										<div class="services-tabs-item__content">
											<div class="services-tabs-item__container">
												<div class="services-tabs-item__body">
													<h1><span>.</span>BTL</h1>
													<div class="services-tabs-item__text text">
														<p>— фундамент взаимодействия с потребителем здесь и сейчас.</p>
														<p>У нас <span class='text-bold'>собственное производство</span>, которое изготавливает конструкции любой сложности, а также своя база промоперсонала. </p>
														<p>Работаем <span class='text-bold'>без посредников</span>, что уменьшает смету
															мероприятия.</p>
													</div>
													<ul class="services-tabs-item__list">
														<li class="services-tabs-item__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Лифлетинг</li>
														<li class="services-tabs-item__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Семплинг</li>
														<li class="services-tabs-item__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Спреинг</li>
														<li class="services-tabs-item__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Дегустация</li>
														<li class="services-tabs-item__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Праздничные открытия торговых точек, офисов, салонов и пр.</li>
														<li class="services-tabs-item__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Анкетирования/опросы</li>
														<li class="services-tabs-item__list-item item-with-marker text-s"><span class='item-with-marker__marker icon-star-4pins'></span>Директ-мейл</li>
													</ul>
													<div class="services-tabs-item__cta">
														<div class="button button-color button-xl" data-popup-type='request-popup'>
															<button>Заказать</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="services-tabs-item__image">
											<img src="/images/services/btl.webp" alt="счастливая девушка с воздушными шарами">
										</div>
									</article>
								</div>
							</div>
						</div>
					</div>
				</section>



			</main>
			{{> widgets/footer/footer}}
			{{#> widgets/popup/popup type='request-popup'}}
				<div class="main__full-width-form full-width-form">
					<div class="full-width-form__container">
						<div class="full-width-form__head">
							<div class="full-width-form__title">
								<h5 class=' text-white'>Закажите услугу</h5>
							</div>
							<div class="full-width-form__sub-title">
								<p class="text-s text-white">Планируете организовать корпоратив, тимбилдинг, мероприятие для клиентов?</p>
							</div>
						</div>
						<div class="full-width-form__body">
							<form class="full-width-form__form form" method='post'>
								<div class="form__loader">
									<img src="/images/SvgSpinnersBlocksScale.svg" alt="" />
								</div>
								<div class="form__row">
									<div class='input-block text-white'>
										<input class="input" name="name" id="name" type="text" placeholder="" />
										<label for="name">Имя</label>
										<input class="input fn" name="fn" id="fn" type="text" required />
									</div>
									<div class='input-block text-white'>
										<input class="input" name="city" id="city" type="text" placeholder="" />
										<label for="city">Город</label>
									</div>
									<div class='input-block text-white'>
										<input class="input" name="phone" id="phone" type="tel" placeholder="" required />
										<label for="phone">Телефон</label>
									</div>
								</div>
								<div class="form__row">
									<div class='input-block text-white'>
										<textarea class="input" name="message" id="message" rows="1"></textarea>
										<label for="message">Опишите, что вам требуется организовать</label>
									</div>
								</div>
								<div class="form__row">
									<div class="button button-light button-xl">
										<button type="submit" class="" id="submit-btn">Оставить заявку</button>
									</div>
									<div class='input-block checkbox text-white'>
										<input class='checkbox__input' type="checkbox" id="checkbox-input" name="agreement" checked required />
										<label class='checkbox__label text-xs text-white' for="agreement">Согласен на обработку персональных данных</label>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			{{/widgets/popup/popup}}
			{{!-- <a href="components"><img width='100px' height='100px' src="/images/favicon.png" alt=""></a> --}}
		</div>
	</body>

</html>
